Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Paginate the row comments response
  backend/src/baserow/config/settings/base.py
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
Due: backend-lint

Change table name so it can be easily moved to the database app later on
  premium/backend/src/baserow_premium/migrations/0001_row_comments.py
  premium/backend/src/baserow_premium/row_comments/models.py
Due: none

fixed failing tests
  backend/requirements/base.txt
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

Do a much more performant/lightweight check that the row exists or not with a new RowHandler.has_row method which doesn't need to construct the full model + does a better exists query
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
Due: backend-lint

added real time checking
  backend/src/baserow/contrib/database/views/view_filters.py
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint, backend-lint

updated field docs
  backend/src/baserow/contrib/database/api/views/serializers.py
Due: backend-lint

Do a much more performant/lightweight check that the row exists or not with a new RowHandler.has_row method which doesn't need to construct the full model + does a better exists query
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/signals.py
  premium/backend/src/baserow_premium/config.py
  premium/backend/src/baserow_premium/row_comments/recievers.py
Due: backend-lint

wip
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/Comment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentSideBar.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/services/row_comments/row_comments.js
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/files/UserFilesModal.vue
  web-frontend/modules/core/components/settings/SettingsModal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/store/auth.js
  web-frontend/modules/database/applicationTypes.js
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint

Update to work with paginated endpoint
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
Due: none

Fix intellij auto breaking prettier on commit
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentSideBar.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint

Fix user id not being available and continue aligning comments
  backend/src/baserow/api/user/serializers.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/Comment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentSideBar.vue
Due: backend-lint

added comments styling
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments_tmp.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentSideBar.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/settings/SettingsModal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/database/applicationTypes.js
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint

changed old_password field to use regular input field instead of PasswordInput
  web-frontend/modules/core/components/helpers/PasswordInput.vue
  web-frontend/modules/core/components/settings/PasswordSettings.vue
Due: frontend-lint

refactored the view filter inputs a bit and fixed error in the link row select
  web-frontend/modules/database/components/view/ViewFilterContext.vue
  web-frontend/modules/database/components/view/ViewFilterTypeBoolean.vue
  web-frontend/modules/database/components/view/ViewFilterTypeDate.vue
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
  web-frontend/modules/database/components/view/ViewFilterTypeSelectOptions.vue
  web-frontend/modules/database/components/view/ViewFilterTypeTimeZone.vue
  web-frontend/modules/database/mixins/filterTypeInput.js
  web-frontend/modules/database/mixins/viewFilter.js
  web-frontend/modules/database/store/view.js
Due: frontend-lint

fixed some final focs
  web-frontend/modules/database/mixins/viewFilter.js
  web-frontend/modules/database/services/row.js
  web-frontend/modules/database/store/view.js
Due: frontend-lint

removed not needed change
  changelog.md
Due: none

removed some not needed code
  web-frontend/modules/core/components/settings/PasswordSettings.vue
Due: frontend-lint

added order tot the form view field options
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
Due: backend-lint

Move example folder out of the baserow source dir to avoid dev.sh warnings + remind to build
  docs/guides/baserow-docker-how-to.md
Due: none

Remove unneeded param as signal is now used, add docs for signal
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registries.py
  backend/src/baserow/core/trash/signals.py
  backend/src/baserow/core/trash/trash_types.py
Due: backend-lint

Don't expose userId to frontend and instead pass an own_comment flag per comment, convert scafolding HTML to be dynamic with Vue, delete old scss
  backend/src/baserow/api/serializers.py
  backend/src/baserow/api/user/serializers.py
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments_tmp.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  web-frontend/modules/core/store/auth.js
Due: frontend-lint, backend-lint

Sort in descending to show the latest comments first, use select_related instead of prefetch as not m2m and so faster, fix docstring.
  backend/src/baserow/core/trash/signals.py
  premium/backend/src/baserow_premium/migrations/0001_row_comments.py
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/src/baserow_premium/row_comments/models.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
Due: backend-lint

changed api docs route
  changelog.md
  docs/getting-started/api.md
  web-frontend/modules/core/routes.js
  web-frontend/modules/database/routes.js
Due: frontend-lint

added redirects from the old url to the new url
  web-frontend/modules/database/routes.js
Due: frontend-lint

fixed typo
  web-frontend/modules/core/routes.js
  web-frontend/modules/database/routes.js
Due: frontend-lint

wip
  backend/src/baserow/config/settings/base.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/src/baserow_premium/migrations/0001_row_comments.py
  premium/backend/src/baserow_premium/row_comments/models.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/services/row_comments/row_comments.js
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/core/assets/scss/components/infinite_scroll.scss
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
Due: frontend-lint, backend-lint

added new field type to field_types as well as new function which will be called every time a row value updates
  web-frontend/modules/database/fieldTypes.js
Due: frontend-lint

added new components for displaying last_modified fields; added event to GridViewHead so that adding a new field can refresh the view
  web-frontend/modules/database/components/field/CreateFieldContext.vue
  web-frontend/modules/database/components/row/RowEditFieldDateReadOnly.vue
  web-frontend/modules/database/components/row/RowEditModalField.vue
  web-frontend/modules/database/components/view/grid/GridViewHead.vue
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldDateReadOnly.vue
Due: frontend-lint

added last_modified field type to view filters
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

called onRowChange for every field type when updating a cell
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

removed not needed code
  backend/src/baserow/contrib/database/api/views/grid/views.py
Due: backend-lint

moved basic date functionality to the mixings and created new last modified field
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0035_lastmodifiedfield.py
  backend/src/baserow/core/mixins.py
Due: backend-lint

added should_do_schema change to field types
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/table/models.py
Due: backend-lint

updates
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

removed not needed console-logs
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

relaxed the URL validator
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  changelog.md
  web-frontend/modules/core/utils/string.js
  web-frontend/test/unit/core/utils/string.spec.js
Due: frontend-lint, backend-lint

stash
  backend/src/baserow/contrib/database/api/rows/views.py
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint, backend-lint

removed not needed test and made the checking a bit more robust
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  web-frontend/modules/core/utils/string.js
  web-frontend/test/unit/core/utils/string.spec.js
Due: frontend-lint, backend-lint

fixed failing test
  backend/tests/baserow/contrib/database/field/test_field_types.py
Due: backend-lint

removed not needed class
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/fields.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
