Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Fix reference to duplicate constant path.
  backend/src/baserow/contrib/database/fields/handler.py
Due: backend-lint

Add better logging statements for the trash tasks
  backend/src/baserow/core/trash/handler.py
Due: backend-lint

Fix bad rename
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/table/TableTemplate.vue
Due: frontend-lint

Fix bad intellij auto import
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

only show error in the field form if the value is dirty
  web-frontend/modules/database/components/field/FieldForm.vue
Due: frontend-lint

Add some initial ideas for issue templates
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Change Request.md
  .gitlab/issue_templates/Feature Request.md
Due: none

Display the actual field name in the error when user field names = true
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
Due: backend-lint

Fix incorrect merge choice
  backend/src/baserow/contrib/database/api/tables/errors.py
Due: backend-lint

Add class to ensure dropdown always expanded nicely.
  web-frontend/modules/database/components/docs/APIDocsExample.vue
Due: frontend-lint

reload form field options when a field has been restored
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint

show error when the file is not an image
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/components/view/form/FormViewImageUpload.vue
Due: frontend-lint

show a warning that the user redirected to another page
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/pages/form.vue
Due: frontend-lint

made it possible to mark field types as incompatible with the form view
  backend/src/baserow/contrib/database/api/views/form/errors.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
  web-frontend/modules/database/components/view/form/FormViewSidebarField.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/formViewHelpers.js
  web-frontend/modules/database/store/view/form.js
Due: frontend-lint, backend-lint

fixed link row field race condition in the form preview
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewFieldLinkRow.vue
Due: frontend-lint

pleased linter
  backend/src/baserow/contrib/database/api/views/form/errors.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint

fixed paste xss in the editable component
  web-frontend/modules/core/components/Editable.vue
Due: frontend-lint

fixed feedback
  changelog.md
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/core/directives/userFileUpload.js
  web-frontend/modules/database/components/view/form/FormViewImageUpload.vue
Due: frontend-lint

fixed api docs
  backend/src/baserow/api/__init__.py
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/api/extensions.py
  backend/src/baserow/api/openapi.py
  backend/src/baserow/api/templates/views.py
  backend/src/baserow/api/user_files/serializers.py
  backend/src/baserow/api/utils.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/form/serializers.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/migrations/0034_form_view.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/view_types.py
Due: backend-lint

use the get_human_readable_value method to render the related instance to a string
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/table/test_table_models.py
  web-frontend/modules/core/assets/scss/components/views/form.scss
Due: frontend-lint, backend-lint

pleased linter
  backend/src/baserow/contrib/database/api/fields/serializers.py
Due: backend-lint

use secrets.token_urlsafe instead of a uuid to generate a url slug
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/migrations/0034_form_view.py
  backend/src/baserow/contrib/database/views/models.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint

renamed create row method to force_create_row
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/views/handler.py
Due: backend-lint

fixed validation problem and title description whitespace when they are empty
  backend/src/baserow/contrib/database/views/view_types.py
  web-frontend/modules/database/components/view/form/FormPageField.vue
  web-frontend/modules/database/components/view/form/FormViewPoweredBy.vue
  web-frontend/modules/database/pages/form.vue
Due: frontend-lint, backend-lint

fixed final docs
  backend/src/baserow/api/extensions.py
  backend/src/baserow/api/user_files/serializers.py
  backend/src/baserow/api/utils.py
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  web-frontend/modules/database/components/view/form/FormViewMeta.vue
  web-frontend/modules/database/components/view/form/FormViewRotateSlugModal.vue
Due: frontend-lint, backend-lint

added missing docs
  web-frontend/modules/database/store/view/form.js
Due: frontend-lint

pleased linter
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
Due: backend-lint

removed grid view user names
  backend/src/baserow/contrib/database/api/views/grid/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  changelog.md
Due: backend-lint

please linter
  backend/src/baserow/contrib/database/api/views/grid/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
Due: backend-lint

minor changes
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/rows/handler.py
  web-frontend/modules/database/components/docs/APIDocsExample.vue
Due: frontend-lint, backend-lint

fixed feedback
  deploy/heroku/Dockerfile
  deploy/heroku/README.md
  deploy/heroku/nginx.conf
Due: none

changed docker
  deploy/heroku/Dockerfile
Due: none

fixed typo
  deploy/heroku/Dockerfile
Due: none

changed copy
  deploy/heroku/Dockerfile
Due: none

changed copy directory
  deploy/heroku/Dockerfile
Due: none

use git clone
  deploy/heroku/Dockerfile
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix typo
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Change Request.md
  .gitlab/issue_templates/Feature Request.md
Due: none

Tiny final changes
  .gitlab/issue_templates/Feature Request.md
Due: none

added a new password input component
  premium/web-frontend/.prettierrc
  web-frontend/modules/core/components/helpers/PasswordInput.vue
  web-frontend/test/unit/core/components/passwordInput.spec.js
Due: frontend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
