Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Fix alias
  web-frontend-next/nuxt.config.ts
Due: none

Fix clientHandler reference
  web-frontend-next/modules/core/store/settings.js
Due: none

Refactor password input component
  web-frontend-next/modules/core/components/auth/PasswordRegister.vue
  web-frontend-next/modules/core/components/helpers/PasswordInput.vue
  web-frontend-next/modules/core/pages/signup.vue
  web-frontend-next/yarn.lock
Due: none

Finish registration
  web-frontend-next/modules/core/components/auth/PasswordRegister.vue
  web-frontend-next/modules/core/components/helpers/PasswordInput.vue
  web-frontend-next/modules/core/routes.js
  web-frontend-next/modules/core/store/auth.js
  web-frontend-next/modules/core/store/workspace.js
  web-frontend-next/modules/core/utils/auth.js
  web-frontend-next/modules/core/utils/workspace.js
Due: none

Fix authenticaton middleware
  web-frontend-next/modules/core/layouts/app.vue
  web-frontend-next/modules/core/middleware/authentication.js
  web-frontend-next/modules/core/module.js
  web-frontend-next/modules/core/pages/index.vue
  web-frontend-next/modules/core/store/auth.js
  web-frontend-next/modules/core/utils/auth.js
Due: none

Fix dev docker image
  docker-compose.dev.yml
  web-frontend-next/.vite/deps/_metadata.json
  web-frontend-next/.vite/deps/package.json
  web-frontend-next/.vite/deps/vue.js
  web-frontend-next/.vite/deps/vue.js.map
  web-frontend-next/Dockerfile
  web-frontend-next/docker/docker-entrypoint.sh
  web-frontend-next/modules/core/module.js
  web-frontend-next/modules/core/plugins/clientHandler.js
Due: none

remove console.log
  web-frontend-next/modules/core/utils/auth.js
Due: none

Small fixings
  web-frontend-next/modules/core/pages/index.vue
  web-frontend-next/modules/core/store/auth.js
  web-frontend-next/modules/core/utils/auth.js
Due: none

Add length is greater than filter
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/view_filters.py
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint, backend-lint

Add tests for the new filter
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  web-frontend/test/unit/database/components/view/__snapshots__/viewFilterForm.spec.js.snap
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: frontend-lint, backend-lint

Add translations
  web-frontend/locales/cs.json
  web-frontend/locales/de.json
  web-frontend/locales/en.json
  web-frontend/locales/es.json
  web-frontend/locales/fr.json
  web-frontend/locales/id.json
  web-frontend/locales/it.json
  web-frontend/locales/ja.json
  web-frontend/locales/mr.json
  web-frontend/locales/nb_NO.json
  web-frontend/locales/nl.json
  web-frontend/locales/pl.json
  web-frontend/locales/pt_BR.json
  web-frontend/locales/ru.json
  web-frontend/locales/uk.json
  web-frontend/locales/zh_Hans.json
Due: frontend-lint

Update changelog
  changelog.md
Due: none

Fix incorrect equality check
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

Tests tests tests
  backend/src/baserow/api/integrations/serializers.py
  backend/src/baserow/contrib/integrations/local_baserow/integration_types.py
  backend/src/baserow/core/integrations/service.py
  backend/tests/baserow/api/integrations/test_integration_views.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_integration_types.py
  backend/tests/baserow/core/integrations/test_integration_service.py
Due: backend-lint

Restore style box form
  web-frontend/modules/builder/components/page/sidePanels/StyleForm.vue
Due: frontend-lint

Add test for ensureString
  web-frontend/modules/core/pages/styleGuide.vue
Due: frontend-lint

Removing a log
  web-frontend/modules/core/components/integrations/IntegrationCreateEditModal.vue
Due: frontend-lint

Use data source in pages
  backend/src/baserow/core/formula/data_ledger.py
  backend/src/baserow/core/formula/exceptions.py
  web-frontend/modules/builder/components/page/FakeBrowserBar.vue
  web-frontend/modules/core/assets/scss/components/builder/fake_browser_bar.scss
  web-frontend/modules/core/components/formula/FormulaInput.vue
  web-frontend/modules/core/dataLedger.js
Due: frontend-lint, backend-lint

Change style tab a bit to make it more compatible with the general panel form
  web-frontend/modules/builder/components/page/sidePanels/StyleForm.vue
Due: frontend-lint

On second thought, that's going to prevent the instance owner from creating integrations for themselves
  backend/src/baserow/api/integrations/serializers.py
Due: backend-lint

Rename data ledger
  backend/src/baserow/core/formula/data_ledger.py
  web-frontend/modules/core/dataLedger.js
Due: frontend-lint, backend-lint

First feedbacks
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  web-frontend/modules/builder/components/page/FakeBrowserBar.vue
  web-frontend/modules/builder/components/page/sidePanels/StyleForm.vue
Due: frontend-lint, backend-lint

Adding a serializer field specifically for integration authorized users.
  backend/src/baserow/api/integrations/serializers.py
Due: backend-lint

Move data source initialzation inside asyncData hook
  backend/src/baserow/core/formula/data_ledger.py
  backend/src/baserow/core/formula/types.py
  web-frontend/modules/core/dataLedger.js
Due: frontend-lint, backend-lint

View tests which raise a ERROR_INTEGRATION_AUTHORIZED_USER_INVALID error
  backend/src/baserow/api/integrations/views.py
  backend/src/baserow/contrib/builder/api/errors.py
  backend/src/baserow/contrib/builder/errors.py
  backend/tests/baserow/api/integrations/test_integration_views.py
Due: backend-lint

Only show the Baserow local integration warning if the logged-in user is the integration user.
  web-frontend/modules/core/components/integrations/IntegrationCreateEditModal.vue
  web-frontend/modules/core/integrationTypes.js
  web-frontend/modules/integrations/integrationTypes.js
Due: frontend-lint

Making authorizedUserConfirmation more generic
  web-frontend/modules/integrations/locales/en.json
Due: frontend-lint

Fix feedbacks
  web-frontend/modules/builder/components/page/FakeBrowserBar.vue
Due: frontend-lint

Lint
  backend/src/baserow/api/integrations/serializers.py
Due: backend-lint

Add horizontal control style
  web-frontend/modules/core/components/formula/FormulaFormInput.vue
  web-frontend/modules/core/pages/styleGuide.vue
Due: frontend-lint

Accidentally added stuff that's not mine
  web-frontend/modules/builder/components/page/FakeBrowserBar.vue
  web-frontend/modules/core/components/formula/FormulaInput.vue
Due: frontend-lint

Rename missing data ledger
  backend/src/baserow/core/formula/exceptions.py
Due: backend-lint

First feedbacks
  web-frontend/modules/builder/components/page/FakeBrowserBar.vue
Due: frontend-lint

Rename FormulaFormInput in FormulaInputGroup
  web-frontend/modules/core/components/formula/FormulaFormInput.vue
Due: frontend-lint

Making it possible to change an integration's authorized user. Work in progress.
  backend/src/baserow/api/decorators.py
  backend/src/baserow/api/integrations/serializers.py
  backend/src/baserow/api/integrations/views.py
  backend/src/baserow/contrib/integrations/local_baserow/integration_types.py
  backend/src/baserow/core/integrations/handler.py
  backend/src/baserow/core/integrations/service.py
  backend/src/baserow/core/integrations/signals.py
  backend/tests/baserow/core/integrations/test_integration_service.py
  web-frontend/modules/builder/components/settings/BuilderSettingsModal.vue
  web-frontend/modules/builder/components/settings/IntegrationSettings.vue
  web-frontend/modules/builder/components/sidebar/SidebarComponentBuilder.vue
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/core/components/Badge.vue
  web-frontend/modules/core/components/integrations/IntegrationCreateEditModal.vue
  web-frontend/modules/core/components/integrations/IntegrationEditForm.vue
  web-frontend/modules/core/integrationTypes.js
  web-frontend/modules/integrations/components/integrations/LocalBaserowForm.vue
  web-frontend/modules/integrations/integrationTypes.js
  web-frontend/modules/integrations/locales/en.json
Due: frontend-lint, backend-lint

Fix tests
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
Due: backend-lint

Be more explicit about the types of Users we don't want as an authorized user.
  backend/src/baserow/api/integrations/serializers.py
Due: backend-lint

Rename Formula input
  web-frontend/modules/core/components/formula/FormulaFormInput.vue
Due: frontend-lint

Removing passing the workspace down into BuilderSettingsModal
  web-frontend/modules/builder/components/settings/BuilderSettingsModal.vue
  web-frontend/modules/builder/components/sidebar/SidebarComponentBuilder.vue
Due: frontend-lint
