Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Address backend review feedback.
  backend/src/baserow/api/mixins.py
  backend/src/baserow/core/exceptions.py
  premium/backend/src/baserow_premium/api/user_admin/errors.py
  premium/backend/src/baserow_premium/api/user_admin/serializers.py
  premium/backend/src/baserow_premium/api/user_admin/views.py
  premium/backend/src/baserow_premium/plugins.py
  premium/backend/src/baserow_premium/user_admin/exceptions.py
  premium/backend/src/baserow_premium/user_admin/handler.py
  premium/backend/tests/baserow_premium/api/user_admin/test_user_admin_serializers.py
  premium/backend/tests/baserow_premium/api/user_admin/test_user_admin_views.py
  premium/backend/tests/baserow_premium/user_admin/test_user_admin_handler.py
  premium/web-frontend/modules/baserow_premium/components/admin/user/UserAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UsernameField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/EditUserModal.vue
  premium/web-frontend/modules/baserow_premium/services/userAdmin.js
  premium/web-frontend/test/fixtures/uiHelpers.js
  premium/web-frontend/test/fixtures/user.js
  premium/web-frontend/test/unit/premium/admin/user/userAdmin.spec.js
  web-frontend/modules/core/plugins/clientHandler.js
Due: frontend-lint, backend-lint

Dont use the user handler in the test env fill_users command but instead just make the db objects manually, this is also faster.
  backend/src/baserow/contrib/database/management/commands/fill_users.py
Due: backend-lint

Add missing tests and documentation. Do not allow a sort with an attribute repeated multiple times.
  premium/backend/src/baserow_premium/api/user_admin/views.py
  premium/backend/src/baserow_premium/user_admin/handler.py
  premium/backend/tests/baserow_premium/api/user_admin/test_user_admin_views.py
  premium/backend/tests/baserow_premium/user_admin/test_user_admin_handler.py
Due: none

Add doc for new mixin and missing test.
  backend/src/baserow/api/mixins.py
  premium/backend/tests/baserow_premium/api/user_admin/test_user_admin_views.py
Due: backend-lint

Remove unused exception.
  premium/backend/src/baserow_premium/api/user_admin/errors.py
Due: none

Dont lie about having inserting X users by skipping when the generator generates the same email, instead just use a counter to ensure username uniqueness.
  backend/src/baserow/contrib/database/management/commands/fill_users.py
Due: backend-lint

Move exception to correct location and other minor doc cleanups.
  backend/src/baserow/api/exceptions.py
  backend/src/baserow/api/mixins.py
  backend/src/baserow/core/exceptions.py
  premium/backend/src/baserow_premium/api/user_admin/errors.py
  premium/backend/src/baserow_premium/api/user_admin/serializers.py
  premium/backend/src/baserow_premium/api/user_admin/views.py
  premium/backend/src/baserow_premium/user_admin/exceptions.py
  premium/backend/src/baserow_premium/user_admin/handler.py
  premium/backend/tests/baserow_premium/user_admin/test_user_admin_handler.py
Due: backend-lint

Add missing error display for registration when user enters password less than 8 characters.
  web-frontend/modules/core/components/auth/AuthRegister.vue
Due: frontend-lint

fixed some bugs and feedback
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/unit/database/store/view/grid.spec.js
Due: frontend-lint, backend-lint

pleased linter
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
Due: backend-lint

update the order after it has been moved to the end
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

Remove accidentally commited files.
  .pre-commit-config.old.yaml
  .pre-commit-config.yaml
Due: none

updated changelog
  changelog.md
Due: none

Revert bad global search and replace making inadvertent changes to unrelated code.
  web-frontend/modules/core/components/sidebar/Sidebar.vue
Due: frontend-lint

Add some missing newlines in test file for formatting.
  premium/web-frontend/test/unit/premium/admin/user/userAdmin.spec.js
Due: none

Add doc string for crud table search component.
  premium/web-frontend/modules/baserow_premium/components/crud_table/CrudTableSearch.vue
Due: none

Change delete user link on edit user modal to a link to make it less important, fix bugs wrt the delete user modal sometimes appearing behind the edit modal.
  premium/web-frontend/modules/baserow_premium/assets/scss/components/user_admin.scss
  premium/web-frontend/modules/baserow_premium/components/admin/user/contexts/EditUserContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/ChangeUserPasswordModal.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/DeleteUserModal.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/EditUserModal.vue
Due: none

Fix straightforward review feedback.
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/admin/user/UserAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UserGroupsField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UsernameField.vue
  premium/web-frontend/modules/baserow_premium/components/crud_table/CrudTable.vue
  premium/web-frontend/modules/baserow_premium/crud_table/CrudTableColumn.js
  premium/web-frontend/modules/baserow_premium/pages/admin/userAdmin.vue
  premium/web-frontend/modules/baserow_premium/routes.js
  web-frontend/modules/core/components/settings/PasswordSettings.vue
Due: frontend-lint

made it possible to import and export the file field
  backend/requirements/base.txt
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/registries.py
  backend/tests/baserow/contrib/database/field/test_boolean_field_type.py
  backend/tests/baserow/contrib/database/field/test_date_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_file_field_type.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  backend/tests/baserow/contrib/database/test_database_application_type.py
  backend/tests/baserow/core/test_core_handler.py
  changelog.md
Due: backend-lint

Use refs to show the user admin context menus to keep things consistent, its easier this way!
  premium/web-frontend/modules/baserow_premium/components/admin/user/UserAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/contexts/EditUserContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/contexts/HiddenGroupsContext.vue
Due: none

export/import the files using the management command
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/core/management/commands/export_group_applications.py
  backend/src/baserow/core/management/commands/import_group_applications.py
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
Due: frontend-lint, backend-lint

Use flexbox dynamic ordering to ensure that the hidden group expand button is not right aligned but always next to the last group.
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UserGroupsField.vue
Due: none

Improve comment.
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UserGroupsField.vue
Due: none

made it possible to the templates to have additional files
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/management/commands/import_group_applications.py
  backend/templates/applicant-tracker.json
  backend/templates/applicant-tracker.zip
  backend/tests/baserow/contrib/database/field/test_file_field_type.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/templates/example-template.json
  backend/tests/templates/example-template.zip
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldFile.vue
Due: frontend-lint, backend-lint

updated the docs
  docs/development/create-a-template.md
Due: none

fixed docs
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/management/commands/export_group_applications.py
  backend/src/baserow/core/management/commands/import_group_applications.py
  backend/src/baserow/core/registries.py
  changelog.md
  docs/development/create-a-template.md
Due: backend-lint

Rely on the DOM/CSS to calculate if the expand button will overflow or not and update its order accordingly. Add more comments.
  premium/web-frontend/modules/baserow_premium/assets/scss/components/user_admin.scss
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UserGroupsField.vue
Due: none

Use block comments!
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UserGroupsField.vue
Due: none

Fix bug where sorting results with a search would blank out the search.
  premium/web-frontend/modules/baserow_premium/components/crud_table/CrudTable.vue
  premium/web-frontend/test/unit/premium/admin/user/userAdmin.spec.js
Due: none

minor style changes
  backend/src/baserow/api/utils.py
  changelog.md
  premium/backend/src/baserow_premium/api/urls.py
  premium/backend/src/baserow_premium/api/user_admin/errors.py
  premium/backend/src/baserow_premium/api/user_admin/urls.py
  premium/backend/src/baserow_premium/api/user_admin/views.py
  premium/backend/src/baserow_premium/config.py
  premium/backend/src/baserow_premium/user_admin/handler.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/crud_table.scss
  premium/web-frontend/modules/baserow_premium/components/admin/user/UserAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/fields/UserGroupsField.vue
  premium/web-frontend/modules/baserow_premium/components/crud_table/CrudTable.vue
Due: backend-lint

made some changes regarding the passing along of the props and the forms
  premium/web-frontend/modules/baserow_premium/components/admin/user/UserAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/contexts/EditUserContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/contexts/HiddenGroupsContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/forms/ChangePasswordForm.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/forms/UserForm.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/ChangeUserPasswordModal.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/DeleteUserModal.vue
  premium/web-frontend/modules/baserow_premium/components/admin/user/modals/EditUserModal.vue
Due: none

Remove auto overflow + fix tests.
  premium/web-frontend/modules/baserow_premium/assets/scss/components/user_admin.scss
  premium/web-frontend/test/unit/premium/admin/user/userAdmin.spec.js
Due: none

renamed variable and removed file buffer fallback
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/management/commands/import_group_applications.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  backend/tests/baserow/core/test_core_handler.py
Due: backend-lint

made it possible to reorder table views in the backend
  backend/src/baserow/api/groups/views.py
  backend/src/baserow/contrib/database/api/views/errors.py
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/api/views/urls.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/signals.py
  backend/src/baserow/contrib/database/ws/views/signals.py
  backend/src/baserow/core/mixins.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/contrib/database/ws/test_ws_view_signals.py
  changelog.md
Due: backend-lint

Add minimum docker version required to build baserow + information on how to connect an external email server + update docker-compose.yml to make doing so easier.
  docker-compose.yml
  docs/development/running-the-dev-environment.md
  docs/guides/baserow-docker-how-to.md
  docs/guides/running-baserow-locally.md
  docs/reference/baserow-docker-api.md
Due: none

Fix grammar
  docs/guides/baserow-docker-how-to.md
Due: none

Update docker version printouts in the docs to something greater than the mimumum version required to build baserow.
  docs/development/running-the-dev-environment.md
  docs/guides/running-baserow-locally.md
Due: none

introduced a v-sortable directive that is used to order views
  backend/src/baserow/contrib/database/ws/signals.py
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/select.scss
  web-frontend/modules/core/assets/scss/components/sortable.scss
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/components/view/ViewsContext.vue
  web-frontend/modules/database/components/view/ViewsContextItem.vue
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/services/view.js
  web-frontend/modules/database/store/view.js
Due: frontend-lint, backend-lint

added autoscrolling
  web-frontend/modules/core/directives/sortable.js
Due: frontend-lint

added changelog entry
  changelog.md
Due: none

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
