Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Add test: ensure exception is handled when Data Source doesn't exist for DataSourceContextProviderType
  backend/src/baserow/contrib/builder/data_providers/data_provider_types.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Ensure Current Record also handles case where Get Row service type is used.
  backend/src/baserow/contrib/builder/data_providers/data_provider_types.py
  backend/src/baserow/contrib/builder/elements/mixins.py
Due: backend-lint

Lint fix backend
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/public_views.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
Due: backend-lint

Add more test coverage. Move public facing tests into test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

WIP
  backend/src/baserow/contrib/builder/data_sources/service.py
Due: backend-lint

Add test case: ensure only some fields are returned in public view
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Add integration tests to ensure data sources are excluded for List Rows and Get Row
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Convert test case into an integration test: test_public_dispatch_data_source_view
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Remove dependency on user source user.
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
Due: backend-lint

Refactor field name check into separate method to keep the code DRY
  backend/src/baserow/contrib/builder/data_sources/service.py
Due: backend-lint

Add test for filter_used_formula_fields()
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Add test case: ensure all fields are returned in private view
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Grid view configurable row height
  backend/src/baserow/contrib/database/migrations/0166_gridview_row_height_size.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
  changelog/entries/unreleased/feature/340_configurable_grid_view_row_height.json
  web-frontend/modules/core/assets/scss/components/array_field.scss
  web-frontend/modules/core/assets/scss/components/card/array.scss
  web-frontend/modules/core/assets/scss/components/fields/array.scss
  web-frontend/modules/core/assets/scss/components/fields/multiple_collaborators.scss
  web-frontend/modules/core/assets/scss/components/form.scss
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/core/assets/scss/components/views/grid/array.scss
  web-frontend/modules/core/assets/scss/components/views/grid/date.scss
  web-frontend/modules/core/assets/scss/components/views/grid/file.scss
  web-frontend/modules/core/assets/scss/components/views/grid/long_text.scss
  web-frontend/modules/core/assets/scss/components/views/grid/many_to_many.scss
  web-frontend/modules/core/assets/scss/components/views/grid/multiple_select.scss
  web-frontend/modules/core/assets/scss/components/views/grid/rating.scss
  web-frontend/modules/core/assets/scss/components/views/grid/text.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/database/components/card/RowCardFieldButton.vue
  web-frontend/modules/database/components/formula/array/FunctionalFormulaButtonArrayItem.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewHeader.vue
  web-frontend/modules/database/components/view/grid/GridViewRowAdd.vue
  web-frontend/modules/database/components/view/grid/GridViewRowHeight.vue
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldMultipleSelect.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldMultipleSelect.vue
  web-frontend/modules/database/constants.js
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/fixtures/view.js
  web-frontend/test/unit/database/__snapshots__/publicView.spec.js.snap
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewDecoration.spec.js.snap
Due: frontend-lint, backend-lint

Local Baserow table data sync type
  backend/src/baserow/contrib/database/api/data_sync/serializers.py
  backend/src/baserow/contrib/database/api/data_sync/views.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/job_types.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  changelog/entries/unreleased/feature/2278_local_baserow_table_data_sync.json
  enterprise/backend/src/baserow_enterprise/apps.py
  enterprise/backend/src/baserow_enterprise/data_sync/__init__.py
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/src/baserow_enterprise/data_sync/models.py
  enterprise/backend/src/baserow_enterprise/features.py
  enterprise/backend/src/baserow_enterprise/license_types.py
  enterprise/backend/src/baserow_enterprise/migrations/0029_localbaserowtabledatasync.py
  enterprise/backend/src/baserow_enterprise/models.py
  enterprise/backend/tests/baserow_enterprise_tests/data_sync/test_local_baserow_table_data_sync_type.py
  enterprise/web-frontend/modules/baserow_enterprise/components/EnterpriseFeatures.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/dataSync/LocalBaserowTableDataSync.vue
  enterprise/web-frontend/modules/baserow_enterprise/dataSyncTypes.js
  enterprise/web-frontend/modules/baserow_enterprise/features.js
  enterprise/web-frontend/modules/baserow_enterprise/licenseTypes.js
  enterprise/web-frontend/modules/baserow_enterprise/locales/en.json
  enterprise/web-frontend/modules/baserow_enterprise/plugin.js
  web-frontend/modules/database/components/dataSync/DataSyncTypeChoice.vue
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
  web-frontend/modules/database/components/table/CreateDataSync.vue
  web-frontend/modules/database/components/table/CreateTableModal.vue
  web-frontend/modules/database/dataSyncTypes.js
Due: frontend-lint, backend-lint

Fix form creation for unsynced tables
  changelog/entries/unreleased/bug/3051_fixed_a_problem_that_caused_form_creation_to_be_disabled_for.json
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint

⏳ [1/4] Timeline view: backend view type and endpoint
  backend/pytest.ini
  backend/src/baserow/api/decorators.py
  backend/src/baserow/api/errors.py
  backend/src/baserow/contrib/database/api/constants.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/api/views/utils.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/src/baserow/core/exceptions.py
  backend/src/baserow/core/feature_flags.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
  backend/tests/baserow/contrib/database/ws/public/conftest.py
  premium/backend/src/baserow_premium/api/views/timeline/__init__.py
  premium/backend/src/baserow_premium/api/views/timeline/errors.py
  premium/backend/src/baserow_premium/api/views/timeline/serializers.py
  premium/backend/src/baserow_premium/api/views/timeline/urls.py
  premium/backend/src/baserow_premium/api/views/timeline/views.py
  premium/backend/src/baserow_premium/apps.py
  premium/backend/src/baserow_premium/migrations/0020_timelineview_timelineviewfieldoptions_and_more.py
  premium/backend/src/baserow_premium/views/exceptions.py
  premium/backend/src/baserow_premium/views/handler.py
  premium/backend/src/baserow_premium/views/models.py
  premium/backend/src/baserow_premium/views/view_types.py
  premium/backend/tests/baserow_premium_tests/api/views/views/test_timeline_views.py
  premium/backend/tests/baserow_premium_tests/fixtures.py
  premium/backend/tests/baserow_premium_tests/views/test_calendar_view_type.py
  premium/backend/tests/baserow_premium_tests/views/test_kanban_view_type.py
  premium/backend/tests/baserow_premium_tests/views/test_premium_view_type.py
  premium/backend/tests/baserow_premium_tests/views/test_timeline_view_type.py
Due: backend-lint

Resolve "Introduce get_default_storage"
  backend/src/baserow/api/user_files/serializers.py
  backend/src/baserow/contrib/builder/domains/handler.py
  backend/src/baserow/contrib/database/api/export/serializers.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/formula/types/formula_types.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/management/commands/regenerate_user_file_thumbnails.py
  backend/src/baserow/core/snapshots/handler.py
  backend/src/baserow/core/storage.py
  backend/src/baserow/core/user_files/handler.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/api/user_files/test_user_files_views.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/core/jobs/test_job_tasks.py
  enterprise/backend/src/baserow_enterprise/audit_log/job_types.py
  enterprise/backend/src/baserow_enterprise/secure_file_serve/handler.py
  enterprise/backend/tests/baserow_enterprise_tests/api/audit_log/test_audit_log_admin_views.py
  enterprise/backend/tests/baserow_enterprise_tests/api/audit_log/test_audit_log_workspace_views.py
  enterprise/backend/tests/baserow_enterprise_tests/api/secure_file_serve/test_secure_file_serve_views.py
  enterprise/backend/tests/baserow_enterprise_tests/audit_log/test_audit_log_export_job.py
  enterprise/backend/tests/baserow_enterprise_tests/secure_file_serve/test_secure_file_serve_handler.py
  premium/backend/src/baserow_premium/generative_ai/managers.py
  premium/backend/tests/baserow_premium_tests/api/export/test_premium_export_views.py
  premium/backend/tests/baserow_premium_tests/export/test_premium_export_types.py
  premium/backend/tests/baserow_premium_tests/fields/test_ai_field_tasks.py
  premium/backend/tests/baserow_premium_tests/generative_ai/test_managers.py
Due: backend-lint

refactor team modals
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/CreateTeamModal.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/ManageTeamForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/UpdateTeamModal.vue
  web-frontend/modules/core/assets/scss/components/modalv2.scss
Due: frontend-lint

Webhook changes [3/4]: Trigger webhook when specific fields change
  backend/src/baserow/contrib/database/api/webhooks/errors.py
  backend/src/baserow/contrib/database/api/webhooks/serializers.py
  backend/src/baserow/contrib/database/api/webhooks/views.py
  backend/src/baserow/contrib/database/migrations/0168_tablewebhookevent_fields.py
  backend/src/baserow/contrib/database/rows/webhook_event_types.py
  backend/src/baserow/contrib/database/webhooks/exceptions.py
  backend/src/baserow/contrib/database/webhooks/handler.py
  backend/src/baserow/contrib/database/webhooks/models.py
  backend/src/baserow/contrib/database/webhooks/registries.py
  backend/src/baserow/contrib/database/webhooks/typing.py
  backend/tests/baserow/contrib/database/api/webhooks/test_webhook_views.py
  backend/tests/baserow/contrib/database/rows/test_row_webhook_event_types.py
  changelog/entries/unreleased/feature/2877_trigger_row_update_only_when_certain_field_cell_values_change.json
  web-frontend/modules/core/assets/scss/components/webhook.scss
  web-frontend/modules/database/components/webhook/WebhookForm.vue
  web-frontend/modules/database/components/webhook/WebhookModal.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/webhookEventTypes.js
Due: frontend-lint, backend-lint

member modals
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/select_list_footer.scss
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/MemberRolesModal.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/MemberRolesTab.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/RoleAssignmentModal.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/rbac/SelectMembersList.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/rbac/SelectTeamsList.vue
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/modalv2.scss
Due: frontend-lint

fix toggle all action
  web-frontend/modules/core/components/workspace/MemberAssignmentModal.vue
  web-frontend/modules/core/components/workspace/MemberAssignmentModalFooter.vue
  web-frontend/modules/core/components/workspace/MemberSelectionList.vue
Due: frontend-lint

Resolve "Exporting a workspace removes single select filters in the data source"
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
  changelog/entries/unreleased/bug/3029_builder_ensure_that_data_source_filters_can_be_imported_and_.json
Due: backend-lint

Webhook changes [1/4]: Removed singular webhook event types
  backend/src/baserow/contrib/database/api/webhooks/serializers.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/migrations/0166_remove_singular_webhook_types.py
  backend/src/baserow/contrib/database/rows/webhook_event_types.py
  backend/tests/baserow/contrib/database/webhooks/test_webhook_handler.py
  changelog/entries/unreleased/refactor/2547_remove_singular_webhook_event_types.json
  web-frontend/modules/database/components/webhook/WebhookForm.vue
  web-frontend/modules/database/locales/en.json
Due: frontend-lint, backend-lint

Webhook changes [2/4]: Introduced field and view webhook types
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/webhook_event_types.py
  backend/src/baserow/contrib/database/migrations/0167_remove_singular_webhook_types.py
  backend/src/baserow/contrib/database/views/webhook_event_types.py
  backend/tests/baserow/contrib/database/field/test_field_webhook_event_types.py
  backend/tests/baserow/contrib/database/view/test_view_webhook_event_types.py
  changelog/entries/unreleased/feature/introduced_view_and_field_webhooks.json
  web-frontend/locales/en.json
  web-frontend/modules/database/components/webhook/WebhookForm.vue
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/webhookEventTypes.js
Due: frontend-lint, backend-lint

rework member assignment modal
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/select_members_list.scss
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/TeamsTable.vue
  web-frontend/modules/core/components/List.vue
  web-frontend/modules/core/components/workspace/MemberAssignmentModal.vue
  web-frontend/modules/core/components/workspace/MemberAssignmentModalFooter.vue
  web-frontend/modules/core/components/workspace/MemberSelectionList.vue
Due: frontend-lint

remove commented code
  enterprise/web-frontend/modules/baserow_enterprise/components/rbac/SelectMembersList.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/rbac/SelectTeamsList.vue
Due: none

change button style
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/MemberRolesModal.vue
Due: none

remove commented code
  web-frontend/modules/core/components/workspace/MemberSelectionList.vue
Due: frontend-lint

Resolve "Nested repeat elements have an empty schema property in export"
  backend/src/baserow/contrib/builder/application_types.py
  backend/src/baserow/contrib/builder/elements/element_types.py
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/registries.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/builder/test_builder_application_type.py
  changelog/entries/unreleased/bug/3057_builder_ensure_that_database_applications_are_imported_befor.json
Due: backend-lint

reset selected member
  web-frontend/modules/core/components/workspace/MemberAssignmentModal.vue
  web-frontend/modules/core/components/workspace/MemberSelectionList.vue
Due: frontend-lint

Resolve "TableElementForm will not display its fields if the TableElement's datasource has no content."
  changelog/entries/unreleased/bug/3055_resolved_an_issue_where_a_table_elements_form_would_not_disp.json
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
Due: frontend-lint

remove console.log
  web-frontend/modules/core/components/List.vue
Due: frontend-lint

diagrams update, source file
  docs/assets/diagrams/job-workflow/job-workflows-job_cancellation.png
  docs/assets/diagrams/job-workflow/job-workflows-job_creation_execution.png
  docs/assets/diagrams/job-workflow/job-workflows-job_state_update.png
  docs/assets/diagrams/job-workflow/job-workflows.drawio
  docs/patterns/job_handling.md
Due: none

Added indicator to the view name
  changelog/entries/unreleased/feature/added_indicator_to_the_view.json
  web-frontend/modules/core/assets/scss/components/header.scss
  web-frontend/modules/database/components/table/Table.vue
Due: frontend-lint

Show summarize label in grid view footer
  changelog/entries/unreleased/feature/show_summary_label_in_footer.json
  web-frontend/modules/core/assets/scss/components/views/grid/aggregation.scss
  web-frontend/modules/database/components/view/grid/GridViewFieldFooter.vue
Due: frontend-lint

added translation
  web-frontend/locales/en.json
  web-frontend/modules/database/components/view/grid/GridViewFieldFooter.vue
Due: frontend-lint

update snapshots
  web-frontend/test/unit/database/__snapshots__/publicView.spec.js.snap
Due: frontend-lint

update snapshots
  web-frontend/test/unit/database/__snapshots__/publicView.spec.js.snap
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewDecoration.spec.js.snap
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewFieldFooter.spec.js.snap
Due: frontend-lint

add hover
  web-frontend/modules/core/assets/scss/components/views/grid/aggregation.scss
Due: frontend-lint

added active state
  web-frontend/modules/core/assets/scss/components/views/grid/aggregation.scss
  web-frontend/modules/database/components/view/grid/GridViewFieldFooter.vue
Due: frontend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
