Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Working textarea expansion and properly handle duplicate comments
  backend/src/baserow/api/trash/views.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/services/row_comments/row_comments.js
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/core/assets/scss/components/infinite_scroll.scss
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint, backend-lint

Remove console.logs and add source
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
Due: none

Better loading display for posting comments and refactor
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/services/row_comments/row_comments.js
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
Due: frontend-lint

Make end lines for infinite scroll customizable and pixel perfect
  backend/src/baserow/api/trash/views.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
Due: frontend-lint, backend-lint

Extract ExpandableTextarea.vue
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/expandable_textarea.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/helpers/ExpandableTextarea.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  web-frontend/modules/core/components/helpers/InfiniteScroll.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/yarn.lock
Due: frontend-lint

Fix small text cutting bug
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
Due: none

Remove log
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
Due: none

Final cleanups
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/core/components/helpers/InfiniteScroll.vue
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint

Update changelog as it could technically be released after this MR
  changelog.md
Due: none

Fix changelog
  changelog.md
Due: none

Initial no test impl of working realtime row comments
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/src/baserow_premium/config.py
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/src/baserow_premium/row_comments/signals.py
  premium/backend/src/baserow_premium/ws/__init__.py
  premium/backend/src/baserow_premium/ws/row_comments/__init__.py
  premium/backend/src/baserow_premium/ws/row_comments/signals.py
  premium/backend/src/baserow_premium/ws/signals.py
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/realtime.js
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
Due: none

Add test for realtime in frontend and don't expose user id
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/ws/test_ws_row_comments_signals.py
Due: none

Update web socket docs
  docs/getting-started/web-socket-api.md
Due: none

added field converter for lastmodified field
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/fields/field_converters.py
Due: backend-lint

redid no longer needed changes
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/trash/trash_types.py
Due: backend-lint

removed no longer needed argument
  backend/src/baserow/contrib/database/api/rows/views.py
Due: backend-lint

added base class for date field types
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

updated new field converter
  backend/src/baserow/contrib/database/fields/field_converters.py
Due: backend-lint

updated tests for new field type
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_field_converters.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
  backend/tests/fixtures/field.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

hide views that do not have any exporter types
  changelog.md
  web-frontend/modules/database/components/export/ExportTableForm.vue
Due: frontend-lint

made it possible to a user to leave a group
  backend/src/baserow/api/groups/errors.py
  backend/src/baserow/api/groups/urls.py
  backend/src/baserow/api/groups/views.py
  backend/src/baserow/core/exceptions.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/api/groups/test_group_views.py
  backend/tests/baserow/core/test_core_handler.py
  changelog.md
Due: backend-lint

adeed web-frontend possibility to leave the group
  web-frontend/modules/core/components/group/DashboardGroup.vue
  web-frontend/modules/core/components/group/GroupContext.vue
  web-frontend/modules/core/components/group/GroupsContextItem.vue
  web-frontend/modules/core/components/group/LeaveGroupModal.vue
  web-frontend/modules/core/plugins/clientHandler.js
  web-frontend/modules/core/services/group.js
  web-frontend/modules/core/store/group.js
Due: frontend-lint

added created_on field type
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/fields/field_converters.py
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0035_createdonfield_lastmodifiedfield.py
  backend/src/baserow/contrib/database/migrations/0035_lastmodifiedfield.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/fixtures/field.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

fixed feedback
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  web-frontend/modules/core/utils/string.js
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
  web-frontend/modules/database/store/view.js
  web-frontend/test/unit/core/utils/string.spec.js
Due: frontend-lint, backend-lint

fixed validation is matching methods
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

fixed feedback
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  web-frontend/modules/core/utils/string.js
  web-frontend/test/unit/core/utils/string.spec.js
Due: frontend-lint, backend-lint

call the group_user_deleted event after a user has left the group
  backend/src/baserow/core/handler.py
  backend/tests/baserow/core/test_core_handler.py
Due: backend-lint

dropped the field old_name column
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0035_remove_field_old_name.py
  changelog.md
Due: backend-lint

added field type for create_on field
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/plugin.js
Due: frontend-lint

created timezone mixin which grabs timezone fo the user
  web-frontend/modules/database/components/field/FieldDateSubForm.vue
  web-frontend/modules/database/mixins/timezone.js
Due: frontend-lint

outsourced read only datetime related functions into own mixin
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldDate.vue
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldDateReadOnly.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldDateReadOnly.vue
  web-frontend/modules/database/mixins/readOnlyDateField.js
Due: frontend-lint

added calculations which optimistically updates field values when row is added/updated/moved
  web-frontend/modules/core/assets/scss/components/views/grid/date.scss
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

Address review feedback
  backend/src/baserow/api/serializers.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/web-frontend/modules/baserow_premium/applicationTypes.js
  premium/web-frontend/modules/baserow_premium/assets/scss/components/expandable_textarea.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/helpers/AutoExpandableTextarea.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/services/row_comments/row_comments.js
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/database/applicationTypes.js
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint, backend-lint

Rollback accidental yarn lock changes
  web-frontend/yarn.lock
Due: frontend-lint

Move ownComment check to frontend as for realtime events we do not broadcast a per user event and hence can't calculate per user if the comment is for them or not.
  backend/src/baserow/api/user/serializers.py
  backend/tests/baserow/api/users/test_token_auth.py
  backend/tests/baserow/api/users/test_user_views.py
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/ws/test_ws_row_comments_signals.py
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  web-frontend/modules/core/store/auth.js
Due: frontend-lint, backend-lint

Fix lint
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
Due: none

updated models to take default timezone value
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0035_createdonfield_lastmodifiedfield.py
Due: backend-lint

updated tests
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

fixed lint issues
  backend/src/baserow/contrib/database/migrations/0035_createdonfield_lastmodifiedfield.py
Due: backend-lint

fixed bug where unnamed row were not visible after real time collaboration
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
Due: frontend-lint
