Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Various front end refactors + docs
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint

Various cleanups + start ensuring the various handlers can never return a trashed item
  backend/src/baserow/api/errors.py
  backend/src/baserow/api/trash/errors.py
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/core/managers.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/trash/exceptions.py
  backend/src/baserow/core/trash/handler.py
  backend/tests/baserow/contrib/database/table/test_table_handler.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint

Update even more handlers to correctly check that their parents aren't trashed before getting a resource
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/tests/baserow/api/applications/test_application_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/core/trash/test_trash_handler.py
Due: backend-lint

Ensure view sorts and filters are not exposed via endpoints if one of their parents is trashed
  backend/src/baserow/contrib/database/views/handler.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
Due: backend-lint

Ensure fields aren't returned from api endpoints when a parent is trashed.
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
Due: backend-lint

Add extra test
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
Due: backend-lint

updated some docs
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/tokens/handler.py
  changelog.md
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint, backend-lint

Fix bugs in frontend modal
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint

Add row lookup table caching
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
Due: backend-lint

Created Hiram's Demo template.
  backend/templates/hiram-demo.json
  backend/templates/hiram-demo.zip
Due: backend-lint

Add profiling test for row deletion
  backend/src/baserow/contrib/database/management/commands/fill_table.py
  backend/src/baserow/core/trash/handler.py
  backend/tests/baserow/performance/test_trash_performance.py
Due: backend-lint

Add missing requirement
  backend/requirements/dev.txt
Due: backend-lint

Fix bad version
  backend/requirements/dev.txt
Due: backend-lint

Revert local only changes
  backend/docker/docker-entrypoint.sh
  dev.sh
Due: backend-lint

revert api doc change
  backend/src/baserow/api/groups/views.py
Due: backend-lint

Cleanup small bits and add a method to generate the parent mixins
  backend/src/baserow/api/trash/errors.py
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/managers.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/trash/handler.py
Due: backend-lint

Fix minor issues
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/handler.py
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint, backend-lint

Add social share buttons
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

Fix default twitter tweet and reddit url
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

No need to encore the reddit uri
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

Max select options orderable
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/fields/handler.py
  web-frontend/modules/core/assets/scss/components/select_options.scss
  web-frontend/modules/database/components/field/FieldSelectOptions.vue
  web-frontend/modules/database/components/field/FieldSingleSelectDropdown.vue
Due: frontend-lint, backend-lint

No need to send order to the server, the ordering of the single select options is the order that should be used!
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/fields/handler.py
  web-frontend/modules/database/components/field/FieldSelectOptions.vue
Due: frontend-lint, backend-lint

Add facebook button, fix typo, add reddit title, add hashtags + baserow mention to tweet, add tooltips
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

Fix tweet and include hashtags + url param
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

More tweet typos
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

format tweet better
  web-frontend/modules/core/pages/dashboard.vue
Due: frontend-lint

No need to sort now and revert weird class change
  web-frontend/modules/database/components/field/FieldSelectOptions.vue
  web-frontend/modules/database/components/field/FieldSingleSelectDropdown.vue
Due: frontend-lint

Make invitation messages optional when using the API
  backend/src/baserow/core/handler.py
  backend/tests/baserow/api/groups/test_group_invitation_views.py
  backend/tests/baserow/core/test_core_handler.py
Due: backend-lint

added create update and delete form view tests
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint

allow creating updating and deleting of form views via the api
  backend/src/baserow/api/user_files/serializers.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/api/user_files/test_user_files_serializers.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
Due: backend-lint

Add doc for new class
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

Add length tests for email field now it is enforced.
  backend/tests/baserow/contrib/database/field/test_field_types.py
Due: backend-lint

Add changelog and extra doc
  backend/src/baserow/contrib/database/fields/field_types.py
  changelog.md
Due: backend-lint

Add drag handle, dont send order in json to server, add changelog
  changelog.md
  web-frontend/modules/core/assets/scss/components/select_options.scss
  web-frontend/modules/database/components/field/FieldSelectOptions.vue
Due: frontend-lint

positioned the target indication in the middle
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/database/components/field/FieldSelectOptions.vue
Due: frontend-lint

pleased linter
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
Due: backend-lint

wip
  backend/src/baserow/contrib/database/db/schema.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/validators.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  web-frontend/modules/core/utils/string.js
Due: frontend-lint, backend-lint

Switch to a highly permissive email regex which can be shared between the frontend and backend
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  web-frontend/modules/core/utils/string.js
Due: frontend-lint, backend-lint

Switch to a highly permissive email regex which can be shared between the frontend and backend
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/validators.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
