Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Minor grammar changes
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint

Fix missing doc update for grid list endpoint
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
Due: backend-lint

Final doc fix to grid endpoint.
  backend/src/baserow/contrib/database/api/views/grid/views.py
Due: backend-lint

added newline to docstrings
  backend/src/baserow/core/managers.py
  backend/src/baserow/core/trash/handler.py
Due: backend-lint

Use COPY instead of ADD as older versions of Docker do not support the --chown arg for ADD but do support it for COPY.
  backend/Dockerfile
  backend/docker/Dockerfile.dev
  web-frontend/Dockerfile
  web-frontend/docker/Dockerfile.dev
Due: frontend-lint, backend-lint

Fix docker-compose.yml not correctly passing in email config to celery worker causing celery sent emails not to work.
  docker-compose.yml
Due: none

Update docs to reflect new minimum version of docker required.
  docs/development/running-the-dev-environment.md
  docs/guides/baserow-docker-how-to.md
  docs/guides/running-baserow-locally.md
Due: none

Address backend review comments
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/mixins.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/core/config.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registries.py
  backend/src/baserow/core/trash/trash_types.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/core/trash/test_trash_types.py
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/store/field.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint, backend-lint

fixed error message
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint

renamed prop to full height
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint

Broadcast applications when a group is restored instead of having the clients each do a fetch, rename delete->deleteLoading, add missing comments
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/ws/signals.py
  backend/tests/baserow/ws/test_ws_signals.py
  web-frontend/modules/core/module.js
  web-frontend/modules/core/plugins/realTimeHandler.js
  web-frontend/modules/core/store/application.js
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
Due: frontend-lint, backend-lint

added a new event helper for determening a 'printable key'
  web-frontend/modules/core/utils/events.js
Due: frontend-lint

added tests for new helper functions
  web-frontend/test/unit/core/utils/events.spec.js
Due: frontend-lint

changed behavior that is needed in order to trigger dropdown
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldSingleSelect.vue
Due: frontend-lint

added behavior for pressing f2 which will now go into edit mode; restricted adding a new value to a cell to printable keys only
  web-frontend/modules/database/mixins/gridFieldInput.js
Due: frontend-lint

Delegate to the View type to decide on whether or not a refresh should happen on field restore
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/store/field.js
  web-frontend/modules/database/store/view.js
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint

created a base class for higher than or lower than date filters; removed dateparser mixin and incorporated parse_date on the new base class; removed on_before and on_after date filters
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

removed tests for on_before and on_after date filters; removed dateparsermixin class and replaced with new basedatefieldlookup class
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

removed on_before and on_after date filters
  backend/src/baserow/contrib/database/config.py
Due: backend-lint

removed on_before and on_after date view filters; changed match function of before and after date view filters
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

removed on_before and on_after date view filters
  web-frontend/modules/database/plugin.js
Due: frontend-lint

added entry for the change to the changelog
  changelog.md
Due: none

Update docker version
  docs/development/running-the-dev-environment.md
  docs/guides/baserow-docker-how-to.md
  docs/guides/running-baserow-locally.md
Due: none

removed console.log stmts
  web-frontend/modules/database/mixins/gridFieldInput.js
Due: frontend-lint

updated docs
  web-frontend/Dockerfile
  web-frontend/docker/Dockerfile.dev
Due: frontend-lint

changed the argument for the isPrintableCharacterKeyPress to be the event rather than a single event.key
  web-frontend/modules/database/mixins/gridFieldInput.js
Due: frontend-lint

Add changelog
  changelog.md
Due: none

Capitalize Ubuntu
  changelog.md
Due: none

added an entry to the changelog
  changelog.md
Due: none

Better importer
  backend/src/baserow/contrib/database/migrations/0032_unique_field_names.py
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TableJSONImporter.vue
  web-frontend/modules/database/components/table/TablePasteImporter.vue
  web-frontend/modules/database/components/table/TableTemplate.vue
  web-frontend/modules/database/components/table/TableXMLImporter.vue
  web-frontend/modules/database/mixins/importer.js
  web-frontend/modules/database/utils/constants.js
  web-frontend/test/unit/database/mixins/importer.spec.js
Due: frontend-lint, backend-lint

Reverse accidental commit
  backend/docker/docker-entrypoint.sh
  backend/requirements/dev.txt
  dev.sh
  web-frontend/docker/docker-entrypoint.sh
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint, backend-lint

added entry to changelog
  changelog.md
Due: none

Update changelog.md
  changelog.md
Due: none

Update importer to auto fix invalid column names instead of showing an error
  web-frontend/modules/database/mixins/importer.js
  web-frontend/test/unit/database/mixins/importer.spec.js
Due: frontend-lint

Raise more specific error messages instead of exposing exception messages directly over the API.
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/api/tables/errors.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/src/baserow/contrib/database/table/exceptions.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
Due: backend-lint

Revert error message to old value.
  backend/src/baserow/contrib/database/api/tables/errors.py
Due: backend-lint

Don't allow creating or updated fields with names that clash with trashed fields in the same table. Fix redoc not showing all error messages for duplicate field errors.
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/api/tables/errors.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/table/exceptions.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  web-frontend/modules/core/plugins/clientHandler.js
Due: frontend-lint, backend-lint

Instead lets just rename fields when restored to ensure they are unique rather than preventing new fields from being made.
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  web-frontend/modules/core/plugins/clientHandler.js
Due: frontend-lint, backend-lint

Fix exciting bug with unescaped user input going straight into a regex causing the "find next free field" algo to break horribly.
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/migrations/0033_unique_field_names.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/migrations/test_database_migrations.py
Due: backend-lint

Fix table importing logic in front end with the new replacing invalid columns logic.
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TableJSONImporter.vue
  web-frontend/modules/database/components/table/TablePasteImporter.vue
  web-frontend/modules/database/components/table/TableXMLImporter.vue
  web-frontend/modules/database/mixins/importer.js
Due: frontend-lint
