Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

introduced immutable field and properties
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/fields/actions.py
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_field_immutable_properties_and_more.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
  backend/tests/baserow/contrib/database/api/views/gallery/test_gallery_view_views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
  backend/tests/baserow/contrib/database/field/test_created_by_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_last_modified_by_field_type.py
  backend/tests/baserow/contrib/database/ws/public/test_public_ws_view_signals.py
  premium/backend/tests/baserow_premium_tests/api/views/views/test_calendar_views.py
  premium/backend/tests/baserow_premium_tests/api/views/views/test_kanban_views.py
  web-frontend/modules/database/components/field/FieldForm.vue
Due: frontend-lint, backend-lint

allow choosing immutable field properties per properties
  backend/src/baserow/contrib/database/data_sync/data_sync_types.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

prevent deleting unique primary field
  backend/src/baserow/contrib/database/api/data_sync/serializers.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/models.py
  backend/src/baserow/contrib/database/data_sync/signals.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_field_immutable_properties_and_more.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
  web-frontend/modules/database/components/field/FieldContext.vue
Due: frontend-lint, backend-lint

show row edit modal field input in read only
  web-frontend/modules/database/components/row/RowEditModalField.vue
Due: frontend-lint

Add new modal component
  changelog/entries/unreleased/refactor/1918_add_new_modal.json
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/ModalV2.vue
  web-frontend/modules/core/mixins/baseModalV2.js
  web-frontend/modules/core/mixins/modalv2.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/stories/ModalV2.stories.mdx
Due: frontend-lint

add changelog
  changelog/entries/unreleased/refactor/1917_use_new_modal_ui_component.json
Due: none

use new modal component
  web-frontend/modules/core/assets/scss/abstracts/_alert.scss
  web-frontend/modules/core/assets/scss/components/import_modal.scss
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/database/components/table/ImportFileModal.vue
Due: frontend-lint

remove deprecated css classes
  web-frontend/modules/core/assets/scss/components/import_modal.scss
Due: frontend-lint

Fix tests + lint fix
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/elements/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_upsert_row_service_type.py
Due: backend-lint

wip: month with static events
  premium/backend/src/baserow_premium/api/views/timeline/__init__.py
  premium/backend/src/baserow_premium/api/views/timeline/errors.py
  premium/backend/src/baserow_premium/api/views/timeline/serializers.py
  premium/backend/src/baserow_premium/api/views/timeline/urls.py
  premium/backend/src/baserow_premium/api/views/timeline/views.py
  premium/backend/src/baserow_premium/apps.py
  premium/backend/src/baserow_premium/migrations/0019_timelineview_timelineviewfieldoptions_and_more.py
  premium/backend/src/baserow_premium/views/exceptions.py
  premium/backend/src/baserow_premium/views/models.py
  premium/backend/src/baserow_premium/views/view_types.py
  premium/backend/tests/baserow_premium_tests/api/views/views/test_timeline_views.py
  premium/backend/tests/baserow_premium_tests/fixtures.py
  premium/web-frontend/modules/baserow_premium/components/views/timeline/DateFieldSelectForm.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/SelectDateFieldModal.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/Timeline.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineView.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewHeader.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/services/views/timeline.js
  premium/web-frontend/modules/baserow_premium/store/view/timeline.js
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  web-frontend/modules/core/assets/icons/timeline.svg
  web-frontend/modules/core/assets/scss/variables.scss
Due: frontend-lint

job subsystem docs wip
  backend/src/baserow/core/jobs/registries.py
  docs/patterns/job_handling.md
Due: backend-lint

working view
  package.json
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/timeline/timeline_container.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/timeline/timeline_grid.scss
  premium/web-frontend/modules/baserow_premium/components/views/timeline/Day.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/DayHeader.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/Item.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer2.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer3.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineEvent.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGrid.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGridHeader.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGridOverlay.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineSidebar.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineView.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewHeader.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewWip.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/store/view/timeline.js
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  web-frontend/modules/core/directives/tooltip.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/mixins/gridField.js
  web-frontend/package.json
  web-frontend/yarn.lock
  yarn.lock
Due: frontend-lint

edit modal, filters, sorts, settings
  premium/backend/src/baserow_premium/views/view_types.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/timeline/timeline_grid.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/timeline/timeline_view.scss
  premium/web-frontend/modules/baserow_premium/components/views/calendar/CalendarSharingIcalSlugSection.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/SelectDatesFieldContext.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGrid.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineView.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewHeader.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewSettingsForm.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/routes.js
  premium/web-frontend/modules/baserow_premium/services/views/timeline.js
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  web-frontend/modules/core/utils/object.js
  web-frontend/modules/database/components/field/CreateFieldContext.vue
  web-frontend/modules/database/services/view/bufferedRows.js
  web-frontend/modules/database/services/view/gallery.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint

add colors
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/timeline/timeline_grid.scss
  premium/web-frontend/modules/baserow_premium/components/views/timeline/EmptyEventWrapper.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/SelectDatesFieldContext.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGrid.vue
  premium/web-frontend/modules/baserow_premium/viewDecorators.js
Due: none

Fix permissions and public view
  premium/backend/src/baserow_premium/api/views/timeline/views.py
  premium/backend/src/baserow_premium/views/view_types.py
  premium/web-frontend/modules/baserow_premium/components/views/timeline/EmptyEventWrapper.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/InitTimelineViewSettings.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/SelectDatesFieldContext.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGrid.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineView.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewHeader.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineViewSettingsForm.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
Due: none

Fix typing for data source views
  backend/src/baserow/contrib/builder/api/data_sources/views.py
Due: backend-lint

Fix tests
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
Due: backend-lint

Fix typing
  backend/src/baserow/contrib/builder/api/data_sources/views.py
Due: backend-lint

Lint fix
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/elements/mixins.py
  backend/src/baserow/core/services/dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_upsert_row_service_type.py
Due: backend-lint

resize and drag&drop
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/timeline/timeline_grid.scss
  premium/web-frontend/modules/baserow_premium/components/views/BackgroundColorViewDecorator.vue
  premium/web-frontend/modules/baserow_premium/components/views/ViewDateSelector.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineContainer.vue
  premium/web-frontend/modules/baserow_premium/components/views/timeline/TimelineGrid.vue
  premium/web-frontend/modules/baserow_premium/store/view/timeline.js
  web-frontend/modules/core/components/HorizontalResize.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/store/view/bufferedRows.js
Due: frontend-lint

wip save
  docs/assets/diagrams/job-workflow.png
  docs/assets/diagrams/job-workflow/job-creation-workflow.mermaid
  docs/assets/diagrams/job-workflow/job-status-check-workflow.mermaid
  docs/patterns/job_handling.md
Due: none

Enable parameterized test that was accidentally commented out.
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Remove TODO in test
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Ensure that 'order' and 'id' keys are included in the results.
  backend/src/baserow/contrib/builder/data_sources/service.py
Due: backend-lint

Revert changes in test_data_source_views.py where appropriate.
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Remove autouse from fixture, since we don't want to apply it to every test case.
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Use current_record formula.
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Revert changes to test cases in test_data_source_views.py and test_data_provider_types.py, since we can now use use_field_names=False
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Revert changes to existing test cases in test_data_source_handler.py with the use of use_field_names=False
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
Due: backend-lint

Revert changes to existing test cases in test_data_source_service.py with the use of use_field_names=False
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Revert changes to existing test cases in test_element_types.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
Due: backend-lint

Move formula extractor related tests into its own test module
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/builder/test_formula_extractor.py
  backend/tests/baserow/contrib/builder/test_formula_importer.py
Due: backend-lint

Revert changes to existing tests in test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
Due: backend-lint

Revert changes to existing tests in test_list_rows_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
Due: backend-lint

Revert changes to existing tests in test_upsert_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_upsert_row_service_type.py
Due: backend-lint

Revert changes to existing tests in test_user_source_types.py
  enterprise/backend/tests/baserow_enterprise_tests/integrations/local_baserow/test_user_source_types.py
Due: none
