Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

added created_on type to date filter
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

removed not needed console.log
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

Also update row metadata when row updates occur
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/unit/database/store/view/grid.spec.js
Due: frontend-lint, backend-lint

Dont allow posting row comments in read only mode
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint

Mount in the local repo and use that in vagrant instead of doing any git clones + move to the deploy folder
  deploy/vagrant/README.md
  deploy/vagrant/Vagrantfile
  deploy/vagrant/bootstrap.sh
  tests/vagrant_ubuntu_install/README.md
Due: none

Add extra plugins required
  deploy/vagrant/README.md
Due: none

Put import in correct place and make sure queries happen after commit
  backend/src/baserow/contrib/database/ws/rows/signals.py
Due: backend-lint

Better sidebar text when in readonly mode
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
Due: none

recreated migration since current develop already contained migration with number 35
  backend/src/baserow/contrib/database/migrations/0036_createdonfield_lastmodifiedfield.py
  web-frontend/modules/database/components/field/FieldCreatedOnLastModifiedSubForm.vue
Due: frontend-lint, backend-lint

added more docs description to new field types; added new function to fieldType class in order to determine the value if a new row was added
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

simplified date_equals filter; turned blank and null values of model instance for created_on/last_modified into false
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

minor changes
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldDateReadOnly.vue
  web-frontend/modules/database/mixins/readOnlyDateField.js
  web-frontend/modules/database/mixins/timezone.js
Due: frontend-lint

changed create_on/last_modified fields to allow null values
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

made it so that created_on and last_modified is always stored as datetimefield
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/fields/field_converters.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/core/expressions.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_converters.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
Due: backend-lint

refactor
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/mixins.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/src/baserow/core/mixins.py
Due: backend-lint

changed LastModifiedField and CreatdOnField to not have a choice field with the pytz timezones, thereby changing the migration
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/mixins.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0036_createdonfield_lastmodifiedfield.py
Due: backend-lint

added and update the latest templates
  backend/src/baserow/core/expressions.py
  backend/templates/app-pitch-planner.json
  backend/templates/applicant-tracker.json
  backend/templates/applicant-tracker.zip
  backend/templates/blog-post-management.json
  backend/templates/blog-post-management.zip
  backend/templates/book-catalog.json
  backend/templates/book-catalog.zip
  backend/templates/personal-task-manager.json
  backend/templates/personal-task-manager.zip
  backend/templates/personal-todo-tracker.json
  backend/templates/project-management.json
  backend/templates/project-tracker.json
  backend/templates/project-tracker.zip
  backend/templates/wedding-planning.json
  backend/templates/wedding-planning.zip
  changelog.md
Due: backend-lint

removed unrelated expression
  backend/src/baserow/core/expressions.py
Due: backend-lint

refactored frontwend
  web-frontend/modules/database/components/field/FieldCreatedOnLastModifiedSubForm.vue
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldDate.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldDateReadOnly.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/pages/APIDocsDatabase.vue
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

fix fieldTypes
  web-frontend/modules/database/fieldTypes.js
Due: frontend-lint

simplified scss for component
  web-frontend/modules/core/assets/scss/components/fields/date.scss
  web-frontend/modules/database/components/row/RowEditFieldDateReadOnly.vue
Due: frontend-lint

creating a last_modified/created_on field will always copy the value of their respective columns as is
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

added test for created_on field; removed no longer needed timezone mixin
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  web-frontend/modules/database/mixins/timezone.js
Due: frontend-lint, backend-lint

added method to timezone mixin in order to access the timezone with a fallback value
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/mixins.py
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

added isReadOnly to fieldType serialization; made sure that isReadOnly fields can't be pasted into
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/gridField.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

added table-refresh to realtime event fieldCreated
  web-frontend/modules/database/realtime.js
Due: frontend-lint

used isReadOnly property instead of function
  web-frontend/modules/database/pages/APIDocsDatabase.vue
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

changed isReadOnly function to getIsReadOnly
  web-frontend/modules/database/fieldTypes.js
Due: frontend-lint

refresh event to row edit modal
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
Due: frontend-lint

fixed importing and exporting and added some tests
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
Due: backend-lint

return with current value by default in onRowMove
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

change get_filter function
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

made some minor changes
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/core/expressions.py
  backend/tests/baserow/contrib/database/field/test_field_converters.py
  web-frontend/modules/database/components/field/CreateFieldContext.vue
  web-frontend/modules/database/components/view/grid/GridViewHead.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/store/field.js
Due: frontend-lint, backend-lint

updated tests
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
Due: backend-lint

removed replace microsecond and use freeze_time instead
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
Due: backend-lint

changed serializer in base field type
  web-frontend/modules/database/fieldTypes.js
Due: frontend-lint

Fix default template after rename
  backend/src/baserow/config/settings/base.py
  backend/tests/baserow/api/templates/test_templates_views.py
Due: backend-lint

updated tests
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

added entry to changelog
  changelog.md
Due: none

made the today and equal to date filter compatible with the created on and last modified
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint
