Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Lint/rebase tweaks
  backend/src/baserow/core/integrations/handler.py
Due: backend-lint

Testing validate_authorized_user
  backend/tests/baserow/core/integrations/test_integration_service.py
Due: backend-lint

Make style box form style properties dynamic
  web-frontend/modules/builder/components/page/sidePanels/StyleForm.vue
  web-frontend/modules/core/assets/scss/components/builder/fake_browser_bar.scss
Due: frontend-lint

Create a dispatch all endpoint
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/formula/exceptions.py
  backend/src/baserow/core/services/handler.py
Due: backend-lint

Rename data ledger
  backend/src/baserow/core/formula/data_ledger.py
  web-frontend/modules/core/dataLedger.js
Due: frontend-lint, backend-lint

Validating authorization_user records.
  backend/src/baserow/api/integrations/views.py
  backend/src/baserow/contrib/builder/api/errors.py
  backend/src/baserow/contrib/builder/exceptions.py
  backend/src/baserow/core/integrations/service.py
  web-frontend/modules/integrations/integrationTypes.js
Due: frontend-lint, backend-lint

Feedbacks v2
  backend/src/baserow/core/formula/data_ledger.py
  backend/src/baserow/core/formula/types.py
  web-frontend/modules/core/dataLedger.js
Due: frontend-lint, backend-lint

Lint
  backend/src/baserow/contrib/builder/exceptions.py
  backend/src/baserow/contrib/integrations/local_baserow/integration_types.py
Due: backend-lint

Removing integration_authorized_user_updated
  backend/src/baserow/core/integrations/service.py
  backend/src/baserow/core/integrations/signals.py
  backend/tests/baserow/core/integrations/test_integration_service.py
Due: backend-lint

Simplify the roles computed prop
  web-frontend/modules/integrations/components/integrations/LocalBaserowForm.vue
Due: frontend-lint

Removing some rebase additions.
  backend/src/baserow/contrib/builder/exceptions.py
  backend/src/baserow/core/formula/exceptions.py
  web-frontend/modules/core/assets/scss/components/builder/fake_browser_bar.scss
Due: frontend-lint, backend-lint

Rebase mistakes
  backend/src/baserow/core/services/handler.py
  web-frontend/modules/builder/components/page/sidePanels/StyleForm.vue
Due: frontend-lint, backend-lint

Lint
  web-frontend/modules/core/components/integrations/IntegrationCreateEditModal.vue
Due: frontend-lint

Convert the role uid into camelcase so that we can translate roles.noAccess and roles.noRoleLowPriority properly
  web-frontend/modules/core/utils/string.js
  web-frontend/modules/integrations/components/integrations/LocalBaserowForm.vue
Due: frontend-lint

fix: web-frontend/package.json & web-frontend/yarn.lock to reduce vulnerabilities
  web-frontend/package.json
Due: frontend-lint

Apply fixes for Render testing
  deploy/render/Dockerfile
  render.yaml
Due: none

Attempt to deploy to render w/o apt-get update
  deploy/render/Dockerfile
Due: none

Revert "Attempt to deploy to render w/o apt-get update"
  deploy/render/Dockerfile
Due: none

Attempt to deploy to Render w/o ANY changes made
  deploy/render/Dockerfile
  render.yaml
Due: none

Revert user's fixes and attempt to fix hadolint
  deploy/render/Dockerfile
  render.yaml
Due: none

Fix Dockerfile linting errors
  deploy/render/Dockerfile
Due: none

Remove all_in_one_dev; add backend-wsgi [skip-ci]
  .env.example
  Caddyfile
  backend/Dockerfile
  backend/docker/docker-entrypoint.sh
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/settings/dev.py
  deploy/all-in-one/dev.Dockerfile
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
  deploy/all-in-one/supervisor/supervisor.conf
  dev.sh
  docker-compose.local-build.yml
  docker-compose.no-caddy.yml
  docker-compose.yml
  plugin-boilerplate/{{ cookiecutter.project_slug }}/dev.Dockerfile
Due: backend-lint

Fixed typo
  docs/development/dev_sh.md
Due: none

Fixed typo
  backend/src/baserow/contrib/database/views/registries.py
Due: backend-lint

Add IsInRangeFilterType
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Add ViewFilterTypeNumberRange component
  web-frontend/modules/core/validators.js
  web-frontend/modules/database/components/view/ViewFilterTypeNumberRange.vue
Due: frontend-lint

Add IsInRangeViewFilterType view filter
  web-frontend/locales/en.json
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

Move numberRangeValidation to different file
  web-frontend/modules/core/validators.js
  web-frontend/modules/database/components/view/ViewFilterTypeNumberRange.vue
  web-frontend/modules/database/validators.js
Due: frontend-lint

Rename numberRangeValidation validator
  web-frontend/modules/database/components/view/ViewFilterTypeNumberRange.vue
  web-frontend/modules/database/validators.js
Due: frontend-lint

Refactor NumericComparisonViewFilterType to allow more flexible subclassing behavior
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Put this back
  web-frontend/locales/en.json
Due: frontend-lint

Rename DATE_FILTER_VALUE_SEPARATOR to COMBINED_FILTER_VALUE_SEPARATOR on the frontend
  web-frontend/modules/database/constants.js
  web-frontend/modules/database/mixins/filterTypeDateInput.js
  web-frontend/modules/database/mixins/filterTypeMultiStepDateInput.js
  web-frontend/modules/database/utils/date.js
  web-frontend/modules/database/validators.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

Rename DATE_FILTER_TIMEZONE_SEPARATOR to COMBINED_FILTER_VALUE_SEPARATOR on the backend
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Fix validator
  web-frontend/modules/database/validators.js
Due: frontend-lint

Add tests for IsInRangeViewFilterType matching logic
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: frontend-lint

Fix linting errors
  backend/src/baserow/contrib/database/views/view_filters.py
  web-frontend/modules/database/validators.js
  web-frontend/modules/database/viewFilters.js
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: frontend-lint, backend-lint

Fix backend linting errors
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Sort imports
  backend/src/baserow/contrib/database/apps.py
Due: backend-lint

Add tests for IsInRangeFilterType
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint
