Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Improved handling for duplicated column names
  web-frontend/locales/en.json
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/databaseScratchTrackFieldsStepType.js
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

Add changelog
  changelog/entries/unreleased/feature/2639_add_onboarding_step_that_adds_fields_to_the_created_table.json
Due: none

remove commtented code
  web-frontend/modules/core/components/Modal.vue
Due: frontend-lint

update snapshots
  web-frontend/test/unit/database/components/export/__snapshots__/exportTableModal.spec.js.snap
Due: frontend-lint

remove deprecated prop
  web-frontend/modules/builder/components/settings/BuilderSettingsModal.vue
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/database/components/view/FieldRichTextModal.vue
Due: frontend-lint

fix test
  premium/web-frontend/test/unit/premium/calendarShareLink.spec.js
Due: none

Review fixes
  web-frontend/modules/core/assets/scss/components/onboarding.scss
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/onboardingTypes.js
Due: frontend-lint

update helm app version
  deploy/helm/baserow/Chart.yaml
  deploy/helm/baserow/charts/baserow-common/Chart.yaml
Due: none

fix: Wrong building of dowload url If the base url already contains a question mark then additional parameters must be added using "&".
  web-frontend/modules/core/components/DownloadLink.vue
Due: frontend-lint

row edit modal redesign
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowEditModalCommentNotificationMode.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  web-frontend/modules/builder/components/settings/BuilderSettingsModal.vue
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/badge_collaborator.scss
  web-frontend/modules/core/assets/scss/components/fields/multiple_collaborators.scss
  web-frontend/modules/core/assets/scss/components/form.scss
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/assets/scss/components/row_edit_modal.scss
  web-frontend/modules/core/assets/scss/components/row_history.scss
  web-frontend/modules/core/assets/scss/components/row_history_entry.scss
  web-frontend/modules/core/assets/scss/components/row_modal.scss
  web-frontend/modules/core/assets/scss/components/views/grid/many_to_many.scss
  web-frontend/modules/core/components/BadgeCollaborator.vue
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/components/card/RowCardFieldMultipleCollaborators.vue
  web-frontend/modules/database/components/row/RowEditFieldLinkRow.vue
  web-frontend/modules/database/components/row/RowEditFieldMultipleCollaborators.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/row/RowEditModalField.vue
  web-frontend/modules/database/components/row/RowEditModalFieldsList.vue
  web-frontend/modules/database/components/row/RowHistoryEntry.vue
  web-frontend/modules/database/components/row/RowHistorySidebar.vue
  web-frontend/modules/database/components/view/FieldRichTextModal.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldMultipleCollaborators.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldMultipleCollaborators.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/mixins/collaboratorField.js
  web-frontend/modules/database/mixins/selectDropdown.js
  web-frontend/stories/BadgeCollaborator.stories.mdx
  web-frontend/stories/Modal.stories.mdx
Due: frontend-lint

added create and sync handlers
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/data_sync/__init__.py
  backend/src/baserow/contrib/database/data_sync/data_sync_types.py
  backend/src/baserow/contrib/database/data_sync/exceptions.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/models.py
  backend/src/baserow/contrib/database/data_sync/operations.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_icalcalendardatasync_datasyncproperty_and_more.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/rows/webhook_event_types.py
  backend/src/baserow/contrib/database/ws/public/rows/signals.py
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/src/baserow/test_utils/fixtures/__init__.py
  backend/src/baserow/test_utils/fixtures/data_sync.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
  backend/tests/baserow/contrib/database/rows/test_row_webhook_event_types.py
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
  enterprise/backend/src/baserow_enterprise/role/default_roles.py
Due: backend-lint

allow changing the visible properties
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

make the synced fields read only
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_field_read_only_icalcalendardatasync_and_more.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  web-frontend/modules/database/components/table/ImportFileModal.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/utils/row.js
Due: frontend-lint, backend-lint

expose data sync via the backend
  backend/src/baserow/contrib/database/api/data_sync/__init__.py
  backend/src/baserow/contrib/database/api/data_sync/serializers.py
  backend/src/baserow/contrib/database/api/tables/serializers.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/src/baserow/contrib/database/data_sync/models.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_field_read_only_icalcalendardatasync_and_more.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
Due: backend-lint

minor changes
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/data_sync/models.py
  backend/src/baserow/contrib/database/migrations/0165_alter_datasyncproperty_data_sync_and_more.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

rework base
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/assets/scss/components/select_row_modal.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/mixins/baseModal.js
  web-frontend/modules/core/pages/styleGuide.vue
  web-frontend/modules/database/components/field/FileFieldModal.vue
  web-frontend/modules/database/components/row/RowEditFieldLinkRow.vue
  web-frontend/stories/Button.stories.mdx
  web-frontend/stories/Modal.stories.mdx
Due: frontend-lint

show synced in frontend
  backend/src/baserow/contrib/database/api/data_sync/serializers.py
  backend/src/baserow/contrib/database/data_sync/data_sync_types.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
  web-frontend/modules/core/assets/scss/components/tooltip.scss
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
  web-frontend/modules/database/components/view/grid/GridViewFieldType.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint, backend-lint

allow data sync to fail
  backend/src/baserow/contrib/database/data_sync/data_sync_types.py
  backend/src/baserow/contrib/database/data_sync/exceptions.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/models.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_field_read_only_icalcalendardatasync_and_more.py
  backend/src/baserow/contrib/database/migrations/0165_alter_datasyncproperty_data_sync_and_more.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

fixed ABC
  backend/src/baserow/contrib/database/data_sync/registries.py
Due: backend-lint

rework import airtable modal
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/components/airtable/AirtableImportForm.vue
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
Due: frontend-lint

introduced endpoint to create new data sync
  backend/src/baserow/contrib/database/api/data_sync/errors.py
  backend/src/baserow/contrib/database/api/data_sync/serializers.py
  backend/src/baserow/contrib/database/api/data_sync/urls.py
  backend/src/baserow/contrib/database/api/data_sync/views.py
  backend/src/baserow/contrib/database/api/urls.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/data_sync/actions.py
  backend/src/baserow/contrib/database/data_sync/data_sync_types.py
  backend/src/baserow/contrib/database/data_sync/exceptions.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
Due: backend-lint

introduced job endpoint
  backend/src/baserow/contrib/database/api/data_sync/errors.py
  backend/src/baserow/contrib/database/api/data_sync/serializers.py
  backend/src/baserow/contrib/database/api/data_sync/urls.py
  backend/src/baserow/contrib/database/api/data_sync/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/data_sync/actions.py
  backend/src/baserow/contrib/database/data_sync/exceptions.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/job_types.py
  backend/src/baserow/contrib/database/data_sync/models.py
  backend/src/baserow/contrib/database/migrations/0164_datasync_field_read_only_icalcalendardatasync_and_more.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
Due: backend-lint

continue
  web-frontend/modules/core/mixins/baseModal.js
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
Due: frontend-lint

handle field property changed or deleted events
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

add topbar
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/stories/Modal.stories.mdx
Due: frontend-lint

fix job type spec
  backend/src/baserow/contrib/database/data_sync/job_types.py
Due: backend-lint

added feature flag
  backend/src/baserow/contrib/database/api/data_sync/urls.py
Due: backend-lint

fixed some tests
  backend/src/baserow/contrib/database/api/data_sync/urls.py
  backend/src/baserow/contrib/database/api/data_sync/views.py
  backend/src/baserow/contrib/database/data_sync/actions.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
Due: backend-lint

continue
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/mixins/baseModal.js
  web-frontend/stories/Modal.stories.mdx
Due: frontend-lint

added test for multiple unique primary entries
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

prevent concurrent data syncs
  backend/src/baserow/contrib/database/api/data_sync/errors.py
  backend/src/baserow/contrib/database/data_sync/exceptions.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/job_types.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

allow export import
  backend/src/baserow/contrib/database/airtable/handler.py
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/data_sync/export_serialized.py
  backend/src/baserow/contrib/database/data_sync/registries.py
  backend/src/baserow/contrib/database/export_serialized.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/data_sync/test_data_sync_views.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_registries.py
  backend/tests/baserow/contrib/database/field/test_created_by_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_by_field_type.py
Due: backend-lint

prevent creating and deleting rows
  backend/src/baserow/contrib/database/api/rows/errors.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/exceptions.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  web-frontend/modules/database/components/view/gallery/GalleryView.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
Due: frontend-lint, backend-lint

move value equal check to property method
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/src/baserow/contrib/database/data_sync/registries.py
Due: backend-lint

prevent submitting form and adding read only fields
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/views/form/errors.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  web-frontend/locales/en.json
  web-frontend/modules/core/plugins/clientHandler.js
  web-frontend/modules/database/components/view/form/FormViewSidebarField.vue
Due: frontend-lint, backend-lint

automatically create grid view
  backend/src/baserow/contrib/database/data_sync/handler.py
  backend/tests/baserow/contrib/database/data_sync/test_data_sync_handler.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
