Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

job subsystem description updates
  docs/patterns/jobs.md
Due: none

fix line height
  web-frontend/modules/core/assets/scss/components/badge.scss
  web-frontend/modules/core/assets/scss/components/badge_collaborator.scss
Due: frontend-lint

Review fixes
  backend/src/baserow/api/export/serializers.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/contrib/database/api/export/serializers.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/import_export_handler.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/import_export_handler.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/storage.py
  backend/src/baserow/test_utils/fixtures/user_file.py
  backend/tests/baserow/api/import_export/test_export_applications_views.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  backend/tests/baserow/contrib/database/export/test_export_applications.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/core/export/test_export_job_handler.py
  enterprise/backend/tests/baserow_enterprise_tests/api/secure_file_serve/test_secure_file_serve_views.py
  enterprise/backend/tests/baserow_enterprise_tests/audit_log/test_audit_log_export_job.py
  premium/backend/tests/baserow_premium_tests/api/export/test_premium_export_views.py
  premium/backend/tests/baserow_premium_tests/export/test_premium_export_types.py
  web-frontend/modules/core/components/workspace/WorkspaceContext.vue
Due: frontend-lint, backend-lint

Fix existing tests
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/user_sources/helpers.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

docstring tweaks
  backend/src/baserow/contrib/builder/data_sources/exceptions.py
  backend/src/baserow/core/services/utils.py
Due: backend-lint

Adding filter and sort adhoc validation. Search to follow...
  backend/src/baserow/contrib/builder/api/data_sources/errors.py
  backend/src/baserow/contrib/builder/api/data_sources/serializers.py
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/elements/element_types.py
  backend/src/baserow/contrib/builder/elements/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

We want schema_property to be required in CollectionElementPropertyOptionsSerializer.
  backend/src/baserow/contrib/builder/api/elements/serializers.py
Due: backend-lint

Moving the public domain view tests to their own file.
  backend/src/baserow/contrib/builder/api/domains/public_views.py
Due: backend-lint

Test validate_adhoc_refinements's caching
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Ensure LocalBaserowTableServiceSearchableMixin searches against fields which the page designer has stated are searchable.
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/database/api/utils.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/core/services/dispatch_context.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
Due: backend-lint

First pass at getting the DispatchContext/BuilderDispatchContext validate_adhoc_refinements ready for use in our Local Baserow service type mixins.
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/exceptions.py
  backend/src/baserow/core/services/dispatch_context.py
  backend/src/baserow/core/services/utils.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  web-frontend/modules/builder/dataProviderTypes.js
Due: frontend-lint, backend-lint

Re-adding DispatchDataSourceRequestSerializer. We need a reuseable request serializer for both data source and public domain dispatching.
  backend/src/baserow/contrib/builder/api/data_sources/serializers.py
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_public_domain_views.py
Due: backend-lint

ElementHandler().get_element() can raise ElementDoesNotExist.
  backend/src/baserow/contrib/builder/api/data_sources/views.py
Due: backend-lint

Rename element_id > element
  web-frontend/modules/builder/dataProviderTypes.js
Due: frontend-lint

Removing DispatchDataSourceRequestSerializer in favor of plucking the element out in the view. The dispatch context is quite dynamic.
  backend/src/baserow/contrib/builder/api/data_sources/serializers.py
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Rename validate_adhoc_refinements to validate_filter_search_sort_fields
  backend/src/baserow/contrib/builder/api/domains/public_views.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/core/services/dispatch_context.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Rebasing on develop, resolving issues.
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/public_views.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Test that schema_property is a required field.
  backend/tests/baserow/contrib/builder/api/elements/test_element_views.py
Due: backend-lint

Bug fix: if the dispatch context returns no fields in searchable_fields, then when we search we'll have to return queryset.none, otherwise we return all rows.
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Fix existing tests: test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Fix existing tests:test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
Due: backend-lint

Use page Id istead of builder Id for the cache key
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Lint fix backend
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/user_sources/helpers.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Move element property option fetching/caching to its own method. Call it in both searchable_fields and validate_filter_search_sort_fields to minimise queries.
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Tweaking the ERROR_DATA_SOURCE_REFINEMENT_FORBIDDEN error message.
  backend/src/baserow/contrib/builder/api/data_sources/errors.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Docstring tweak
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
Due: backend-lint

Introduce edit mode for dashboards
  backend/src/baserow/contrib/dashboard/application_types.py
  backend/src/baserow/contrib/dashboard/migrations/0002_dashboard_description.py
  backend/src/baserow/contrib/dashboard/models.py
  backend/src/baserow/contrib/dashboard/types.py
  backend/tests/baserow/contrib/dashboard/test_dashboard_application_types.py
  backend/workspace_3.json
  backend/workspace_3.zip
  web-frontend/modules/core/assets/scss/components/dashboard/all.scss
  web-frontend/modules/core/assets/scss/components/dashboard/components/dashboard_app.scss
  web-frontend/modules/core/assets/scss/components/dashboard/components/dashboard_app_header.scss
  web-frontend/modules/dashboard/components/DashboardHeader.vue
  web-frontend/modules/dashboard/components/DashboardHeaderMenuItems.vue
  web-frontend/modules/dashboard/locales/en.json
  web-frontend/modules/dashboard/pages/dashboard.vue
  web-frontend/modules/dashboard/plugin.js
  web-frontend/modules/dashboard/store/dashboardApplication.js
Due: frontend-lint, backend-lint

Fix
  backend/workspace_3.json
  backend/workspace_3.zip
Due: backend-lint

Add check for a non User Source User
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
Due: backend-lint

jobs.md updated
  docs/patterns/jobs.md
Due: none

Ensure that an empty list is always returned by DataSourceService::dispatch_data_sources()
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/service.py
Due: backend-lint

Fix tests: test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Fix tests: test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Fix tests: test_data_source_service.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

remove unused method
  backend/src/baserow/contrib/builder/data_sources/service.py
Due: backend-lint

Add test for remove_unused_field_names()
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Lint fix backend
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Fix second round of feedbacks
  backend/src/baserow/contrib/builder/pages/handler.py
  web-frontend/modules/builder/components/dataSource/DataSourceCreateEditModal.vue
  web-frontend/modules/core/mixins/form.js
Due: frontend-lint, backend-lint

Fix hidden data for shared data sources
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/elements/service.py
  backend/src/baserow/contrib/builder/formula_property_extractor.py
  backend/src/baserow/contrib/builder/pages/handler.py
  backend/src/baserow/contrib/builder/pages/service.py
  backend/src/baserow/contrib/builder/workflow_actions/handler.py
  backend/src/baserow/contrib/builder/workflow_actions/service.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
