Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Remove unnecessary python 3.8 version check in import
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
Due: backend-lint

Revert a change in test case
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_upsert_row_service_type.py
Due: backend-lint

diagrams
  docs/assets/diagrams/job-workflows-job_cancellation.png
  docs/assets/diagrams/job-workflows-job_creation_execution.png
  docs/assets/diagrams/job-workflows-job_state_update.png
  docs/patterns/job_handling.md
Due: none

removed stale files
  docs/assets/diagrams/job-workflow.png
  docs/assets/diagrams/job-workflow/job-creation-workflow.mermaid
  docs/assets/diagrams/job-workflow/job-status-check-workflow.mermaid
  docs/patterns/job_handling.md
Due: none

typos fix
  docs/patterns/job_handling.md
Due: none

wip save
  docs/patterns/job_handling.md
Due: none

Add new modal component
  changelog/entries/unreleased/refactor/1918_add_new_modal.json
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/ModalV2.vue
  web-frontend/modules/core/mixins/baseModalV2.js
  web-frontend/modules/core/mixins/modalv2.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/stories/ModalV2.stories.mdx
Due: frontend-lint

jobs subsystem docs
  docs/patterns/job_handling.md
Due: none

Add Distribution aggregation
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/utils.py
  backend/src/baserow/contrib/database/views/view_aggregations.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
  web-frontend/modules/database/components/aggregation/DistributionAggregation.vue
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewAggregationTypes.js
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewFieldFooter.spec.js.snap
Due: frontend-lint, backend-lint

Lint frontend
  web-frontend/modules/database/components/aggregation/DistributionAggregation.vue
  web-frontend/modules/database/viewAggregationTypes.js
Due: frontend-lint

Fix tests
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
Due: backend-lint

Lint backend
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/utils.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
Due: backend-lint

Fix tests: test_formula_extractor.py
  backend/tests/baserow/contrib/builder/test_formula_extractor.py
Due: backend-lint

Rename only_dispatch_public_formula_fields to only_expose_public_formula_fields
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/public_views.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
Due: backend-lint

Remove unused field_names param
  backend/src/baserow/core/services/registries.py
Due: backend-lint

Add test: ensure exception is handled when Data Source doesn't exist for DataSourceDataProviderType
  backend/src/baserow/contrib/builder/data_providers/data_provider_types.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Fix test: test_data_provider_types.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Add tests for FormulaFieldVisitor::visitFunctionCall(). Ensure formula errors are handled.
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
Due: backend-lint

Fix failing test
  backend/src/baserow/core/services/dispatch_context.py
Due: backend-lint

extract_properties() shouldn't handle when path is just one element
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

fix breaking tests
  backend/src/baserow/contrib/builder/elements/element_types.py
Due: backend-lint

Fix tests
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
Due: backend-lint

Fix test
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Use new feature flag checker
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
Due: backend-lint

Add test case to ensure schema_property is correctly handled in CurrentRecordDataProviderType::extract_properties()
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Add tests: ensure exceptions are handled in public_dispatch_all endpoint
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Fix tests: test_list_rows_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
Due: backend-lint

Rename field_names to public_formula_fields. Rename use_field_names to only_dispatch_formula_fields.
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/public_views.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
  backend/tests/baserow/core/service/test_service_type.py
Due: backend-lint

Fix merge conflict
  backend/src/baserow/contrib/builder/elements/element_types.py
Due: backend-lint

Add test for DataProviderType::extract_properties() base implementation
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
  backend/tests/baserow/contrib/builder/elements/mixins/test_collection_element_type_mixin.py
Due: backend-lint

Fix FakeDispatchContext
  backend/src/baserow/test_utils/pytest_conftest.py
Due: backend-lint

Rename field_names to public_formula_fields
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Lint fix backend
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Remove unnecessary kwargs in dispatch_transform(). This is a remnant of a previous implementation.
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Re-add return param in docstring
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Rename only_dispatch_formula_fields to only_dispatch_public_formula_fields
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/public_views.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
Due: backend-lint

Fix broken current data provider
  backend/src/baserow/contrib/builder/data_providers/data_provider_types.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/contrib/builder/formula_property_extractor.py
  backend/src/baserow/core/formula/exceptions.py
Due: backend-lint

Add tests for CollectionElementTypeMixin::import_context_addition
  backend/tests/baserow/contrib/builder/elements/mixins/test_collection_element_type_mixin.py
Due: backend-lint
