Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

remove duplicate add button
  web-frontend/modules/builder/components/form/BuilderForm.vue
Due: frontend-lint

feedback
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
Due: frontend-lint

handle job polling error
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
Due: frontend-lint

do not submit if its loading
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
Due: frontend-lint

remove deprecated method
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
Due: frontend-lint

refactor create application modal
  changelog/entries/unreleased/refactor/1918_refactor_create_application_modal.json
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/components/airtable/AirtableImportForm.vue
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/form/BlankDatabaseForm.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
  web-frontend/modules/database/components/onboarding/DatabaseStep.vue
Due: frontend-lint

minor improvments
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
Due: frontend-lint

address feedback
  web-frontend/modules/builder/components/form/BuilderForm.vue
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
Due: frontend-lint

refactor footer implementation
  web-frontend/modules/builder/applicationTypes.js
  web-frontend/modules/builder/components/form/BuilderFormFooter.vue
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/applicationTypes.js
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
  web-frontend/modules/database/components/form/DatabaseFormFooter.vue
Due: frontend-lint

fix pipeline
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
Due: frontend-lint

small style adjusments in comments sidebar
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  web-frontend/modules/core/assets/scss/components/rich_text_editor.scss
Due: frontend-lint

remove console logs
  web-frontend/modules/database/components/view/grid/GridView.vue
Due: frontend-lint

add changelog
  changelog/entries/unreleased/refactor/1918_refactor_row_edit_modal.json
Due: none

fix button type
  web-frontend/modules/database/components/row/RowEditFieldLinkRow.vue
  web-frontend/modules/database/components/row/RowEditFieldMultipleCollaborators.vue
Due: frontend-lint

fix duplicate row
  web-frontend/modules/database/components/view/grid/GridView.vue
Due: frontend-lint

fix test
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/test/unit/premium/rowComments.spec.js
Due: none

add message for non premium user
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  web-frontend/modules/core/assets/scss/components/row_modal.scss
  web-frontend/modules/database/components/row/RowEditModalField.vue
Due: frontend-lint

refactor row edit modal
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/assets/scss/components/row_edit_modal.scss
  web-frontend/modules/core/assets/scss/components/row_history.scss
  web-frontend/modules/core/assets/scss/components/row_history_entry.scss
  web-frontend/modules/core/assets/scss/components/row_modal.scss
  web-frontend/modules/database/components/row/RowEditFieldLinkRow.vue
  web-frontend/modules/database/components/row/RowEditFieldMultipleCollaborators.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/row/RowEditModalField.vue
  web-frontend/modules/database/components/row/RowHistoryEntry.vue
  web-frontend/modules/database/components/row/RowHistorySidebar.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

oops
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
Due: none

fix overlaping glitch
  web-frontend/modules/core/assets/scss/components/row_modal.scss
Due: frontend-lint

refactor trash modal
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/components/ModalV2.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint

pleased linter
  web-frontend/modules/core/assets/scss/components/trash.scss
Due: frontend-lint

add changelog
  changelog/entries/unreleased/refactor/1918_refactort_trash_modal.json
Due: none

add missing attribute
  web-frontend/stories/ModalV2.stories.mdx
Due: frontend-lint

member modals
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/select_list_footer.scss
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/select_members_list.scss
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/MemberRolesModal.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/MemberRolesTab.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/member-roles/RoleAssignmentModal.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/rbac/SelectMembersList.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/rbac/SelectTeamsList.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/CreateTeamModal.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/ManageTeamForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/TeamsTable.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/UpdateTeamModal.vue
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/components/workspace/MemberAssignmentModal.vue
  web-frontend/modules/core/components/workspace/MemberAssignmentModalFooter.vue
  web-frontend/modules/core/components/workspace/MemberSelectionList.vue
Due: frontend-lint

add changelog
  changelog/entries/unreleased/refactor/1918_refactor_database_and_workspace_member_assignment_modals.json
Due: none

#2768 fieldtype.prepare_db_value validation
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
Due: backend-lint

changelog entry
  changelog/entries/unreleased/bug/2768_fieldtypeprepare_db_value_validates_arbitrary_values_in_fiel.json
Due: none

migration fix, changelog
  backend/src/baserow/contrib/database/migrations/0170_update_password_tsv_fields.py
  changelog/entries/unreleased/bug/3093_password_fields_are_not_searchable.json
Due: backend-lint

config cleanup, docs update
  Makefile
  backend/docker/docker-entrypoint.sh
  backend/src/baserow/config/helpers.py
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/docker-compose.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docker-compose.yml
  docs/installation/configuration.md
Due: backend-lint

lint fix
  backend/src/baserow/config/helpers.py
Due: backend-lint

style fix
  Makefile
  backend/src/baserow/config/asgi.py
  deploy/all-in-one/docker-compose.yml
Due: backend-lint

makefile cleanup
  Makefile
Due: none

makefile update
  Makefile
Due: none

#3101 handle missing value key in adhoc filters
  backend/src/baserow/contrib/database/api/views/serializers.py
  changelog/entries/unreleased/bug/3101_handle_missing_value_key_in_adhoc_filters.json
Due: backend-lint

lint
  backend/src/baserow/contrib/database/api/views/serializers.py
Due: backend-lint

bandit: ignore B105 error
  backend/src/baserow/contrib/database/migrations/0170_update_password_tsv_fields.py
Due: backend-lint

Implemented Jira Issues data sync
  enterprise/backend/src/baserow_enterprise/apps.py
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/src/baserow_enterprise/data_sync/models.py
  enterprise/backend/src/baserow_enterprise/migrations/0030_jiraissuesdatasync.py
  enterprise/web-frontend/modules/baserow_enterprise/components/dataSync/JiraIssuesDataSyncForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/dataSyncTypes.js
  enterprise/web-frontend/modules/baserow_enterprise/plugin.js
Due: none

Added missing functionality
  backend/requirements/base.in
  backend/requirements/base.txt
  backend/src/baserow/contrib/database/data_sync/handler.py
  changelog/entries/unreleased/feature/3075_jira_issues_data_sync.json
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/src/baserow_enterprise/data_sync/models.py
  enterprise/backend/src/baserow_enterprise/migrations/0030_jiraissuesdatasync.py
  enterprise/web-frontend/modules/baserow_enterprise/components/dataSync/JiraIssuesDataSyncForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/dataSyncTypes.js
  enterprise/web-frontend/modules/baserow_enterprise/locales/en.json
  premium/backend/src/baserow_premium/license/handler.py
  web-frontend/modules/core/assets/icons/jira.svg
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/database/components/table/CreateDataSync.vue
Due: frontend-lint, backend-lint

continue
  web-frontend/modules/builder/components/elements/components/forms/general/LinkNavigationSelectionForm.vue
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/stories/Checkbox.stories.mdx
  web-frontend/stories/Dropdown.stories.mdx
  web-frontend/stories/Radio.stories.mdx
  web-frontend/stories/RadioButton.stories.mdx
  web-frontend/stories/RadioGroup.stories.mdx
Due: frontend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
