Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

added timezone support to the backend
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

store browser timezone in filter value and use that
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  web-frontend/modules/core/assets/scss/components/filters.scss
  web-frontend/modules/database/components/view/ViewFilterContext.vue
  web-frontend/modules/database/components/view/ViewFilterTypeTimeZone.vue
  web-frontend/modules/database/components/view/grid/GridViewFieldType.vue
  web-frontend/modules/database/store/view.js
  web-frontend/modules/database/viewFilters.js
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint, backend-lint

pleased linter
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

refactored slice length to be es6
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

fixed the timezones of the new and active user graph
  backend/src/baserow/api/decorators.py
  backend/tests/baserow/api/test_api_decorators.py
  premium/backend/src/baserow_premium/admin_dashboard/handler.py
  premium/backend/src/baserow_premium/api/admin_dashboard/views.py
  premium/backend/tests/baserow_premium/admin_dashboard/test_admin_dashboard_handler.py
  premium/backend/tests/baserow_premium/api/admin_dashboard/test_admin_dashboard_views.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/admin_dashboard.scss
  premium/web-frontend/modules/baserow_premium/components/admin/dashboard/chars/ActiveUsers.vue
  premium/web-frontend/modules/baserow_premium/components/admin/dashboard/charts/ActiveUsers.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
  premium/web-frontend/modules/baserow_premium/services/adminDashboard.js
Due: backend-lint

fixed guessing timezone
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

fixed dropdown scrollbar width problem
  web-frontend/modules/core/assets/scss/components/select.scss
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/core/components/group/GroupsContext.vue
  web-frontend/modules/core/directives/autoOverflowScroll.js
  web-frontend/modules/core/pages/styleGuide.vue
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/components/field/FieldSingleSelectDropdown.vue
  web-frontend/modules/database/components/view/ViewsContext.vue
Due: frontend-lint

added external resources page to the docs
  changelog.md
  docs/index.md
  docs/other/external-resources.md
Due: none

added changelog entry
  changelog.md
Due: none

updated changelog
  changelog.md
Due: none

added human readable error message when the user tries to sign in with a deactivated account
  backend/src/baserow/api/user/serializers.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/tokens/authentications.py
  backend/tests/baserow/api/users/test_token_auth.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  changelog.md
  web-frontend/modules/core/components/auth/AuthLogin.vue
Due: frontend-lint, backend-lint

changed docs
  backend/src/baserow/config/settings/base.py
Due: backend-lint

Minor typo fixes
  premium/backend/src/baserow_premium/api/admin_dashboard/views.py
Due: none

Remove console.logs
  premium/web-frontend/modules/baserow_premium/components/admin/dashboard/charts/ActiveUsers.vue
Due: none

formatter some docstrings
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/api/views/grid/handler.py
  backend/src/baserow/contrib/database/export/export_job_runner.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/export/registries.py
  backend/src/baserow/contrib/database/export/tasks.py
Due: backend-lint

updated page
  docs/other/external-resources.md
Due: none

added app pitch planner template
  backend/templates/app-pitch-planner.json
  changelog.md
Due: backend-lint

introduced an admin group listing endpoint, created base listing class which is also used by the user listing page and refactored the directory structure of admin related handlers and pages
  backend/src/baserow/config/settings/base.py
  changelog.md
  premium/backend/src/baserow_premium/admin/__init__.py
  premium/backend/src/baserow_premium/admin/dashboard/__init__.py
  premium/backend/src/baserow_premium/admin/dashboard/handler.py
  premium/backend/src/baserow_premium/admin/exceptions.py
  premium/backend/src/baserow_premium/admin/users/__init__.py
  premium/backend/src/baserow_premium/admin/users/exceptions.py
  premium/backend/src/baserow_premium/admin/users/handler.py
  premium/backend/src/baserow_premium/api/__init__.py
  premium/backend/src/baserow_premium/api/admin/__init__.py
  premium/backend/src/baserow_premium/api/admin/dashboard/__init__.py
  premium/backend/src/baserow_premium/api/admin/dashboard/serializers.py
  premium/backend/src/baserow_premium/api/admin/dashboard/urls.py
  premium/backend/src/baserow_premium/api/admin/dashboard/views.py
  premium/backend/src/baserow_premium/api/admin/errors.py
  premium/backend/src/baserow_premium/api/admin/groups/__init__.py
  premium/backend/src/baserow_premium/api/admin/groups/serializers.py
  premium/backend/src/baserow_premium/api/admin/groups/urls.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/admin/urls.py
  premium/backend/src/baserow_premium/api/admin/users/__init__.py
  premium/backend/src/baserow_premium/api/admin/users/errors.py
  premium/backend/src/baserow_premium/api/admin/users/serializers.py
  premium/backend/src/baserow_premium/api/admin/users/urls.py
  premium/backend/src/baserow_premium/api/admin/users/views.py
  premium/backend/src/baserow_premium/api/admin/views.py
  premium/backend/src/baserow_premium/api/admin_dashboard/urls.py
  premium/backend/src/baserow_premium/api/urls.py
  premium/backend/src/baserow_premium/api/user_admin/urls.py
  premium/backend/src/baserow_premium/api/user_admin/views.py
  premium/backend/src/baserow_premium/user_admin/handler.py
  premium/backend/tests/baserow_premium/admin/dashboard/test_admin_dashboard_handler.py
  premium/backend/tests/baserow_premium/admin/users/test_user_admin_handler.py
  premium/backend/tests/baserow_premium/api/admin/dashboard/test_admin_dashboard_views.py
  premium/backend/tests/baserow_premium/api/admin/groups/test_groups_admin_views.py
  premium/backend/tests/baserow_premium/api/admin/users/test_users_admin_views.py
  premium/web-frontend/modules/baserow_premium/services/userAdmin.js
Due: backend-lint

changed directory structure a little bit
  premium/web-frontend/modules/baserow_premium/components/admin/users/UserAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/contexts/EditUserContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/contexts/HiddenGroupsContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/fields/ActiveField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/fields/UserGroupsField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/fields/UsernameField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/forms/ChangePasswordForm.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/forms/UserForm.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/modals/ChangeUserPasswordModal.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/modals/DeleteUserModal.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/modals/EditUserModal.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/users.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/plugins.js
  premium/web-frontend/modules/baserow_premium/routes.js
  premium/web-frontend/modules/baserow_premium/services/admin/dashboard.js
  premium/web-frontend/modules/baserow_premium/services/admin/users.js
  premium/web-frontend/test/fixtures/user.js
Due: none

Add premium xml and json export
  backend/src/baserow/contrib/database/api/export/serializers.py
  backend/src/baserow/contrib/database/export/export_job_runner.py
  backend/src/baserow/contrib/database/export/registries.py
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  backend/tests/baserow/contrib/database/export/test_handler.py
  premium/backend/src/baserow_premium/config.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  premium/web-frontend/modules/baserow_premium/components/exporter/TableJSONExporter.vue
  premium/web-frontend/modules/baserow_premium/components/exporter/TableXMLExporter.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/tableExporterTypes.js
  web-frontend/modules/core/components/helpers/CharsetDropdown.vue
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/TableCSVExporter.vue
  web-frontend/modules/database/exporterTypes.js
  web-frontend/modules/database/services/export.js
Due: frontend-lint, backend-lint

Add support for lists and dicts to xml exporter + add missing tests
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: backend-lint

Add large every possible baserow field type test for json exporter
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/export/test_handler.py
  deploy/cloudron/nginx.conf
  docs/guides/installation/configuration-files/nginx/baserow-media.conf
  media/nginx.conf
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: backend-lint

wip with broke tests
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/export/file_writer.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  backend/tests/baserow/contrib/database/export/test_handler.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  web-frontend/modules/database/components/export/ExportTableDropdown.vue
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
Due: frontend-lint, backend-lint

Fix tests
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
Due: backend-lint

Refactor away export job runner and use FileWriter/QuerysetSerializer classes instead.
  backend/src/baserow/contrib/database/export/export_job_runner.py
  backend/src/baserow/contrib/database/export/file_writer.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/export/registries.py
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  backend/tests/baserow/contrib/database/export/test_handler.py
  premium/backend/src/baserow_premium/export/exporter_types.py
Due: backend-lint

Switch to using get_human_export and direct python implementations instead of attempting to reuse drf everywhere
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/migrations/0030_auto_20210526_1939.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
Due: backend-lint

Add status indicator, use forms to get options data, refactor large export component.
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  premium/web-frontend/modules/baserow_premium/components/exporter/TableJSONExporter.vue
  premium/web-frontend/modules/baserow_premium/components/exporter/TableXMLExporter.vue
  web-frontend/modules/core/assets/scss/components/export.scss
  web-frontend/modules/database/components/export/ExportTableDropdown.vue
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableLoadingBar.vue
  web-frontend/modules/database/components/export/ExporterTypeChoices.vue
  web-frontend/modules/database/components/export/TableCSVExporter.vue
  web-frontend/modules/database/services/export.js
Due: frontend-lint, backend-lint

Add fallback for exporting unnamed linked rows
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: backend-lint

Switch to a single endpoint for view and table export
  backend/src/baserow/contrib/database/api/export/serializers.py
  backend/src/baserow/contrib/database/api/export/urls.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/export/tasks.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
  web-frontend/modules/database/services/export.js
Due: frontend-lint, backend-lint

Update changelog
  changelog.md
Due: none

Use created at instead of expires_at
  backend/src/baserow/contrib/database/api/export/serializers.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/export/models.py
  backend/src/baserow/contrib/database/migrations/0030_auto_20210519_0908.py
  backend/src/baserow/contrib/database/migrations/0030_auto_20210526_1939.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
Due: backend-lint

Show status on export loading bar + add a re-export button
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  web-frontend/modules/database/components/export/ExportTableLoadingBar.vue
Due: frontend-lint, backend-lint

Use a library to do the xml export and refactor shared export logic
  backend/requirements/base.txt
  backend/src/baserow/contrib/database/export/file_writer.py
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: backend-lint

Refactor frontend with feedback
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/core/mixins/form.js
  web-frontend/modules/database/components/export/ExportTableDropdown.vue
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableLoadingBar.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
  web-frontend/modules/database/components/export/ExporterTypeChoices.vue
  web-frontend/modules/database/components/field/FieldSingleSelectDropdown.vue
  web-frontend/modules/database/exporterTypes.js
  web-frontend/modules/database/services/export.js
Due: frontend-lint

Remove terrible dicttoxml dep and do it ourselves simply and much faster
  backend/requirements/base.txt
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: backend-lint

Fix tests
  premium/backend/tests/baserow_premium/api/export/test_prem_export_views.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: none

Add more docs and minor tidy.
  backend/src/baserow/contrib/database/export/file_writer.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/tests/baserow_premium/export/test_prem_export_types.py
Due: backend-lint

Add more docs.
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
Due: backend-lint

More doc fixes!
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
Due: backend-lint

More missing docs.
  backend/src/baserow/contrib/database/export/handler.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
