Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

increased line height
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
Due: none

Add missing docs, api docs and tests
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/rows/registries.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/rows/test_row_metadata_registry.py
  backend/tests/test_utils.py
  premium/backend/src/baserow_premium/row_comments/row_metadata_types.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/database/services/view/grid.js
Due: frontend-lint, backend-lint

Remove unused constructor
  web-frontend/modules/database/applicationTypes.js
Due: frontend-lint

Fix tests
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  web-frontend/test/fixtures/mockServer.js
Due: frontend-lint, backend-lint

Add test checking signal is called directly
  premium/backend/tests/baserow_premium/row_comments/test_row_comments_handler.py
Due: none

Dont block the user from making multiple comments whilst previous post requests are pending
  premium/web-frontend/modules/baserow_premium/components/helpers/AutoExpandableTextarea.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
Due: none

Fix not using millis in the temporary comments causing reorders sometimes
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
Due: none

Fix prop warnings
  premium/web-frontend/modules/baserow_premium/components/row_comments/GridViewRowExpandButtonWithCommentCount.vue
Due: none

Remove unneeded props
  web-frontend/modules/database/components/view/grid/GridViewRowExpandButton.vue
Due: frontend-lint

added create_on field type to filters; refactored fieldTypes
  web-frontend/modules/core/assets/scss/components/fields/date.scss
  web-frontend/modules/database/components/field/FieldDateSubForm.vue
  web-frontend/modules/database/components/row/RowEditFieldDateReadOnly.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

removed console.logs
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldDate.vue
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

refactored filter_types for lastmodified createon;added created on to view filters
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

fixed lint errors
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Small changes to the install guide to make it automatically runable
  docs/guides/installation/install-on-ubuntu.md
Due: none

Add automatic vagrant script to startup an ubuntu virtual box following the baserow install on ubuntu guide
  .gitignore
  tests/vagrant_ubuntu_install/Vagrantfile
  tests/vagrant_ubuntu_install/bootstrap.sh
Due: none

Add vagrant file + further guide updates
  docs/guides/installation/install-on-ubuntu.md
  tests/vagrant_ubuntu_install/README.md
  tests/vagrant_ubuntu_install/Vagrantfile
  tests/vagrant_ubuntu_install/bootstrap.sh
Due: none

Also run supervisor
  tests/vagrant_ubuntu_install/Vagrantfile
  tests/vagrant_ubuntu_install/bootstrap.sh
Due: none

Also configure the supervisor conf in the same way we configure the nginx conf file.
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/install-on-ubuntu.md
  tests/vagrant_ubuntu_install/README.md
  tests/vagrant_ubuntu_install/Vagrantfile
  tests/vagrant_ubuntu_install/bootstrap.sh
Due: none

added whitespace and moved import
  backend/src/baserow/contrib/database/rows/registries.py
  premium/backend/src/baserow_premium/config.py
Due: backend-lint

pleased linter
  premium/backend/src/baserow_premium/config.py
Due: none

Further fixes
  docs/guides/installation/install-on-ubuntu.md
  tests/vagrant_ubuntu_install/README.md
  tests/vagrant_ubuntu_install/Vagrantfile
  tests/vagrant_ubuntu_install/bootstrap.sh
Due: none

Fully working now locally
  tests/vagrant_ubuntu_install/bootstrap.sh
Due: none

Simplify component logic using templates
  premium/web-frontend/modules/baserow_premium/components/row_comments/GridViewRowExpandButtonWithCommentCount.vue
Due: none

Rename table to table_id in the serialized row comment json.
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

removed grid date read only css; updateRowValue will immediately updated the changed field value
  web-frontend/modules/core/assets/scss/components/views/grid/date.scss
  web-frontend/modules/database/components/view/grid/fields/FunctionalGridViewFieldDate.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldDateReadOnly.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

Review feedback + fix restoring a row with comments does not update row count
  backend/src/baserow/contrib/database/rows/registries.py
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/tests/baserow/contrib/database/rows/test_row_metadata_registry.py
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/ws/test_ws_row_comments_signals.py
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint, backend-lint

Fix page bugs and make more explicit the link between backend/frontend page size constants
  backend/src/baserow/api/pagination.py
  web-frontend/modules/core/components/helpers/InfiniteScroll.vue
Due: frontend-lint, backend-lint

made last_modified and created_on fields read only by raising a value error in prepare_value_for_db function
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint, backend-lint

updated tests
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Add steps to install mjml to install-on-ubuntu.md and fix nuxt not being able to restart cleanly.
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/install-on-ubuntu.md
Due: none

Add clarification
  docs/guides/installation/install-on-ubuntu.md
Due: none

Add changelog
  changelog.md
Due: none

Add virtualbox requirement
  tests/vagrant_ubuntu_install/README.md
Due: none

Add ssh example
  tests/vagrant_ubuntu_install/README.md
Due: none

Fix branch hardcoding
  tests/vagrant_ubuntu_install/README.md
  tests/vagrant_ubuntu_install/Vagrantfile
Due: none

updated field converters
  backend/src/baserow/contrib/database/fields/field_converters.py
  backend/tests/baserow/contrib/database/field/test_field_converters.py
Due: backend-lint

updated auto generated docs for database to not show read only fields
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint

added new line to end of file
  backend/tests/baserow/contrib/database/field/test_field_converters.py
Due: backend-lint

created own subform for created on and last modified fields
  web-frontend/modules/database/components/field/FieldCreatedOnLastModifiedSubForm.vue
  web-frontend/modules/database/fieldTypes.js
Due: frontend-lint

added trailing slash to prevent redirect
  premium/web-frontend/modules/baserow_premium/services/row_comments/row_comments.js
Due: none
