Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

updated matches functions and added tests
  web-frontend/modules/database/viewFilters.js
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: frontend-lint

fix lint errors
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: frontend-lint

fixed moment dependency issue
  changelog.md
  web-frontend/modules/core/components/TimeSelectContext.vue
  web-frontend/modules/core/components/group/GroupMembersModal.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/core/moment.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/components/row/RowEditFieldFile.vue
  web-frontend/modules/database/components/view/ViewFilterTypeDate.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/dateField.js
  web-frontend/modules/database/mixins/readOnlyDateField.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

import moment from core also in premium
  premium/web-frontend/modules/baserow_premium/components/crud_table/fields/LocalDateField.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowComment.vue
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  premium/web-frontend/test/unit/premium/admin/users/userAdmin.spec.js
Due: none

import moment from baserow core moment module
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: frontend-lint

Fix bug when pasting ids into single select option fields + allow pasting values but with priority for the ID
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/gridField.js
Due: frontend-lint

Update changelog.md
  changelog.md
Due: none

Use a mutex to prevent race conditions when switching before template pages
  web-frontend/modules/database/components/table/TableTemplate.vue
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint

Revert "Use a mutex to prevent race conditions when switching before template pages"
  web-frontend/modules/database/components/table/TableTemplate.vue
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint

Add user profile with language
  backend/src/baserow/api/user/schemas.py
  backend/src/baserow/api/user/serializers.py
  backend/src/baserow/api/user/validators.py
  backend/src/baserow/api/user/views.py
  backend/src/baserow/contrib/database/management/commands/fill_users.py
  backend/src/baserow/core/migrations/0009_user_profile.py
  backend/src/baserow/core/migrations/0010_add_missing_profile.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/user/handler.py
  backend/tests/baserow/api/users/test_user_views.py
  backend/tests/baserow/core/user/test_user_handler.py
  backend/tests/fixtures/user.py
Due: backend-lint

Use django settings language list
  backend/src/baserow/api/user/validators.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/core/models.py
  backend/tests/baserow/api/users/test_user_views.py
Due: backend-lint

Use settings LANGUAGE_CODE as default
  backend/src/baserow/api/user/serializers.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/user/handler.py
Due: backend-lint

Remove migration
  backend/src/baserow/core/migrations/0009_user_profile.py
  backend/src/baserow/core/migrations/0010_add_missing_profile.py
Due: backend-lint

Remove UserProfile import
  backend/src/baserow/api/user/validators.py
  backend/tests/baserow/api/users/test_user_views.py
Due: backend-lint

Minor fixes
  backend/src/baserow/api/user/validators.py
  backend/src/baserow/core/user/handler.py
Due: backend-lint

updated find_unused_field_name in backend
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/mixins/importer.js
Due: frontend-lint, backend-lint

added entry to changelog
  changelog.md
Due: none

updated changelog entry
  changelog.md
Due: none

Add @nuxt/i18n
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint

Fix lint
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/pages/login.vue
Due: frontend-lint

Fix tests
  premium/web-frontend/test/unit/premium/admin/users/userAdmin.spec.js
  web-frontend/config/nuxt.config.base.js
  web-frontend/modules/core/module.js
  web-frontend/test/helpers/components.js
  web-frontend/test/unit/core/components/passwordInput.spec.js
Due: frontend-lint

Remove unused keys
  web-frontend/modules/core/components/auth/AuthRegister.vue
Due: frontend-lint

nuxt-i18n working with json file
  web-frontend/.babelrc
  web-frontend/babel.config.js
  web-frontend/config/nuxt.config.base.js
  web-frontend/locales/en.js
  web-frontend/locales/fr.js
  web-frontend/modules/core/components/auth/AuthLogin.vue
  web-frontend/test/jest.base.config.js
Due: frontend-lint

Add component translation
  web-frontend/config/nuxt.config.base.js
  web-frontend/modules/core/components/auth/AuthLogin.vue
Due: frontend-lint

Add signup/register process translation
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/dropdown.scss
  web-frontend/modules/core/assets/scss/components/login.scss
  web-frontend/modules/core/components/LangSwitcher.vue
  web-frontend/modules/core/components/auth/AuthLogin.vue
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/components/helpers/PasswordInput.vue
  web-frontend/modules/core/pages/login.vue
  web-frontend/modules/core/pages/signup.vue
  web-frontend/modules/core/services/auth.js
  web-frontend/modules/core/store/auth.js
Due: frontend-lint

Disabled visible change related to i18n but keep translated content
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/module.js
  web-frontend/modules/core/pages/login.vue
Due: frontend-lint

Put errors key in common file
  web-frontend/locales/en.js
  web-frontend/locales/fr.js
  web-frontend/modules/core/components/helpers/PasswordInput.vue
Due: frontend-lint

Replace LangSwitcher by LangPicker
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/box.scss
  web-frontend/modules/core/assets/scss/components/lang_picker.scss
  web-frontend/modules/core/assets/scss/components/login.scss
  web-frontend/modules/core/components/LangPicker.vue
  web-frontend/modules/core/components/LangSwitcher.vue
  web-frontend/modules/core/components/LangSwitcherDropdown.vue
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/module.js
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/pages/login.vue
  web-frontend/modules/core/pages/signup.vue
Due: frontend-lint

Move i18n block to file end
  web-frontend/modules/core/components/auth/AuthLogin.vue
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/components/helpers/PasswordInput.vue
  web-frontend/modules/core/pages/login.vue
  web-frontend/modules/core/pages/signup.vue
Due: frontend-lint

Add gap between Langpicker link and dropdown
  web-frontend/modules/core/assets/scss/components/lang_picker.scss
  web-frontend/modules/core/components/LangPicker.vue
Due: frontend-lint

Use feature flag to enable i18n
  web-frontend/modules/core/components/LangPicker.vue
  web-frontend/modules/core/module.js
Due: frontend-lint

removed not needed selector
  web-frontend/modules/core/assets/scss/components/dropdown.scss
Due: frontend-lint

added translatable labels for the password forgot and reset pages
  backend/src/baserow/api/user/views.py
  backend/tests/baserow/api/users/test_user_views.py
  web-frontend/locales/en.js
  web-frontend/locales/fr.js
  web-frontend/modules/core/components/auth/AuthLogin.vue
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/pages/resetPassword.vue
  web-frontend/modules/core/pages/signup.vue
Due: frontend-lint, backend-lint

added french translations
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/pages/resetPassword.vue
Due: frontend-lint

force that the caret down is always next to the language picker
  web-frontend/modules/core/assets/scss/components/lang_picker.scss
Due: frontend-lint

Implements #1160
  web-frontend/modules/core/assets/scss/components/context.scss
  web-frontend/modules/core/assets/scss/components/dropdown.scss
  web-frontend/modules/database/components/field/CreateFieldContext.vue
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/components/field/UpdateFieldContext.vue
  web-frontend/modules/database/components/view/grid/GridViewHead.vue
Due: frontend-lint

Add signup view
  web-frontend-next/modules/core/components/auth/PasswordRegister.vue
  web-frontend-next/modules/core/pages/signup.vue
Due: none

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
