Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Refactor of backup_runner and add first "integration" test which actually runs it!
  backend/src/baserow/contrib/database/management/commands/backup_db.py
  backend/src/baserow/core/management/backup/backup.py
  backend/src/baserow/core/management/backup/backup_runner.py
  backend/src/baserow/core/management/commands/backup_baserow.py
  backend/src/baserow/core/management/commands/restore_baserow.py
  backend/tests/baserow/core/management/test_backup_runner.py
  backend/tests/conftest.py
Due: backend-lint

removed comment
  web-frontend/.eslintrc.js
Due: frontend-lint

Bump faker to get rid of en_US bug, add new test dep, add unit test for pg_backup
  backend/Makefile
  backend/requirements/base.txt
  backend/requirements/dev.txt
  backend/src/baserow/core/management/backup/backup_runner.py
  backend/src/baserow/core/management/commands/backup_baserow.py
  backend/src/baserow/core/management/commands/restore_baserow.py
  backend/tests/baserow/core/management/test_backup_runner.py
Due: backend-lint

Fix api change with faker upgrade
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/core/management/test_backup_runner.py
Due: backend-lint

changed behavior of printable character function
  changelog.md
  web-frontend/modules/core/utils/events.js
  web-frontend/test/unit/core/utils/events.spec.js
Due: frontend-lint

updated changelog
  changelog.md
Due: none

undid format changes to changelog.md
  changelog.md
Due: none

added new line to end of file
  changelog.md
Due: none

fixed formatting
  web-frontend/test/unit/core/utils/events.spec.js
Due: frontend-lint

Add fast unit tests for backup/restore
  backend/tests/baserow/core/management/test_backup_runner.py
Due: backend-lint

Add exception test and print at end of backup
  backend/src/baserow/core/management/backup/backup_runner.py
  backend/src/baserow/core/management/backup/exceptions.py
  backend/tests/baserow/core/management/test_backup_runner.py
Due: backend-lint

Better error message handling and colours!
  backend/src/baserow/core/management/backup/backup_runner.py
  backend/src/baserow/core/management/commands/backup_baserow.py
  backend/src/baserow/core/management/commands/restore_baserow.py
Due: backend-lint

made the form view compatible with importing and exporting
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
  changelog.md
Due: backend-lint

pleased linter
  backend/tests/baserow/contrib/database/view/test_view_types.py
Due: backend-lint

Add docker steps for backing up and improve docs
  backend/src/baserow/core/management/commands/backup_baserow.py
  docs/decisions/002-baserow-data-backups.md
  docs/guides/baserow-docker-how-to.md
  docs/runbooks/back-up-and-restore-baserow.md
Due: backend-lint

Add missing sudo
  docs/guides/baserow-docker-how-to.md
Due: none

Fix lint
  backend/src/baserow/core/management/commands/restore_baserow.py
Due: backend-lint

Update changelog.md
  changelog.md
Due: none

Update install to also work on Ubuntu 20.04
  docs/guides/installation/install-on-ubuntu.md
Due: none

removed validation from password input component and created separate validation object for passwords
  web-frontend/modules/core/components/helpers/PasswordInput.vue
  web-frontend/modules/core/validators.js
Due: frontend-lint

updated usage of password input component
  premium/web-frontend/modules/baserow_premium/components/admin/users/forms/ChangePasswordForm.vue
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/components/settings/PasswordSettings.vue
  web-frontend/modules/core/pages/resetPassword.vue
Due: frontend-lint

updated tests for password input
  web-frontend/test/unit/core/components/passwordInput.spec.js
Due: frontend-lint

updated label for password input to value it was initially
  web-frontend/modules/core/components/settings/PasswordSettings.vue
Due: frontend-lint

removed no longer needed handleChange function
  web-frontend/modules/core/pages/resetPassword.vue
Due: frontend-lint

made it possible to filter on a link row field has row in the backend
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
Due: backend-lint

Remove accidental >>> stash line
  changelog.md
Due: none

Fix slightly incorrect restore command
  docs/guides/baserow-docker-how-to.md
Due: none

Initial backend implementation of row comments
  premium/backend/src/baserow_premium/api/row_comments/__init__.py
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/src/baserow_premium/api/row_comments/urls.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/src/baserow_premium/api/urls.py
  premium/backend/src/baserow_premium/migrations/0001_row_comments.py
  premium/backend/src/baserow_premium/row_comments/__init__.py
  premium/backend/src/baserow_premium/row_comments/models.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments.py
Due: none

Add more tests
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments.py
Due: none

Make row comment size configurable, add tests, better redoc, extract logic into handler.
  backend/src/baserow/config/settings/base.py
  premium/backend/src/baserow_premium/api/row_comments/serializers.py
  premium/backend/src/baserow_premium/api/row_comments/urls.py
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/src/baserow_premium/row_comments/hander.py
  premium/backend/src/baserow_premium/row_comments/models.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments.py
Due: backend-lint

Add extra tests around direct usage of the handler
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/src/baserow_premium/row_comments/exceptions.py
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/row_comments/test_row_comments_handler.py
Due: none

Add missing type return value and doc
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/src/baserow_premium/row_comments/models.py
Due: none

initial WIP
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0035_lastmodifiedfield.py
  backend/src/baserow/contrib/database/views/handler.py
  web-frontend/modules/database/components/row/RowEditModalField.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint, backend-lint

added comments to validators and password input to inform devs that they need to be updated accordingly if rules change
  web-frontend/modules/core/components/helpers/PasswordInput.vue
  web-frontend/modules/core/validators.js
Due: frontend-lint

removed changelog entry in order to merge current develop branch
  changelog.md
Due: none

added entry to changelog
  changelog.md
Due: none

Fix RowComments not being perm deleted when their row is deleted
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registries.py
  backend/src/baserow/core/trash/trash_types.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
Due: backend-lint

Fix N queries when getting comments
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/row_comments/test_row_comments_handler.py
Due: none

Fix N queries when getting comments
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/row_comments/test_row_comments_handler.py
Due: none

added filters to the web-frontend
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  web-frontend/modules/core/assets/scss/components/filters.scss
  web-frontend/modules/database/components/view/ViewFilterContext.vue
  web-frontend/modules/database/components/view/ViewFilterTypeBoolean.vue
  web-frontend/modules/database/components/view/ViewFilterTypeDate.vue
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
  web-frontend/modules/database/mixins/filterTypeInput.js
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/services/row.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint, backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
