Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Cleanup tests
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/migrations/test_database_migrations.py
Due: backend-lint

Add tests for the frontend validation
  web-frontend/test/unit/database/mixins/importer.spec.js
Due: frontend-lint

made it possible in the backend to submit a form
  backend/src/baserow/api/user_files/serializers.py
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/views/form/errors.py
  backend/src/baserow/contrib/database/api/views/form/serializers.py
  backend/src/baserow/contrib/database/api/views/form/urls.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint

Migration performance increases and extra test cases
  backend/src/baserow/contrib/database/migrations/0032_unique_field_names.py
  backend/tests/baserow/contrib/database/migrations/test_database_migrations.py
Due: backend-lint

Add comments and improve sql performance of next linked row name lookup function
  backend/src/baserow/contrib/database/fields/handler.py
Due: backend-lint

Simplify mapping logic now that we have that user fields should be unique and not clashing with id or order. Update tests.
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
Due: backend-lint

Better re-doc comments on the new user_field_names flag + update more endpoints to use it.
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
Due: backend-lint

Update the frontend generated docs to have a checkbox showing what the responses look like with and without user field names
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  web-frontend/modules/core/assets/scss/components/api_docs/example.scss
  web-frontend/modules/database/components/docs/APIDocsExample.vue
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint, backend-lint

Add support for ordering fields by name instead of id
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/table/test_table_models.py
  backend/tests/fixtures/table.py
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint, backend-lint

Finish updating auto generated docs to include user_field_names
  web-frontend/modules/database/components/docs/APIDocsParameter.vue
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint

Fix typo in docs
  backend/src/baserow/contrib/database/api/rows/views.py
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint, backend-lint

Add changelog and cleanup get_row_serializer
  backend/src/baserow/contrib/database/api/rows/serializers.py
  changelog.md
Due: backend-lint

Add missing docs and tidy up small areas
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/rows/handler.py
Due: backend-lint

removed the password and confirmation email inputs
  backend/src/baserow/contrib/database/migrations/0032_auto_20210628_2151.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  web-frontend/modules/database/components/view/form/FormViewMeta.vue
Due: frontend-lint, backend-lint

removed possibility to update the field
  web-frontend/modules/database/components/view/form/FormViewField.vue
Due: frontend-lint

added a warning modal when refreshing the slug
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/components/view/form/FormViewHeader.vue
  web-frontend/modules/database/components/view/form/FormViewRotateSlugModal.vue
Due: frontend-lint

created endpoint to list related link row results if the form is public
  backend/src/baserow/contrib/database/api/views/form/urls.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
Due: backend-lint

use a specialized form view component for the form view link row field
  web-frontend/modules/core/assets/scss/components/select.scss
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/row/RowEditFieldSingleSelect.vue
  web-frontend/modules/database/components/view/form/FormPageField.vue
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewFieldLinkRow.vue
  web-frontend/modules/database/components/view/form/FormViewHeader.vue
  web-frontend/modules/database/components/view/form/FormViewPreview.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/pages/form.vue
  web-frontend/modules/database/services/view/form.js
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint

wip
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
Due: backend-lint

fixed inline docs
  backend/src/baserow/api/serializers.py
  backend/src/baserow/api/user_files/serializers.py
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/migrations/0032_auto_20210628_2151.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/registries.py
Due: backend-lint

Open the selected group or application when clicking the trash sidebar button, rename very-small modal flag to tiny.
  backend/src/baserow/contrib/database/trash/trash_types.py
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/components/trash/TrashSidebar.vue
Due: frontend-lint, backend-lint

Various bug fixes related to large numbers of trashed apps and groups being shown at once
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/components/trash/TrashSidebar.vue
Due: frontend-lint

Fix bad merge and add extra comments to the performance test
  backend/requirements/dev.txt
  backend/tests/baserow/performance/test_trash_performance.py
Due: backend-lint

Fix restore loading indicator not displaying due to bad slot template usage causing reactivity to break, instead refactor infiniteScroll so it is much simpler.
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint

Revert local only changes
  backend/docker/docker-entrypoint.sh
  backend/requirements/dev.txt
  dev.sh
Due: backend-lint

Tiny cleanup items
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/field/DeleteFieldModal.vue
  web-frontend/modules/database/components/table/TableTemplate.vue
Due: frontend-lint

Instead of getting all the table names every single time we try to delete a table, just run a simple quick query to check if it exists.
  backend/src/baserow/contrib/database/trash/trash_types.py
Due: backend-lint

Fix whitespace
  backend/src/baserow/contrib/database/trash/trash_types.py
Due: backend-lint

Fix minor typo
  backend/src/baserow/contrib/database/api/views/form/views.py
Due: backend-lint

added new date filters
  backend/src/baserow/contrib/database/config.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

added new date view filters
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

Add missing tests, update re-doc, share comma splitting using a util method
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/core/utils.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/core/test_core_utils.py
Due: backend-lint

changed the matching function of new date filters to use utc method when parsing date
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

made a couple of UI changes
  backend/src/baserow/config/settings/base.py
  web-frontend/modules/core/assets/scss/components/infinite_scroll.scss
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/assets/scss/components/modal_sidebar.scss
  web-frontend/modules/core/assets/scss/components/notifications.scss
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/assets/scss/helpers.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/group/GroupContext.vue
  web-frontend/modules/core/components/notifications/RestoreNotification.vue
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/components/trash/TrashSidebar.vue
  web-frontend/modules/core/store/group.js
  web-frontend/modules/database/components/field/FieldContext.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint, backend-lint

removed not needed import
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

made use of the previously unused row variables
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Fix prop warning
  web-frontend/modules/database/components/docs/APIDocsExample.vue
Due: frontend-lint

fixed hiding of the application context menu when deleting
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
Due: frontend-lint

Clarify how to escape weird field names in order_by include and exclude get params in generated docs.
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint
