Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

pleased linter
  web-frontend/modules/core/assets/scss/components/views/grid/aggregation.scss
Due: frontend-lint

add changelog
  changelog/entries/unreleased/feature/add_collaborate_badge_ui_component.json
Due: none

fix broken pipeline
  web-frontend/modules/core/components/BadgeCollaborator.vue
Due: frontend-lint

add collaborator badge UI component
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/badge_collaborator.scss
  web-frontend/modules/core/components/BadgeCollaborator.vue
  web-frontend/modules/core/plugins/global.js
  web-frontend/stories/Badge.stories.mdx
  web-frontend/stories/BadgeCollaborator.stories.mdx
  web-frontend/test/unit/core/components/badgeCollaborator.spec.js
Due: frontend-lint

Trigger export job
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/db.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/operations.py
Due: backend-lint

Frontend WIP
  enterprise/web-frontend/modules/baserow_enterprise/components/ExportWorkspaceModalWarning.vue
  enterprise/web-frontend/modules/baserow_enterprise/locales/en.json
  enterprise/web-frontend/modules/baserow_enterprise/plugins.js
  web-frontend/modules/core/components/export/ExportWorkspaceForm.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/components/workspace/WorkspaceContext.vue
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/plugins.js
Due: frontend-lint

WIP
  backend/src/baserow/api/workspaces/serializers.py
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/jobs/handler.py
  backend/src/baserow/core/migrations/0089_exportapplicationsjob.py
Due: backend-lint

wip
  backend/src/baserow/api/workspaces/serializers.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/db.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/models.py
Due: backend-lint

You can now trigger job from UI and get file in response
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/operations.py
  web-frontend/modules/core/components/export/ExportWorkspaceForm.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/services/workspace.js
Due: frontend-lint, backend-lint

Trigger export from ui
  backend/src/baserow/api/user_files/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/job_types.py
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/locales/en.json
Due: frontend-lint, backend-lint

Move json into data directory in zip file
  backend/src/baserow/core/handler.py
Due: backend-lint

Lint
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/job_types.py
Due: backend-lint

Lint
  backend/src/baserow/core/job_types.py
Due: backend-lint

Feature flag
  backend/src/baserow/api/workspaces/urls.py
  web-frontend/modules/core/components/workspace/WorkspaceContext.vue
Due: frontend-lint, backend-lint

Permissions & cleanup
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/db.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/migrations/0089_exportapplicationsjob.py
  web-frontend/modules/core/components/export/ExportWorkspaceForm.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
Due: frontend-lint, backend-lint

Changelog + cleanup
  backend/src/baserow/api/user_files/views.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/db.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/jobs/handler.py
  changelog/entries/unreleased/feature/2930_allow_exporting_workspace_applications.json
Due: backend-lint

Test fix
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/job_types.py
Due: backend-lint

Unittests + refactor
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/export/urls.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
  backend/tests/baserow/core/export/test_export_job_handler.py
  backend/tests/baserow/core/export/test_export_job_types.py
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/components/workspace/WorkspaceContext.vue
  web-frontend/modules/core/services/workspace.js
  web-frontend/modules/database/services/export.js
Due: frontend-lint, backend-lint

Unittests + refactor
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/export/urls.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
Due: backend-lint

Cleanup with urls/views locations
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/contrib/database/api/export/urls.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/job_types.py
  web-frontend/modules/core/components/export/ExportWorkspaceForm.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/services/workspace.js
  web-frontend/modules/database/services/export.js
Due: frontend-lint, backend-lint

Test fix
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
Due: backend-lint

Apply 1 suggestion(s) to 1 file(s)
  backend/src/baserow/core/actions.py
Due: backend-lint

Apply 1 suggestion(s) to 1 file(s)
  enterprise/web-frontend/modules/baserow_enterprise/components/ExportWorkspaceModalWarning.vue
Due: none

Move logic to separate handler
  backend/src/baserow/contrib/database/import_export_handler.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/job_types.py
Due: backend-lint

exporting interesting db test
  backend/src/baserow/contrib/database/import_export_handler.py
  backend/src/baserow/test_utils/fixtures/user_file.py
  backend/src/baserow/test_utils/helpers.py
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
Due: backend-lint

Update comments, fix progress in app export
  backend/src/baserow/contrib/database/import_export_handler.py
  backend/src/baserow/core/job_types.py
Due: backend-lint

exporting interesting db test
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/import_export_handler.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/test_utils/fixtures/user_file.py
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
  backend/tests/baserow/core/export/test_export_job_handler.py
Due: backend-lint

Fix unittest
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
Due: backend-lint

Use feature flags
  backend/src/baserow/api/workspaces/views.py
Due: backend-lint

Lint
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
Due: backend-lint

Use feature flags
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/migrations/0090_exportapplicationsjob.py
Due: backend-lint

feedback
  web-frontend/modules/core/assets/scss/components/badge_collaborator.scss
Due: frontend-lint

Squashing commits to prep for rebase and fix merge conflicts.
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/test_utils/helpers.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Remove unused function
  backend/src/baserow/test_utils/helpers.py
Due: backend-lint

Add caching when calling the public_formula_fields property
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/settings/test.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  docker-compose.local-build.yml
  docker-compose.no-caddy.yml
  docker-compose.yml
Due: backend-lint

Add tests to check that cache is used.
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/user_sources/helpers.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Add test for get_cache_key() method
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

wip save
  docs/patterns/jobs.md
Due: none

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
