Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Fix tests
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Fix second round of feedbacks
  backend/src/baserow/contrib/builder/pages/handler.py
  web-frontend/modules/builder/components/dataSource/DataSourceCreateEditModal.vue
  web-frontend/modules/core/mixins/form.js
Due: frontend-lint, backend-lint

Fix feedbacks v2
  backend/src/baserow/contrib/builder/migrations/0039_alter_page_options_page_shared.py
  backend/src/baserow/contrib/builder/pages/models.py
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/core/assets/scss/components/builder/data_source_item.scss
Due: frontend-lint, backend-lint

Backport of the collection element loading using fetch instead of mount
  web-frontend/modules/builder/dataProviderTypes.js
  web-frontend/modules/builder/mixins/collectionElement.js
Due: frontend-lint

Fix review feedbacks
  web-frontend/modules/builder/pages/pageEditor.vue
  web-frontend/modules/core/serviceTypes.js
Due: frontend-lint

Fix review feedbacks
  backend/src/baserow/contrib/builder/api/data_sources/serializers.py
  backend/src/baserow/contrib/builder/workflow_actions/handler.py
  backend/src/baserow/contrib/builder/workflow_actions/service.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_service.py
  web-frontend/modules/builder/mixins/collectionElement.js
Due: frontend-lint, backend-lint

Add changelog entry
  changelog/entries/unreleased/feature/2486_builder_allow_to_share_data_sources_accross_pages.json
Due: none

Handle page visibility
  backend/src/baserow/contrib/builder/elements/element_types.py
  web-frontend/modules/builder/components/elements/AddElementModal.vue
  web-frontend/modules/builder/components/elements/components/forms/general/MultiPageContainerElementForm.vue
  web-frontend/modules/builder/components/page/PageContent.vue
  web-frontend/modules/builder/components/page/PagePreview.vue
  web-frontend/modules/builder/mixins/element.js
  web-frontend/modules/builder/workflowActionTypes.js
Due: frontend-lint, backend-lint

Fix collection element loading on authentication
  enterprise/web-frontend/modules/baserow_enterprise/builder/components/elements/AuthFormElement.vue
  web-frontend/modules/builder/components/dataSource/DataSourceCreateEditModal.vue
  web-frontend/modules/builder/components/elements/baseComponents/ABTable.vue
  web-frontend/modules/builder/components/page/PageElement.vue
  web-frontend/modules/builder/pages/publicPage.vue
  web-frontend/modules/builder/store/element.js
  web-frontend/modules/core/assets/scss/components/builder/elements/ab_components/ab_table.scss
Due: frontend-lint

Add multi page container
  backend/src/baserow/contrib/builder/api/domains/serializers.py
  backend/src/baserow/contrib/builder/apps.py
  backend/src/baserow/contrib/builder/elements/element_types.py
  backend/src/baserow/contrib/builder/elements/models.py
  backend/src/baserow/contrib/builder/migrations/0040_multipagecontainerelement.py
  web-frontend/modules/builder/applicationTypes.js
  web-frontend/modules/builder/components/elements/AddElementModal.vue
  web-frontend/modules/builder/components/elements/ElementPreview.vue
  web-frontend/modules/builder/components/elements/baseComponents/ABLink.vue
  web-frontend/modules/builder/components/elements/components/FormContainerElement.vue
  web-frontend/modules/builder/components/elements/components/MultiPageContainerElement.vue
  web-frontend/modules/builder/components/elements/components/forms/general/MultiPageContainerElementForm.vue
  web-frontend/modules/builder/components/page/PageContent.vue
  web-frontend/modules/builder/components/page/PageElement.vue
  web-frontend/modules/builder/components/page/PagePreview.vue
  web-frontend/modules/builder/elementTypes.js
  web-frontend/modules/builder/enums.js
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/mixins/containerElement.js
  web-frontend/modules/builder/mixins/element.js
  web-frontend/modules/builder/pages/pageEditor.vue
  web-frontend/modules/builder/pages/publicPage.vue
  web-frontend/modules/builder/plugin.js
Due: frontend-lint, backend-lint

Split
  backend/src/baserow/contrib/builder/apps.py
  backend/src/baserow/contrib/builder/elements/element_types.py
  backend/src/baserow/contrib/builder/elements/models.py
  backend/src/baserow/contrib/builder/migrations/0040_multipagecontainerelement.py
  web-frontend/modules/builder/components/elements/AddElementModal.vue
  web-frontend/modules/builder/components/elements/ElementsListItem.vue
  web-frontend/modules/builder/components/elements/components/forms/general/MultiPageContainerElementForm.vue
  web-frontend/modules/builder/components/page/PageElement.vue
  web-frontend/modules/builder/components/page/PagePreview.vue
  web-frontend/modules/builder/components/page/header/ElementsContext.vue
  web-frontend/modules/builder/components/page/sidePanels/EventsSidePanel.vue
  web-frontend/modules/builder/components/page/sidePanels/GeneralSidePanel.vue
  web-frontend/modules/builder/enums.js
  web-frontend/modules/builder/mixins/collectionElementForm.js
  web-frontend/modules/builder/mixins/elementSidePanel.js
  web-frontend/modules/builder/pages/pageEditor.vue
  web-frontend/modules/builder/pages/publicPage.vue
  web-frontend/modules/builder/workflowActionTypes.js
Due: frontend-lint, backend-lint

Filter element types
  backend/src/baserow/contrib/builder/elements/element_types.py
  web-frontend/modules/builder/elementTypes.js
Due: frontend-lint, backend-lint

Fix data sources on shared page
  web-frontend/modules/builder/components/dataSource/DataSourceDropdown.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RecordSelectorElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
  web-frontend/modules/builder/mixins/collectionElementForm.js
Due: frontend-lint

Try to fix table content loading
  web-frontend/modules/builder/components/elements/baseComponents/ABTable.vue
  web-frontend/modules/builder/components/page/PageElement.vue
  web-frontend/modules/builder/mixins/collectionElement.js
  web-frontend/modules/builder/store/elementContent.js
Due: frontend-lint

Add builder first e2e tests
  .editorconfig
  e2e-tests/components/sidebar.ts
  e2e-tests/fixtures/builder.ts
  e2e-tests/fixtures/page.ts
  e2e-tests/fixtures/user.ts
  e2e-tests/fixtures/workspace.ts
  e2e-tests/package.json
  e2e-tests/tests/builder/application.spec.ts
  e2e-tests/tests/builder/page.spec.ts
  e2e-tests/wait-for-services.sh
Due: none

Fix all tests
  e2e-tests/pages/baserowPage.ts
  e2e-tests/pages/dashboardPage.ts
  e2e-tests/tests/auth/file_field.spec.ts
  e2e-tests/tests/auth/login.spec.ts
  e2e-tests/tests/auth/search.spec.ts
  e2e-tests/tests/builder/application.spec.ts
  e2e-tests/tests/builder/page.spec.ts
  e2e-tests/tests/enterprise/regressions.spec.ts
Due: none

Fix all tests
  e2e-tests/package.json
  e2e-tests/pages/dashboardPage.ts
  e2e-tests/tests/auth/file_field.spec.ts
  e2e-tests/tests/auth/login.spec.ts
  e2e-tests/tests/auth/search.spec.ts
  e2e-tests/tests/builder/application.spec.ts
  e2e-tests/tests/enterprise/regressions.spec.ts
  e2e-tests/yarn.lock
Due: none

Update comments
  backend/src/baserow/contrib/builder/elements/element_types.py
Due: backend-lint

Use fake timers
  web-frontend/test/unit/core/utils/queue.spec.js
Due: frontend-lint

refactor settings modal
  web-frontend/modules/core/assets/scss/components/api_token.scss
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/components/settings/AccountForm.vue
  web-frontend/modules/core/components/settings/AccountSettings.vue
  web-frontend/modules/core/components/settings/DeleteAccountSettings.vue
  web-frontend/modules/core/components/settings/EmailNotificationsForm.vue
  web-frontend/modules/core/components/settings/EmailNotificationsSettings.vue
  web-frontend/modules/core/components/settings/PasswordForm.vue
  web-frontend/modules/core/components/settings/PasswordSettings.vue
  web-frontend/modules/core/components/settings/SettingsModal.vue
  web-frontend/modules/core/settingsTypes.js
  web-frontend/modules/database/components/settings/APIToken.vue
  web-frontend/modules/database/components/settings/APITokenForm.vue
  web-frontend/modules/database/components/settings/APITokenSettings.vue
Due: frontend-lint

fix condition
  web-frontend/modules/core/components/settings/SettingsModal.vue
Due: frontend-lint

add changelog
  changelog/entries/unreleased/refactor/1918_refactor_settings_modal.json
Due: none

fix loading spinner positioning
  web-frontend/modules/core/assets/scss/components/api_token.scss
  web-frontend/modules/database/components/settings/APITokenSettings.vue
Due: frontend-lint

Fix feedbacks
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_service_types.py
Due: backend-lint

Fix defered field bug when website is published
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/feature_flags.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_public_domain_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_get_row_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_list_rows_service_type.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
Due: backend-lint

Add tests
  backend/src/baserow/contrib/builder/pages/handler.py
  backend/src/baserow/contrib/builder/pages/service.py
  backend/src/baserow/test_utils/fixtures/workflow_action.py
  backend/tests/baserow/contrib/builder/elements/test_element_handler.py
  backend/tests/baserow/contrib/builder/elements/test_element_service.py
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_handler.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_service.py
  web-frontend/test/unit/builder/components/elements/components/RecordSelectorElement.spec.js
Due: frontend-lint, backend-lint

Fix first round of feedbacks
  backend/src/baserow/contrib/builder/api/pages/errors.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/store/dataSource.js
Due: frontend-lint, backend-lint

Fix chache not being cleared
  web-frontend/modules/builder/pages/pageEditor.vue
Due: frontend-lint

Fix tests
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Fix review feedbacks v2
  backend/src/baserow/contrib/builder/migrations/0039_alter_page_options_page_shared.py
  backend/src/baserow/contrib/builder/pages/models.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
  web-frontend/modules/builder/components/dataSource/DataSourceCreateEditModal.vue
  web-frontend/modules/builder/components/dataSource/DataSourceDropdown.vue
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/builder/components/dataSource/DataSourceItem.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RecordSelectorElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/pages/pageEditor.vue
Due: frontend-lint, backend-lint

Fix hidden data for shared data sources
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/elements/service.py
  backend/src/baserow/contrib/builder/formula_property_extractor.py
  backend/src/baserow/contrib/builder/pages/handler.py
  backend/src/baserow/contrib/builder/pages/service.py
  backend/src/baserow/contrib/builder/workflow_actions/handler.py
  backend/src/baserow/contrib/builder/workflow_actions/service.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
Due: backend-lint

Fix tests after rebase
  backend/tests/baserow/contrib/builder/elements/test_record_selector_element_type.py
  web-frontend/test/unit/builder/components/elements/components/RecordSelectorElement.spec.js
Due: frontend-lint, backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
