Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

removed temp change
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Local Baserow upsert service prepare_value_for_db tweak
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  changelog/entries/unreleased/bug/builder_resolved_an_issue_with_creating_and_updating_rows_in.json
Due: backend-lint

Add manual jobs
  .gitlab-ci.yml
Due: none

Fix property cache
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
Due: backend-lint

Review feedback
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/permission_manager.py
  backend/src/baserow/core/utils.py
  enterprise/backend/src/baserow_enterprise/integrations/local_baserow/auth_provider_types.py
Due: backend-lint

Use get_model cache for fields
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Improve data source and dispatch endpoints
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/serializers.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/src/baserow/contrib/builder/domains/handler.py
  backend/src/baserow/contrib/builder/domains/permission_manager.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/migrations/0039_alter_builderworkflowaction_options.py
  backend/src/baserow/contrib/builder/workflow_actions/models.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/app_auth_providers/handler.py
  backend/src/baserow/core/db.py
  backend/src/baserow/core/integrations/handler.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/permission_manager.py
  backend/src/baserow/core/registry.py
  backend/src/baserow/core/services/handler.py
  backend/src/baserow/core/user_sources/handler.py
  backend/src/baserow/core/utils.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/elements/test_element_handler.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
  backend/tests/baserow/core/test_basic_permissions.py
  changelog/entries/unreleased/refactor/2978_builder_improve_data_dispatching_performances.json
  enterprise/backend/src/baserow_enterprise/integrations/local_baserow/auth_provider_types.py
  enterprise/backend/src/baserow_enterprise/integrations/local_baserow/user_source_types.py
  enterprise/backend/src/baserow_enterprise/role/permission_manager.py
  premium/backend/src/baserow_premium/permission_manager.py
  web-frontend/modules/builder/dataProviderTypes.js
  web-frontend/modules/builder/store/element.js
  web-frontend/modules/builder/store/elementContent.js
  web-frontend/test/unit/builder/components/elements/components/__snapshots__/RecordSelectorElement.spec.js.snap
Due: frontend-lint, backend-lint

Fix tests/lint
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/permission_manager.py
  backend/src/baserow/core/utils.py
  backend/src/baserow/test_utils/fixtures/user_source.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_public_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/user_sources/helpers.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Remove select_related content_type
  backend/src/baserow/contrib/builder/api/domains/serializers.py
  backend/src/baserow/contrib/builder/domains/handler.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/migrations/0040_alter_builderworkflowaction_options.py
  backend/src/baserow/core/integrations/handler.py
  backend/src/baserow/core/services/handler.py
  backend/src/baserow/core/user_sources/handler.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

moved baserow local table and jira issues to separate modules
  enterprise/backend/src/baserow_enterprise/data_sync/baserow_table_data_sync.py
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/src/baserow_enterprise/data_sync/jira_issues_data_sync.py
  enterprise/backend/tests/baserow_enterprise_tests/data_sync/test_local_baserow_table_data_sync_type.py
Due: none

initial
  changelog/entries/unreleased/feature/3077_github_issues_data_sync.json
  enterprise/backend/src/baserow_enterprise/apps.py
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/src/baserow_enterprise/data_sync/github_issues_data_sync.py
  enterprise/backend/src/baserow_enterprise/data_sync/models.py
  enterprise/backend/src/baserow_enterprise/migrations/0031_githubissuesdatasync.py
  enterprise/web-frontend/modules/baserow_enterprise/components/dataSync/GitHubIssuesDataSyncForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/dataSyncTypes.js
  enterprise/web-frontend/modules/baserow_enterprise/locales/en.json
  enterprise/web-frontend/modules/baserow_enterprise/plugin.js
  web-frontend/locales/en.json
Due: frontend-lint

Add frontend test: HeadingElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Add frontend test: ImageElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Add frontend test: ButtonElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Add frontend test: IFrameElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Add frontend test: TextElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Add frontend test: RepeatElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Squash commits to prep for rebase
  web-frontend/modules/builder/components/elements/components/ButtonElement.vue
  web-frontend/modules/builder/components/elements/components/FormContainerElement.vue
  web-frontend/modules/builder/components/elements/components/HeadingElement.vue
  web-frontend/modules/builder/components/elements/components/IFrameElement.vue
  web-frontend/modules/builder/components/elements/components/ImageElement.vue
  web-frontend/modules/builder/components/elements/components/LinkElement.vue
  web-frontend/modules/builder/components/elements/components/TextElement.vue
  web-frontend/modules/builder/components/page/PageElement.vue
  web-frontend/modules/builder/elementTypes.js
  web-frontend/modules/builder/locales/en.json
  web-frontend/test/unit/builder/components/elements/components/__snapshots__/HeadingElement.spec.js.snap
Due: frontend-lint

Add page_id to serializer for Element.
  backend/src/baserow/contrib/builder/api/domains/serializers.py
Due: backend-lint

Add additional checks
  web-frontend/modules/builder/elementTypes.js
Due: frontend-lint

Lint fix frontend
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Hide elements when they're in error, in both Preview and Published modes.
  web-frontend/modules/builder/components/page/PageElement.vue
Due: frontend-lint

Use non-breaking space to preserve css height.
  web-frontend/modules/builder/components/elements/components/ButtonElement.vue
  web-frontend/modules/builder/components/elements/components/HeadingElement.vue
  web-frontend/modules/builder/components/elements/components/LinkElement.vue
  web-frontend/modules/builder/components/elements/components/TextElement.vue
Due: frontend-lint

Add test for PublicElementSerializer
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Add frontend test: LinkElementType
  web-frontend/test/unit/builder/elementTypes.spec.js
Due: frontend-lint

Fix test
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
Due: backend-lint

Add changelog
  changelog/entries/unreleased/refactor/2916_builder_improve_how_placeholder_text_is_displayed_in_editor_.json
Due: none

Use generic translations
  web-frontend/modules/builder/components/elements/components/ButtonElement.vue
  web-frontend/modules/builder/components/elements/components/FormContainerElement.vue
  web-frontend/modules/builder/components/elements/components/HeadingElement.vue
  web-frontend/modules/builder/components/elements/components/IFrameElement.vue
  web-frontend/modules/builder/components/elements/components/ImageElement.vue
  web-frontend/modules/builder/components/elements/components/LinkElement.vue
  web-frontend/modules/builder/components/elements/components/TextElement.vue
  web-frontend/modules/builder/locales/en.json
Due: frontend-lint
