Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

prevent sticking view when it is deleted
  changelog.md
  web-frontend/modules/database/components/table/Table.vue
  web-frontend/modules/database/pages/table.vue
  web-frontend/modules/database/store/view.js
Due: frontend-lint

removed commented dependency
  web-frontend/modules/database/store/view.js
Due: frontend-lint

updated changelog
  changelog.md
Due: none

prepared for 1.3.0
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  changelog.md
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/README.md
  docs/guides/installation/install-on-cloudron.md
  web-frontend/package.json
Due: frontend-lint, backend-lint

force checkout the master branch
  README.md
  deploy/cloudron/Dockerfile
  docs/development/running-the-dev-environment.md
  docs/guides/installation/install-on-cloudron.md
  docs/guides/running-baserow-locally.md
  docs/plugins/boilerplate.md
Due: none

[Unique Constraint] added support for unique constraints
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/table/models.py
Due: backend-lint

[Unique Index] to allow for multiple rows to contain an empty value on a column with a unique index we need to store empty values as null
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

[Linting / Black] fixed...
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/table/models.py
Due: backend-lint

[Tests] fixed empty string to None assert with new behaviour for unique columns
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
Due: backend-lint

[Tests / Unique Columns] added view tests associated with unique columns
  backend/src/baserow/contrib/database/api/rows/errors.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/rows/exceptions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
Due: backend-lint

[Tests + Unique Columns] added missing allowed_field and added extra tests
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
Due: backend-lint

[Many-to-Many Foreign keys] added foreign keys to many-to-many relationships
  backend/src/baserow/contrib/database/api/rows/errors.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/rows/exceptions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
Due: backend-lint

[Migrations] added missing migration
  backend/src/baserow/contrib/database/migrations/0034_linkrowfield_is_reverse.py
Due: backend-lint

[Migrations] fix bad migration
  backend/src/baserow/contrib/database/migrations/0034_linkrowfield_is_reverse.py
Due: backend-lint

[Migrations] added missing migration
  backend/src/baserow/contrib/database/migrations/0032_field_unique.py
Due: backend-lint

Backend endpoints working allowing trashing, restoring, emptying and periodic cleanup for groups.
  backend/src/baserow/api/errors.py
  backend/src/baserow/api/groups/views.py
  backend/src/baserow/api/trash/__init__.py
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/api/trash/urls.py
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/api/urls.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/tokens/models.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/core/config.py
  backend/src/baserow/core/exceptions.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/managers.py
  backend/src/baserow/core/migrations/0008_auto_20210608_1309.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/tasks.py
  backend/src/baserow/core/trash/__init__.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/src/baserow/core/trash/tasks.py
  backend/tests/baserow/api/groups/test_group_invitation_views.py
  backend/tests/baserow/api/groups/test_group_user_views.py
  backend/tests/baserow/api/groups/test_group_views.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/core/test_core_managers.py
  backend/tests/baserow/core/trash/test_trash_handler.py
  backend/tests/baserow/core/trash/test_trash_types.py
  premium/backend/src/baserow_premium/admin/groups/handler.py
Due: backend-lint

wip frontend
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/core/models.py
  backend/tests/baserow/api/trash/test_trash_views.py
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/modal_sidebar.scss
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/components/settings/SettingsModal.vue
  web-frontend/modules/core/components/sidebar/Sidebar.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/components/trash/TrashSidebar.vue
  web-frontend/modules/core/pages/styleGuide.vue
  web-frontend/modules/core/services/trash.js
Due: frontend-lint, backend-lint

Fix issues when exporting tables with link fields pointing at non standard primary fields by ensuring we convert those primary fields to export format also.
  backend/src/baserow/contrib/database/export/file_writer.py
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/management/commands/fill_table.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

Update slow test with new linked row table
  backend/tests/baserow/contrib/database/field/test_field_handler.py
Due: backend-lint

Trash modal working with restore notifications!
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/core/migrations/0008_auto_20210608_1309.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/core/test_core_handler.py
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/notifications.scss
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/components/group/DeleteGroupModal.vue
  web-frontend/modules/core/components/group/GroupContext.vue
  web-frontend/modules/core/components/notifications/Notifications.vue
  web-frontend/modules/core/components/notifications/UndoDeleteNotification.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/components/trash/TrashSidebar.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/core/services/trash.js
  web-frontend/modules/core/store/notification.js
  web-frontend/modules/database/components/table/TableTemplate.vue
Due: frontend-lint, backend-lint

Add missing migration
  backend/src/baserow/core/migrations/0008_trash.py
Due: backend-lint

Allow trashing applications + finish all front end design features.
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/core/config.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/migrations/0008_trash.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/src/baserow/ws/signals.py
  backend/tests/baserow/api/groups/test_group_invitation_views.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/core/trash/test_trash_handler.py
  backend/tests/baserow/core/trash/test_trash_types.py
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/infinite_scroll.scss
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/assets/scss/components/modal_sidebar.scss
  web-frontend/modules/core/assets/scss/components/trash.scss
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/group/GroupContext.vue
  web-frontend/modules/core/components/infinite_scroll/InfiniteScroll.vue
  web-frontend/modules/core/components/sidebar/DeleteApplicationModal.vue
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/core/components/trash/TrashSidebar.vue
  web-frontend/modules/core/services/trash.js
Due: frontend-lint, backend-lint

Add migration + rollback for existing user tables adding the trash column.
  backend/src/baserow/contrib/database/migrations/0032_trash.py
Due: backend-lint

Add trash context menus sub links, prevent errors when deleting child items with trashed parents, add extra description display for rows
  backend/src/baserow/api/trash/errors.py
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/migrations/0008_trash.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/trash/exceptions.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/core/trash/test_trash_handler.py
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/components/group/GroupContext.vue
  web-frontend/modules/core/components/notifications/RestoreNotification.vue
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/core/components/trash/TrashModal.vue
Due: frontend-lint, backend-lint

Change empty confirmation modal when perm deleting a group or application to reflect so
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/components/trash/TrashEmptyModal.vue
Due: frontend-lint

Add token authentication on field list endpoint
  backend/src/baserow/contrib/database/api/fields/views.py
Due: backend-lint

Add tests for token auth with fields endpoint
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
Due: backend-lint

Dont hardcode the trash duration in the front end but instead configure it via an env variable.
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/core/trash/handler.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/core/trash/test_trash_handler.py
  docs/getting-started/introduction.md
  web-frontend/modules/core/assets/scss/components/notifications.scss
  web-frontend/modules/core/components/trash/TrashContents.vue
  web-frontend/modules/core/module.js
Due: frontend-lint, backend-lint

Update auto-generated API
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint

Add various new restore signals to properly update frontends when fields and tables are restored
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/contrib/database/fields/signals.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/ws/fields/signals.py
  backend/src/baserow/core/signals.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/src/baserow/ws/signals.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/contrib/database/ws/test_ws_fields_signals.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/ws/test_ws_signals.py
  web-frontend/modules/core/components/trash/TrashModal.vue
  web-frontend/modules/database/realtime.js
Due: frontend-lint, backend-lint

Add missing test
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
Due: backend-lint

Ensure somewhat sensible extra desc's for odd primary key deleted rows
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
Due: backend-lint

wip
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/migrations/0008_trash.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/core/trash/test_trash_handler.py
Due: backend-lint

Move testing specific helper method to test sources
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

Review fixes
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: frontend-lint, backend-lint

Add human readable getter for field types on the backend + various refactors
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/exceptions.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registry.py
  backend/tests/baserow/api/groups/test_group_invitation_views.py
  backend/tests/baserow/api/groups/test_group_user_views.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/contrib/database/ws/test_ws_fields_signals.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/core/trash/test_trash_handler.py
  backend/tests/baserow/ws/test_ws_signals.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
  web-frontend/modules/database/components/field/FieldContext.vue
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
Due: frontend-lint, backend-lint

Cleanup construction of manager classes + enforce usage of parent id (or lack of) + add tests + cleanup old todos
  backend/src/baserow/api/trash/errors.py
  backend/src/baserow/api/trash/views.py
  backend/src/baserow/core/managers.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/trash/exceptions.py
  backend/src/baserow/core/trash/handler.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/core/trash/test_trash_handler.py
  web-frontend/modules/core/components/notifications/RestoreNotification.vue
  web-frontend/modules/database/components/field/FieldContext.vue
Due: frontend-lint, backend-lint

Update token permission handler for field endpoint
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/tokens/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
  backend/tests/baserow/contrib/database/tokens/test_token_handler.py
  changelog.md
Due: backend-lint

Correctly trash and restore field views and sorts in the backend and frontend with realtime updates.
  backend/src/baserow/contrib/database/views/models.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/services/view.js
  web-frontend/modules/database/store/view.js
Due: frontend-lint, backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
