Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

fixed some typos
  backend/src/baserow/contrib/database/api/views/views.py
  web-frontend/modules/core/directives/sortable.js
Due: frontend-lint, backend-lint

Add Book Catalog Template
  backend/templates/book-catalog.json
  backend/templates/book-catalog.zip
Due: backend-lint

Add Wedding Planning Template
  backend/templates/wedding-planning.json
  backend/templates/wedding-planning.zip
Due: backend-lint

Add Lightweight CRM Template
  backend/templates/lightweight-crm.json
  backend/templates/lightweight-crm.zip
Due: backend-lint

added a json table importer
  changelog.md
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TableJSONImporter.vue
  web-frontend/modules/database/importerTypes.js
  web-frontend/modules/database/plugin.js
Due: frontend-lint

fixed failing test because of dependency
  backend/requirements/dev.txt
Due: backend-lint

fixed requirements
  backend/requirements/dev.txt
Due: backend-lint

added in code docs
  web-frontend/modules/database/components/table/TableJSONImporter.vue
Due: frontend-lint

made it possible to order the groups by drag and drop per user in the web-frontend
  backend/requirements/dev.txt
  changelog.md
  web-frontend/modules/core/components/group/GroupsContext.vue
  web-frontend/modules/core/services/group.js
  web-frontend/modules/core/store/group.js
Due: frontend-lint, backend-lint

prevent mousedown on context link
  web-frontend/modules/core/components/group/GroupsContext.vue
  web-frontend/modules/core/components/group/GroupsContextItem.vue
Due: frontend-lint

added the ability to reorder tables in the backend
  backend/src/baserow/contrib/database/api/tables/errors.py
  backend/src/baserow/contrib/database/api/tables/serializers.py
  backend/src/baserow/contrib/database/api/tables/urls.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/src/baserow/contrib/database/table/exceptions.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/table/signals.py
  backend/src/baserow/contrib/database/ws/table/signals.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/table/test_table_handler.py
  backend/tests/baserow/contrib/database/ws/test_ws_table_signals.py
  changelog.md
Due: backend-lint

added table order functionality to the web-frontend
  web-frontend/modules/core/assets/scss/components/tree.scss
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/database/components/sidebar/Sidebar.vue
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/services/table.js
  web-frontend/modules/database/store/table.js
Due: frontend-lint

fixed pytest dependency
  backend/requirements/dev.txt
Due: backend-lint

Typo fixes
  backend/src/baserow/api/user/views.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/table/handler.py
Due: backend-lint

fixed bug where the table was selected when dragging to a different location
  web-frontend/modules/core/assets/scss/components/tree.scss
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
  web-frontend/modules/database/components/sidebar/TemplateSidebar.vue
Due: frontend-lint

fixed failing pipeline
  backend/requirements/dev.txt
Due: backend-lint

introduced an endpoint to order the applications
  backend/requirements/dev.txt
  backend/src/baserow/api/applications/errors.py
  backend/src/baserow/api/applications/serializers.py
  backend/src/baserow/api/applications/urls.py
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/core/exceptions.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/signals.py
  backend/src/baserow/ws/signals.py
  backend/tests/baserow/api/applications/test_application_views.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/ws/test_ws_signals.py
Due: backend-lint

Fix small typo
  web-frontend/modules/database/components/table/TableJSONImporter.vue
Due: frontend-lint

added v-sortable to the applications
  changelog.md
  web-frontend/modules/core/assets/scss/components/tree.scss
  web-frontend/modules/core/components/sidebar/Sidebar.vue
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
  web-frontend/modules/core/components/template/TemplateSidebarApplication.vue
  web-frontend/modules/core/services/application.js
  web-frontend/modules/core/store/application.js
  web-frontend/modules/database/components/sidebar/TemplateSidebar.vue
Due: frontend-lint

fixed item deleted while dragging error
  web-frontend/modules/core/directives/sortable.js
Due: frontend-lint

replaced values with values_list
  backend/src/baserow/contrib/database/views/handler.py
Due: backend-lint

Resolve "Make the groups orderable per user"
  backend/requirements/dev.txt
  changelog.md
  web-frontend/modules/core/components/group/GroupsContext.vue
  web-frontend/modules/core/components/group/GroupsContextItem.vue
  web-frontend/modules/core/services/group.js
  web-frontend/modules/core/store/group.js
Due: frontend-lint, backend-lint

added charset choice option
  web-frontend/modules/core/components/helpers/CharsetDropdown.vue
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TableJSONImporter.vue
Due: frontend-lint

added real time collaboration and use values_list
  backend/src/baserow/core/handler.py
  web-frontend/modules/core/plugins/realTimeHandler.js
Due: frontend-lint, backend-lint

respect the order of the applications and templates in the templates modal
  web-frontend/modules/core/components/template/TemplateSidebar.vue
  web-frontend/modules/database/components/sidebar/TemplateSidebar.vue
Due: frontend-lint

added correct spelling for smtp env var
  backend/src/baserow/config/settings/base.py
  docker-compose.yml
  docs/getting-started/introduction.md
  docs/reference/baserow-docker-api.md
Due: backend-lint

fixed fallback and updated docs
  backend/src/baserow/config/settings/base.py
  docs/getting-started/introduction.md
Due: backend-lint

removed testing print
  backend/src/baserow/config/settings/base.py
Due: backend-lint

added html/css of the dashboard page
  changelog.md
  premium/web-frontend/modules/baserow_premium/adminTypes.js
  premium/web-frontend/modules/baserow_premium/assets/scss/components/admin_dashboard.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/components/admin/dashboard/chars/ActiveUsers.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/routes.js
  web-frontend/package.json
  web-frontend/yarn.lock
Due: frontend-lint

fix the overflowing text bug of the tables in the sidebar
  web-frontend/modules/core/assets/scss/components/tree.scss
  web-frontend/modules/core/components/sidebar/Sidebar.vue
  web-frontend/modules/core/components/sidebar/SidebarApplication.vue
  web-frontend/modules/core/components/template/TemplateSidebarApplication.vue
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
  web-frontend/modules/database/components/sidebar/TemplateSidebar.vue
Due: frontend-lint

fixed bug in chrome where you could not click the element after dragging
  web-frontend/modules/core/directives/sortable.js
Due: frontend-lint

removed not needed comment
  web-frontend/modules/core/directives/sortable.js
Due: frontend-lint

created handlers for calculating the new and active users
  backend/src/baserow/api/user/serializers.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/core/migrations/0007_userlogentry.py
  backend/src/baserow/core/models.py
  backend/tests/baserow/api/users/test_token_auth.py
  premium/backend/src/baserow_premium/admin_dashboard/__init__.py
  premium/backend/src/baserow_premium/admin_dashboard/handler.py
  premium/backend/src/baserow_premium/migrations/__init__.py
  premium/backend/src/baserow_premium/user_admin/__init__.py
  premium/backend/tests/baserow_premium/admin_dashboard/test_admin_dashboard_handler.py
Due: backend-lint

Add agile-development template
  backend/templates/agile-development.json
  backend/templates/agile-development.zip
Due: backend-lint

introduced an endpoint for the admin dashboard statistics
  premium/backend/src/baserow_premium/api/admin_dashboard/__init__.py
  premium/backend/src/baserow_premium/api/admin_dashboard/serializers.py
  premium/backend/src/baserow_premium/api/admin_dashboard/urls.py
  premium/backend/src/baserow_premium/api/admin_dashboard/views.py
  premium/backend/src/baserow_premium/api/urls.py
  premium/backend/tests/baserow_premium/api/admin_dashboard/test_admin_dashboard_views.py
Due: none

fetch the dashboard values and show them
  backend/src/baserow/config/settings/base.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/admin_dashboard.scss
  premium/web-frontend/modules/baserow_premium/components/admin/dashboard/chars/ActiveUsers.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
  premium/web-frontend/modules/baserow_premium/services/adminDashboard.js
Due: backend-lint

removed console.log
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
Due: none

added endpoint docs
  premium/backend/src/baserow_premium/api/admin_dashboard/views.py
Due: none

fixed padding, removed groups link and placed date correctly on the chart
  premium/web-frontend/modules/baserow_premium/assets/scss/components/admin_dashboard.scss
  premium/web-frontend/modules/baserow_premium/components/admin/dashboard/chars/ActiveUsers.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
Due: none

pleased linter
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
