Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Add changelog
  changelog.md
Due: none

changed util functions to detect unicode characters
  web-frontend/modules/core/utils/events.js
Due: frontend-lint

updated to new function names
  web-frontend/test/unit/core/utils/events.spec.js
Due: frontend-lint

updated to new function name
  web-frontend/modules/database/mixins/gridFieldInput.js
Due: frontend-lint

updated to new function name
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldSingleSelect.vue
Due: frontend-lint

replaced local input components with new password input component
  premium/web-frontend/modules/baserow_premium/components/admin/users/forms/ChangePasswordForm.vue
Due: none

added await to password input trigger so that this happens before the next steps
  premium/web-frontend/test/fixtures/uiHelpers.js
Due: none

Specify the version of python to install
  docs/guides/installation/install-on-ubuntu.md
Due: none

Add decision record for backups
  docs/decisions/002-baserow-data-backups.md
Due: none

Even more words
  docs/decisions/002-baserow-data-backups.md
Due: none

Add backup command
  backend/src/baserow/contrib/database/management/commands/backup_db.py
Due: backend-lint

Add SSL flag
  backend/src/baserow/contrib/database/management/commands/backup_db.py
Due: backend-lint

Add hostname and port overrides
  backend/src/baserow/contrib/database/management/commands/backup_db.py
Due: backend-lint

Fix small issues
  backend/src/baserow/contrib/database/management/commands/backup_db.py
Due: backend-lint

updated function comment
  web-frontend/modules/core/utils/events.js
Due: frontend-lint

updated tests for detecting certain unicode characters
  web-frontend/test/unit/core/utils/events.spec.js
Due: frontend-lint

added entry to changelog
  changelog.md
Due: none

Add initial runbook
  docs/runbooks/migrate-from-user-tables-database.md
Due: none

Nicer colours in copy_table command + further runbook changes
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
  docs/runbooks/migrate-from-user-tables-database.md
Due: backend-lint

added more test data and new line to the changelog
  changelog.md
  web-frontend/modules/core/pages/styleGuide.vue
Due: frontend-lint

Add ssl mode flag
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
Due: backend-lint

Nicer changelog.md message
  changelog.md
Due: none

Revert black autoformat of migrations...
  backend/src/baserow/contrib/database/migrations/0011_link_row_column_name_fix.py
  backend/src/baserow/contrib/database/migrations/0020_fix_primary_link_row.py
  backend/src/baserow/contrib/database/migrations/0021_auto_20201215_2047.py
  backend/src/baserow/contrib/database/migrations/0022_row_order.py
  backend/src/baserow/contrib/database/migrations/0023_convert_int_to_bigint.py
  backend/src/baserow/contrib/database/migrations/0028_fix_negative_date.py
Due: backend-lint

added two missing transactions
  backend/src/baserow/contrib/database/api/views/form/views.py
Due: backend-lint

Switch to using a dry-run flag and change other commands to be named flags for greater readibility of command + less likelyhood of copying in the wrong direction
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
Due: backend-lint

Update runbook with new command arg names
  docs/runbooks/migrate-from-user-tables-database.md
Due: none

Fix lint
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
Due: backend-lint

correctly accounted for scrolling when certain elements are not selectable
  web-frontend/modules/core/assets/scss/components/select.scss
  web-frontend/modules/core/mixins/dropdown.js
Due: frontend-lint

Apply suggested fixes to missing indications
  docs/guides/installation/install-on-ubuntu.md
Due: none

Make copy_tables work with a batch size parameter
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
Due: backend-lint

Add tests covering batching logic
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
  backend/tests/baserow/contrib/database/management/test_copy_tables.py
Due: backend-lint

Update runbook
  docs/runbooks/migrate-from-user-tables-database.md
Due: none

Update runbook versions
  docs/runbooks/migrate-from-user-tables-database.md
Due: none

updated docs
  web-frontend/modules/core/mixins/dropdown.js
Due: frontend-lint

Add fully working backup and restore baserow db commands
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/management/commands/backup_db.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/core/management/backup/backup.py
  backend/src/baserow/core/management/commands/backup_db.py
  backend/src/baserow/core/management/commands/restore_db.py
  docker-compose.yml
Due: backend-lint

removed not needed comments; readded last-child margin
  web-frontend/modules/core/assets/scss/components/select.scss
  web-frontend/modules/core/mixins/dropdown.js
Due: frontend-lint

removed entry from changelog to merge changes from develop
  changelog.md
Due: none

bumped dependencies
  .gitlab-ci.yml
  backend/requirements/base.txt
  backend/requirements/dev.txt
  changelog.md
  plugin-boilerplate/{{ cookiecutter.project_slug }}/Dockerfile.web-frontend
  premium/web-frontend/modules/baserow_premium/components/admin/users/contexts/EditUserContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/fields/ActiveField.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
  web-frontend/.eslintrc.js
  web-frontend/Dockerfile
  web-frontend/docker/Dockerfile.dev
  web-frontend/modules/core/pages/dashboard.vue
  web-frontend/modules/core/pages/styleGuide.vue
  web-frontend/modules/database/components/export/ExportTableLoadingBar.vue
  web-frontend/modules/database/components/field/FileFieldModal.vue
  web-frontend/modules/database/components/view/ViewSortContext.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewRowDragging.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/pages/APIDocsDatabase.vue
  web-frontend/package.json
  web-frontend/test/unit/database/table.spec.js
  web-frontend/yarn.lock
Due: frontend-lint, backend-lint

downgraded drf
  backend/requirements/base.txt
Due: backend-lint
