Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

fix tests
  web-frontend/test/unit/database/components/export/__snapshots__/exportTableModal.spec.js.snap
Due: frontend-lint

continue
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/auth_provider_buttons.scss
  enterprise/web-frontend/modules/baserow_enterprise/components/admin/login/LoginButton.vue
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/auth.scss
  web-frontend/modules/core/components/auth/Login.vue
  web-frontend/modules/core/components/auth/LoginActions.vue
  web-frontend/modules/core/components/auth/LoginButtons.vue
  web-frontend/modules/core/components/auth/PasswordLogin.vue
  web-frontend/modules/core/components/auth/PasswordRegister.vue
  web-frontend/modules/core/layouts/login.vue
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/pages/login.vue
  web-frontend/modules/core/pages/resetPassword.vue
  web-frontend/modules/core/pages/signup.vue
  web-frontend/modules/core/routes.js
Due: frontend-lint

fix spacer class generation
  web-frontend/modules/core/assets/scss/helpers.scss
Due: frontend-lint

fix attribute value
  web-frontend/modules/core/pages/signup.vue
Due: frontend-lint

pleased linter
  web-frontend/modules/core/components/auth/Login.vue
Due: frontend-lint

add placeholder selectors
  web-frontend/modules/core/assets/scss/components/auth.scss
  web-frontend/modules/core/assets/scss/helpers.scss
Due: frontend-lint

fix line height
  web-frontend/modules/core/assets/scss/components/auth.scss
Due: frontend-lint

fix saml login
  enterprise/web-frontend/modules/baserow_enterprise/pages/login/loginWithSAML.vue
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/pages/signup.vue
Due: frontend-lint

fix route
  web-frontend/modules/core/routes.js
Due: frontend-lint

use placeholder
  web-frontend/modules/core/assets/scss/components/auth.scss
Due: frontend-lint

remove unused css class
  web-frontend/modules/core/assets/scss/components/auth.scss
Due: frontend-lint

fix rebase
  web-frontend/modules/core/assets/scss/variables.scss
Due: frontend-lint

add changelog
  changelog/entries/unreleased/refactor/1918_redesigned_auth_views.json
Due: none

fix mispelling in changelog
  changelog/entries/unreleased/refactor/1918_refactor_trash_modal.json
  changelog/entries/unreleased/refactor/1918_refactort_trash_modal.json
Due: none

Fix row update metadata reactivity bug
  changelog/entries/unreleased/bug/fix_row_metadata_reactivity_bug.json
  premium/web-frontend/modules/baserow_premium/store/row_comments.js
  premium/web-frontend/modules/baserow_premium/store/view/calendar.js
  premium/web-frontend/modules/baserow_premium/store/view/kanban.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

removed console.log
  premium/web-frontend/modules/baserow_premium/store/view/calendar.js
  premium/web-frontend/modules/baserow_premium/store/view/kanban.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/store/view/grid.js
Due: frontend-lint

pleased linter
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
Due: none

Move the whole hidden data feature behind a feature flag
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

diagrams
  docs/assets/diagrams/job-workflow/job-states.mermaid
  docs/assets/diagrams/job-workflow/job-states.png
  docs/patterns/jobs.md
Due: none

#3034 job api refactor - precise state description
  backend/src/baserow/core/jobs/handler.py
  backend/src/baserow/core/jobs/models.py
  backend/tests/baserow/core/jobs/test_job_tasks.py
  backend/tests/baserow/core/jobs/test_jobs_handler.py
  backend/tests/baserow/core/jobs/test_jobs_models.py
  docs/assets/diagrams/job-workflow/job-states.mermaid
  docs/patterns/jobs.md
  web-frontend/modules/core/components/snapshots/SnapshotListItem.vue
  web-frontend/modules/core/components/snapshots/SnapshotsModal.vue
  web-frontend/modules/core/mixins/job.js
  web-frontend/modules/database/components/table/ImportFileModal.vue
Due: frontend-lint, backend-lint

Rename done to ended; uniform names between frontend, backend and docs
  backend/src/baserow/core/jobs/handler.py
  backend/src/baserow/core/jobs/models.py
  docs/assets/diagrams/job-workflow/job-states.mermaid
  docs/assets/diagrams/job-workflow/job-states.png
  docs/patterns/jobs.md
  web-frontend/modules/core/mixins/job.js
Due: frontend-lint, backend-lint

Add changelog
  changelog/entries/unreleased/bug/builder_fix_record_selector_name_resolution_bug.json
Due: none

Change import context merge for ElementHandler.get_import_context_addition
  backend/src/baserow/contrib/builder/elements/handler.py
Due: backend-lint

Fix record name resolution for undefined fields
  web-frontend/modules/builder/components/elements/components/RecordSelectorElement.vue
Due: frontend-lint

Fix suffix formulas for RecordSelectorElement
  backend/src/baserow/contrib/builder/elements/element_types.py
Due: backend-lint

Add unit test to RecordSelectorElement import/export option name suffix formula
  backend/tests/baserow/contrib/builder/elements/test_record_selector_element_type.py
Due: backend-lint

Add default result to CollectionElementTypeMixin.import_context_addition
  backend/src/baserow/contrib/builder/elements/mixins.py
Due: backend-lint

Fix typo
  web-frontend/modules/integrations/serviceTypes.js
Due: frontend-lint

Fix record name resolution
  web-frontend/modules/integrations/serviceTypes.js
  web-frontend/test/unit/builder/components/elements/components/RecordSelectorElement.spec.js
Due: frontend-lint

Update frontend tests for RecordSelector option name suffix
  web-frontend/test/unit/builder/components/elements/components/RecordSelectorElement.spec.js
  web-frontend/test/unit/builder/components/elements/components/__snapshots__/RecordSelectorElement.spec.js.snap
Due: frontend-lint

Update changelog
  changelog/entries/unreleased/bug/builder_fix_record_selector_name_resolution_bug.json
Due: none

Fix flaky test
  web-frontend/test/unit/core/utils/queue.spec.js
Due: frontend-lint

Add more PORT configuration to prevent conflict
  .env.dev.example
  dev.sh
  docker-compose.dev.yml
Due: none

Fix tests
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Add tests
  backend/src/baserow/contrib/builder/pages/handler.py
  backend/src/baserow/contrib/builder/pages/service.py
  backend/src/baserow/test_utils/fixtures/workflow_action.py
  backend/tests/baserow/contrib/builder/elements/test_element_handler.py
  backend/tests/baserow/contrib/builder/elements/test_element_service.py
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_handler.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_service.py
  web-frontend/test/unit/builder/components/elements/components/RecordSelectorElement.spec.js
Due: frontend-lint, backend-lint

Fix chache not being cleared
  web-frontend/modules/builder/pages/pageEditor.vue
Due: frontend-lint

Fix hidden data for shared data sources
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/elements/service.py
  backend/src/baserow/contrib/builder/formula_property_extractor.py
  backend/src/baserow/contrib/builder/pages/handler.py
  backend/src/baserow/contrib/builder/pages/service.py
  backend/src/baserow/contrib/builder/workflow_actions/handler.py
  backend/src/baserow/contrib/builder/workflow_actions/service.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
Due: backend-lint

Fix first round of feedbacks
  backend/src/baserow/contrib/builder/api/pages/errors.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/store/dataSource.js
Due: frontend-lint, backend-lint

Fix review feedbacks v2
  backend/src/baserow/contrib/builder/migrations/0039_alter_page_options_page_shared.py
  backend/src/baserow/contrib/builder/pages/models.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
  web-frontend/modules/builder/components/dataSource/DataSourceCreateEditModal.vue
  web-frontend/modules/builder/components/dataSource/DataSourceDropdown.vue
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/builder/components/dataSource/DataSourceItem.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RecordSelectorElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/pages/pageEditor.vue
Due: frontend-lint, backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
