Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

More docs
  backend/src/baserow/contrib/database/export/registries.py
Due: backend-lint

Fix import merge error
  premium/web-frontend/modules/baserow_premium/plugin.js
Due: none

Remove unused class
  backend/src/baserow/contrib/database/api/views/grid/handler.py
  backend/src/baserow/contrib/database/api/views/grid/urls.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
Due: backend-lint

Various fixes and cleanup
  backend/src/baserow/contrib/database/export/tasks.py
  premium/web-frontend/modules/baserow_premium/tableExporterTypes.js
  web-frontend/modules/core/registry.js
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
  web-frontend/modules/database/exporterTypes.js
Due: frontend-lint, backend-lint

Fix table only export and add missing test for this case
  backend/src/baserow/contrib/database/api/export/serializers.py
  backend/tests/baserow/contrib/database/api/export/test_export_views.py
Due: backend-lint

added groups overview to the web-frontend
  premium/backend/src/baserow_premium/api/admin/groups/serializers.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/admin/views.py
  premium/backend/tests/baserow_premium/api/admin/groups/test_groups_admin_views.py
  premium/web-frontend/modules/baserow_premium/adminTypes.js
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/crud_table.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/group_admin.scss
  premium/web-frontend/modules/baserow_premium/components/admin/groups/GroupsAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/contexts/EditGroupContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/contexts/HiddenUsersContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/fields/GroupNameField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/fields/GroupUsersField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/UsersAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/contexts/HiddenGroupsContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/fields/UserGroupsField.vue
  premium/web-frontend/modules/baserow_premium/crud_table/baseService.js
  premium/web-frontend/modules/baserow_premium/crud_table/crudTableColumn.js
  premium/web-frontend/modules/baserow_premium/pages/admin/groups.vue
  premium/web-frontend/modules/baserow_premium/pages/admin/users.vue
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/routes.js
  premium/web-frontend/modules/baserow_premium/services/admin/groups.js
  premium/web-frontend/modules/baserow_premium/services/admin/users.js
  web-frontend/modules/core/adminTypes.js
  web-frontend/modules/core/components/sidebar/Sidebar.vue
Due: frontend-lint

made it possible to delete a group as admin
  backend/src/baserow/ws/signals.py
  premium/backend/src/baserow_premium/admin/groups/__init__.py
  premium/backend/src/baserow_premium/admin/groups/handler.py
  premium/backend/src/baserow_premium/api/admin/groups/urls.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/admin/users/views.py
  premium/backend/tests/baserow_premium/admin/groups/test_groups_admin_handler.py
  premium/backend/tests/baserow_premium/api/admin/groups/test_groups_admin_views.py
  premium/backend/tests/baserow_premium/api/admin/users/test_users_admin_views.py
  premium/web-frontend/modules/baserow_premium/components/admin/groups/GroupsAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/contexts/EditGroupContext.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/fields/GroupUsersField.vue
  premium/web-frontend/modules/baserow_premium/components/admin/groups/modals/DeleteGroupModal.vue
  premium/web-frontend/modules/baserow_premium/services/admin/groups.js
  premium/web-frontend/test/unit/premium/admin/user/userAdmin.spec.js
Due: backend-lint

fixed failing tests
  premium/web-frontend/test/fixtures/uiHelpers.js
  premium/web-frontend/test/unit/premium/admin/users/userAdmin.spec.js
Due: none

updated docs
  premium/backend/src/baserow_premium/api/admin/dashboard/views.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/admin/users/errors.py
  premium/backend/src/baserow_premium/api/admin/users/views.py
  premium/backend/src/baserow_premium/api/admin/views.py
Due: none

fixed failing test
  premium/web-frontend/modules/baserow_premium/components/admin/groups/GroupsAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/UsersAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/crud_table/CrudTable.vue
Due: none

added premium feature message to the api docs
  premium/backend/src/baserow_premium/api/admin/dashboard/views.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/admin/users/views.py
Due: none

reversed order
  premium/web-frontend/modules/baserow_premium/adminTypes.js
  web-frontend/modules/core/adminTypes.js
  web-frontend/modules/core/components/sidebar/Sidebar.vue
Due: frontend-lint

added application count
  premium/backend/src/baserow_premium/api/admin/groups/serializers.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/tests/baserow_premium/api/admin/groups/test_groups_admin_views.py
  premium/web-frontend/modules/baserow_premium/components/admin/groups/GroupsAdminTable.vue
Due: none

made it possible to toggle the context menus
  premium/web-frontend/modules/baserow_premium/assets/scss/components/user_admin.scss
  premium/web-frontend/modules/baserow_premium/components/admin/groups/GroupsAdminTable.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/UsersAdminTable.vue
Due: none

fixed typos
  premium/backend/src/baserow_premium/api/admin/groups/serializers.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/admin/users/serializers.py
  premium/backend/src/baserow_premium/api/admin/users/views.py
  premium/backend/src/baserow_premium/api/admin/views.py
  premium/web-frontend/modules/baserow_premium/components/admin/groups/modals/DeleteGroupModal.vue
Due: none

added link on dashboard to groups
  premium/web-frontend/modules/baserow_premium/pages/admin/dashboard.vue
Due: none

changed view name
  backend/templates/lightweight-crm.json
Due: backend-lint

updated changelog
  changelog.md
Due: none

fixed canceled error, moved more logic to the modal and some minor things
  backend/src/baserow/contrib/database/export/handler.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  web-frontend/modules/core/assets/scss/components/export.scss
  web-frontend/modules/core/assets/scss/components/header.scss
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableLoadingBar.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
  web-frontend/modules/database/components/table/Table.vue
  web-frontend/modules/database/components/view/ViewContext.vue
Due: frontend-lint, backend-lint

added app name to celery beat worker config
  backend/requirements/base.txt
  deploy/cloudron/supervisor.conf
  docs/guides/installation/configuration-files/supervisor/baserow-backend.conf
Due: backend-lint

fixed make a choice dropdown
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/database/components/field/FieldSingleSelectDropdown.vue
Due: frontend-lint

fixed docs
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/export/file_writer.py
  backend/src/baserow/contrib/database/export/models.py
  backend/src/baserow/contrib/database/export/registries.py
  backend/src/baserow/contrib/database/export/table_exporters/csv_table_exporter.py
  backend/src/baserow/contrib/database/export/tasks.py
  docs/index.md
  premium/backend/src/baserow_premium/export/exporter_types.py
Due: backend-lint

prevent duplicates and incorrect keys in the xml and json exporter
  premium/backend/src/baserow_premium/config.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/src/baserow_premium/export/utils.py
  premium/backend/tests/baserow_premium/api/export/test_premium_export_views.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
  premium/backend/tests/baserow_premium/export/test_premium_export_utils.py
  premium/web-frontend/modules/baserow_premium/plugin.js
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/database/components/export/ExportTableDropdown.vue
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
Due: frontend-lint

pleased linter
  premium/backend/src/baserow_premium/export/utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: none

fixed failing tests
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: none

moved exception to export module
  backend/src/baserow/contrib/database/api/export/errors.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/export/exceptions.py
Due: backend-lint

pleased linter
  backend/src/baserow/contrib/database/api/export/views.py
Due: backend-lint

simplified the ubuntu install docs a bit
  docs/guides/installation/configuration-files/nginx.conf
  docs/guides/installation/configuration-files/nginx/baserow-backend.conf
  docs/guides/installation/configuration-files/nginx/baserow-frontend.conf
  docs/guides/installation/configuration-files/nginx/baserow-media.conf
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/configuration-files/supervisor/baserow-frontend.conf
  docs/guides/installation/configuration-files/supervisor/nginx.conf
  docs/guides/installation/install-on-ubuntu.md
Due: none

fixed supervirsor
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/install-on-ubuntu.md
Due: none

updated docs and supervisor
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/install-on-ubuntu.md
Due: none

final document updates
  docs/guides/installation/configuration-files/nginx.conf
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/install-on-ubuntu.md
Due: none

minor api doc changes
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/export/views.py
Due: backend-lint

reset state after modal is opened and fixed hover state of the disabled choice
  web-frontend/modules/core/assets/scss/components/choice_items.scss
  web-frontend/modules/database/components/export/ExportTableModal.vue
Due: frontend-lint

final touches
  backend/src/baserow/api/utils.py
  backend/src/baserow/contrib/database/api/export/views.py
  backend/src/baserow/contrib/database/export/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  deploy/cloudron/nginx.conf
  web-frontend/modules/core/mixins/form.js
Due: frontend-lint, backend-lint

fixed url max length bug and added frontend validation for the email field
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/fields.py
  backend/src/baserow/contrib/database/migrations/0031_fix_url_field_max_length.py
  changelog.md
  web-frontend/modules/database/mixins/emailField.js
Due: frontend-lint, backend-lint

pleased linter
  backend/src/baserow/contrib/database/fields/fields.py
Due: backend-lint

added test
  backend/tests/baserow/contrib/database/field/test_field_types.py
Due: backend-lint

pleased linter
  backend/tests/baserow/contrib/database/field/test_field_types.py
Due: backend-lint

fixed focus editable component bug
  changelog.md
  web-frontend/modules/core/components/Editable.vue
  web-frontend/modules/core/utils/dom.js
Due: frontend-lint

fixed bug in chrome
  web-frontend/modules/core/assets/scss/helpers.scss
  web-frontend/modules/core/components/Editable.vue
Due: frontend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
