Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Fix review feedbacks
  backend/src/baserow/contrib/builder/api/data_sources/serializers.py
  backend/src/baserow/contrib/builder/workflow_actions/handler.py
  backend/src/baserow/contrib/builder/workflow_actions/service.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_service.py
  web-frontend/modules/builder/mixins/collectionElement.js
Due: frontend-lint, backend-lint

Backport of the collection element loading using fetch instead of mount
  web-frontend/modules/builder/dataProviderTypes.js
  web-frontend/modules/builder/mixins/collectionElement.js
Due: frontend-lint

Fix review feedbacks
  web-frontend/modules/builder/pages/pageEditor.vue
  web-frontend/modules/core/serviceTypes.js
Due: frontend-lint

Making things DRYer, hardening up some of the data source schema edge cases.
  web-frontend/modules/builder/components/elements/components/forms/general/RecordSelectorElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/settings/PropertyOptionForm.vue
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/mixins/collectionElementForm.js
  web-frontend/modules/core/assets/scss/components/builder/elements/forms/collection_element_form.scss
  web-frontend/modules/core/components/services/ServiceSchemaPropertySelector.vue
Due: frontend-lint

The password field type isn't searchable anymore.
  backend/tests/baserow/contrib/integrations/local_baserow/test_service_types.py
Due: backend-lint

Removing the CollectionElementMenu
  web-frontend/modules/builder/components/elements/components/TableElement.vue
Due: frontend-lint

Translate the table headings properly.
  web-frontend/modules/builder/components/elements/components/forms/general/settings/PropertyOptionForm.vue
  web-frontend/modules/builder/locales/en.json
Due: frontend-lint

Use the translations as keys for the row values.
  web-frontend/modules/builder/components/elements/components/forms/general/settings/PropertyOptionForm.vue
Due: frontend-lint

Ensure the schema_property within the property_options are migrated properly.
  backend/src/baserow/contrib/builder/elements/mixins.py
  backend/tests/baserow/contrib/builder/elements/mixins/test_collection_element_type_mixin.py
Due: backend-lint

Fixing an issue where a trashed field in a field_mapping wouldn't be exported/imported into a new workspace properly.
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_upsert_row_service_type.py
Due: backend-lint

When re-creating the CollectionElementPropertyOptions we need to pass in the element.
  backend/src/baserow/contrib/builder/elements/mixins.py
Due: backend-lint

Review feedback
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/permission_manager.py
  backend/src/baserow/core/utils.py
  enterprise/backend/src/baserow_enterprise/integrations/local_baserow/auth_provider_types.py
Due: backend-lint

Fix property cache
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
Due: backend-lint

Use get_model cache for fields
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Improve data source and dispatch endpoints
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/builder/api/data_sources/views.py
  backend/src/baserow/contrib/builder/api/domains/serializers.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/src/baserow/contrib/builder/domains/handler.py
  backend/src/baserow/contrib/builder/domains/permission_manager.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/migrations/0039_alter_builderworkflowaction_options.py
  backend/src/baserow/contrib/builder/workflow_actions/models.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/app_auth_providers/handler.py
  backend/src/baserow/core/db.py
  backend/src/baserow/core/integrations/handler.py
  backend/src/baserow/core/mixins.py
  backend/src/baserow/core/permission_manager.py
  backend/src/baserow/core/registry.py
  backend/src/baserow/core/services/handler.py
  backend/src/baserow/core/user_sources/handler.py
  backend/src/baserow/core/utils.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/elements/test_element_handler.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
  backend/tests/baserow/core/test_basic_permissions.py
  changelog/entries/unreleased/refactor/2978_builder_improve_data_dispatching_performances.json
  enterprise/backend/src/baserow_enterprise/integrations/local_baserow/auth_provider_types.py
  enterprise/backend/src/baserow_enterprise/integrations/local_baserow/user_source_types.py
  enterprise/backend/src/baserow_enterprise/role/permission_manager.py
  premium/backend/src/baserow_premium/permission_manager.py
  web-frontend/modules/builder/dataProviderTypes.js
  web-frontend/modules/builder/store/element.js
  web-frontend/modules/builder/store/elementContent.js
  web-frontend/test/unit/builder/components/elements/components/__snapshots__/RecordSelectorElement.spec.js.snap
Due: frontend-lint, backend-lint

Fix tests/lint
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/integrations/local_baserow/mixins.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/permission_manager.py
  backend/src/baserow/core/utils.py
  backend/src/baserow/test_utils/fixtures/user_source.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_public_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/user_sources/helpers.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Remove select_related content_type
  backend/src/baserow/contrib/builder/api/domains/serializers.py
  backend/src/baserow/contrib/builder/domains/handler.py
  backend/src/baserow/contrib/builder/elements/handler.py
  backend/src/baserow/contrib/builder/migrations/0040_alter_builderworkflowaction_options.py
  backend/src/baserow/core/integrations/handler.py
  backend/src/baserow/core/services/handler.py
  backend/src/baserow/core/user_sources/handler.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
Due: backend-lint

Add skeleton
  web-frontend/modules/builder/components/page/PageElement.vue
  web-frontend/modules/builder/pages/publicPage.vue
  web-frontend/modules/core/assets/scss/components/builder/element.scss
Due: frontend-lint

Improve front perfs
  web-frontend/modules/builder/pages/publicPage.vue
  web-frontend/modules/builder/store/element.js
  web-frontend/modules/builder/store/page.js
  web-frontend/modules/builder/store/workflowAction.js
Due: frontend-lint

Fixing a test post-shared data source merge.
  backend/src/baserow/contrib/builder/elements/mixins.py
  backend/tests/baserow/contrib/builder/elements/mixins/test_collection_element_type_mixin.py
Due: backend-lint

Fix issue with deserializing property options when the schema_property isn't a Field db_column.
  backend/src/baserow/contrib/builder/elements/mixins.py
  backend/tests/baserow/contrib/builder/elements/mixins/test_collection_element_type_mixin.py
Due: backend-lint

Tweak field_mapping deserialization.
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

add comment to the `table_id` check
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
Due: none

raise sync error on valueerror
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
Due: none

made getting the properties more pythonic
  backend/src/baserow/core/utils.py
  backend/tests/baserow/core/test_core_utils.py
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/tests/baserow_enterprise_tests/data_sync/test_jira_issues_data_sync.py
Due: backend-lint

use advocate
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
Due: none

hide error when type changes
  web-frontend/modules/database/components/table/CreateDataSync.vue
Due: frontend-lint

#3103 boolean lookup filters
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/formula/expression_generator/django_expressions.py
  backend/src/baserow/contrib/database/views/array_view_filters.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_array_filters.py
  web-frontend/modules/database/arrayViewFilters.js
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint, backend-lint

#3103 boolean lookup filters
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint

[skip-ci] wip
  backend/src/baserow/contrib/database/fields/dependencies/update_collector.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/formula/ast/function.py
  backend/src/baserow/contrib/database/formula/ast/function_defs.py
  backend/src/baserow/contrib/database/formula/expression_generator/generator.py
  backend/src/baserow/contrib/database/formula/handler.py
  web-frontend/modules/database/viewFilters.js
Due: frontend-lint, backend-lint

Introduce aggregate rows service type
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/field_aggregations.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/views/view_aggregations.py
  backend/src/baserow/contrib/integrations/apps.py
  backend/src/baserow/contrib/integrations/local_baserow/models.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/contrib/integrations/migrations/0009_localbaserowaggregaterows.py
  backend/src/baserow/test_utils/fixtures/service.py
  backend/tests/baserow/contrib/database/field/test_field_aggregations.py
  backend/tests/baserow/contrib/integrations/local_baserow/service_types/test_aggregate_rows_service_type.py
Due: backend-lint

Fix migrations
  backend/src/baserow/contrib/integrations/migrations/0010_localbaserowaggregaterows.py
  backend/src/baserow/contrib/integrations/migrations/0011_alter_localbaserowaggregaterows_search_query.py
Due: backend-lint

Workspace import
  backend/src/baserow/api/import_workspace/serializers.py
  backend/src/baserow/api/workspaces/serializers.py
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/import_export_handler.py
  backend/src/baserow/core/job_types.py
  backend/src/baserow/core/migrations/0091_importapplicationsjob_importresource.py
  backend/src/baserow/core/models.py
  backend/tests/baserow/contrib/database/api/export/test_export_workspace_views.py
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/import_workspace.scss
  web-frontend/modules/core/components/application/CreateApplicationContext.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/components/import/ImportWorkspaceForm.vue
  web-frontend/modules/core/components/import/ImportWorkspaceModal.vue
  web-frontend/modules/core/components/import/SelectedFileDetails.vue
  web-frontend/modules/core/jobTypes.js
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/plugin.js
  web-frontend/modules/core/plugins.js
  web-frontend/modules/core/services/importWorkspaceService.js
  web-frontend/modules/database/services/export.js
Due: frontend-lint, backend-lint

First pass at getting filtering working in the Local Baserow collection element menu.
  backend/src/baserow/api/services/serializers.py
  web-frontend/modules/builder/components/elements/components/RepeatElement.vue
  web-frontend/modules/builder/components/elements/components/TableElement.vue
  web-frontend/modules/builder/mixins/collectionElement.js
  web-frontend/modules/builder/services/publishedBuilder.js
  web-frontend/modules/builder/store/elementContent.js
  web-frontend/modules/core/serviceTypes.js
  web-frontend/modules/integrations/localBaserow/elements/CollectionElementMenu.vue
  web-frontend/modules/integrations/localBaserow/elements/LocalBaserowCollectionElementMenu.vue
  web-frontend/modules/integrations/serviceTypes.js
Due: frontend-lint, backend-lint

Introduce aggregate rows service type
  backend/src/baserow/contrib/integrations/migrations/0009_localbaserowaggregaterows.py
Due: backend-lint

Simplify the table computed prop.
  web-frontend/modules/integrations/localBaserow/components/services/LocalBaserowAggregateRowsForm.vue
Due: frontend-lint

Frontend changes to make the AB use the new aggregation service.
  web-frontend/modules/integrations/localBaserow/components/services/LocalBaserowAggregateRowsForm.vue
  web-frontend/modules/integrations/locales/en.json
  web-frontend/modules/integrations/plugin.js
  web-frontend/modules/integrations/serviceTypes.js
Due: frontend-lint

Removing some logs
  web-frontend/modules/integrations/localBaserow/components/services/LocalBaserowAggregateRowsForm.vue
Due: frontend-lint

Removing the old migration post-rebase
  backend/src/baserow/contrib/integrations/migrations/0009_localbaserowaggregaterows.py
Due: backend-lint

#3103 frontend fixes, changelog
  backend/tests/baserow/contrib/database/view/test_view_array_filters.py
  changelog/entries/unreleased/feature/3103_boolean_lookup_filters_emptynot_emptynone_ofanyall.json
  web-frontend/modules/database/arrayViewFilters.js
  web-frontend/test/unit/database/arrayViewFiltersMatch.spec.js
Due: frontend-lint, backend-lint
