Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

Fix chache not being cleared
  web-frontend/modules/builder/pages/pageEditor.vue
Due: frontend-lint

Add tests
  backend/src/baserow/contrib/builder/pages/handler.py
  backend/src/baserow/contrib/builder/pages/service.py
  backend/src/baserow/test_utils/fixtures/workflow_action.py
  backend/tests/baserow/contrib/builder/elements/test_element_handler.py
  backend/tests/baserow/contrib/builder/elements/test_element_service.py
  backend/tests/baserow/contrib/builder/test_formula_property_extractor.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_handler.py
  backend/tests/baserow/contrib/builder/workflow_actions/test_workflow_actions_service.py
Due: backend-lint

Fix review feedbacks v2
  backend/src/baserow/contrib/builder/migrations/0039_alter_page_options_page_shared.py
  backend/src/baserow/contrib/builder/pages/models.py
  backend/tests/baserow/contrib/builder/elements/test_element_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_mixins.py
  web-frontend/modules/builder/components/dataSource/DataSourceCreateEditModal.vue
  web-frontend/modules/builder/components/dataSource/DataSourceDropdown.vue
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/builder/components/dataSource/DataSourceItem.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RecordSelectorElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/pages/pageEditor.vue
Due: frontend-lint, backend-lint

Fix tests
  backend/tests/baserow/contrib/builder/data_providers/test_data_provider_types.py
Due: backend-lint

Fix feedbacks v2
  backend/src/baserow/contrib/builder/migrations/0039_alter_page_options_page_shared.py
  backend/src/baserow/contrib/builder/pages/models.py
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/core/assets/scss/components/builder/data_source_item.scss
Due: frontend-lint, backend-lint

Fix first round of feedbacks
  backend/src/baserow/contrib/builder/api/pages/errors.py
  backend/src/baserow/contrib/builder/data_sources/handler.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  web-frontend/modules/builder/locales/en.json
  web-frontend/modules/builder/store/dataSource.js
Due: frontend-lint, backend-lint

Fix license check export audit log workspace level
  changelog/entries/unreleased/bug/fix_license_check_export_workspace_audit_log.json
  enterprise/backend/src/baserow_enterprise/api/audit_log/views.py
  enterprise/backend/src/baserow_enterprise/audit_log/job_types.py
  enterprise/backend/src/baserow_enterprise/audit_log/utils.py
Due: none

Add test
  enterprise/backend/tests/baserow_enterprise_tests/audit_log/test_audit_log_export_job.py
Due: none

ConcurrencyLimiterASGI with tests
  Makefile
  backend/src/baserow/config/asgi.py
  backend/src/baserow/config/gunicorn_worker.py
  backend/src/baserow/config/helpers.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/performance/test_asgi_concurrency_limit.py
  backend/tests/conftest.py
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/docker-compose.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docker-compose.yml
Due: backend-lint

Add test case for get_cache_key() when user is editor
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Add test case to ensure Exceptions in results are returned as-is
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
Due: backend-lint

Fix bug
  backend/src/baserow/contrib/database/views/view_types.py
  changelog/entries/unreleased/bug/fix_a_bug_causing_an_error_importing_the_templates.json
Due: backend-lint

Fix broken record selector after hidden data merge
  backend/src/baserow/contrib/builder/elements/element_types.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/src/baserow/core/services/registries.py
Due: backend-lint

#2740 - add body validation for batch rows operation
  backend/src/baserow/contrib/database/api/rows/views.py
  changelog/entries/unreleased/bug/2740_rows_batch_operation_body_validation.json
Due: backend-lint

Fix reactivity issue when deleting user source
  changelog/entries/unreleased/bug/2867_builder_fix_reactivity_issue_when_deleting_user_source.json
  web-frontend/modules/builder/applicationTypes.js
Due: frontend-lint

body type validation tests
  backend/src/baserow/api/decorators.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/tests/baserow/api/test_api_decorators.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
Due: backend-lint

Fix existing tests.
  backend/tests/baserow/contrib/builder/api/data_sources/test_public_domain_views.py
Due: backend-lint

Lint fix
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
Due: backend-lint

Squashed commits to prep for rebase
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/settings/test.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/src/baserow/contrib/builder/data_sources/service.py
  backend/src/baserow/test_utils/helpers.py
  backend/tests/baserow/contrib/builder/api/data_sources/test_data_source_views.py
  backend/tests/baserow/contrib/builder/api/domains/test_domain_public_views.py
  backend/tests/baserow/contrib/builder/api/user_sources/helpers.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_service.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
  docker-compose.local-build.yml
  docker-compose.no-caddy.yml
  docker-compose.yml
Due: backend-lint

Add a namespace for the properties cache key
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Rename BASEROW_PUBLIC_FORMULA_FIELDS_CACHE_TTL_SECONDS to BASEROW_BUILDER_PUBLICLY_USED_PROPERTIES_CACHE_TTL_SECONDS
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/settings/test.py
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  docker-compose.local-build.yml
  docker-compose.no-caddy.yml
  docker-compose.yml
Due: backend-lint

Do not use the cache for unauthenticated users in the Preview.
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Do not use a prefix when the user is anonymous.
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

password fields not searchable
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint

tsv migration
  backend/src/baserow/contrib/database/migrations/0170_update_password_tsv_fields.py
Due: backend-lint

Add test to record selector element extract formula properties
  backend/src/baserow/test_utils/fixtures/element.py
  backend/tests/baserow/contrib/builder/elements/test_record_selector_element_type.py
Due: backend-lint

Add None default to get_name_property
  backend/src/baserow/core/services/registries.py
Due: backend-lint

Fix error for service with table without name property
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/builder/elements/test_record_selector_element_type.py
Due: backend-lint

Remove extra underscore
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
Due: backend-lint

Remove feature flag: FEATURE_FLAG_EXCLUDE_UNUSED_FIELDS
  backend/src/baserow/contrib/builder/data_sources/builder_dispatch_context.py
  backend/tests/baserow/contrib/builder/data_sources/test_data_source_handler.py
  backend/tests/baserow/contrib/builder/data_sources/test_dispatch_context.py
Due: backend-lint

Add changelog
  changelog/entries/unreleased/feature/2063_builder_only_return_data_source_field_data_when_used_by_a_fo.json
Due: none

Add new modal component
  changelog/entries/unreleased/refactor/1918_add_new_modal.json
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/ModalV2.vue
  web-frontend/modules/core/mixins/baseModalV2.js
  web-frontend/modules/core/mixins/modalv2.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/stories/ModalV2.stories.mdx
Due: frontend-lint

Review fixes part 2
  backend/src/baserow/core/import_export_handler.py
  backend/src/baserow/core/models.py
  backend/src/baserow/test_utils/fixtures/user_file.py
  backend/src/baserow/test_utils/helpers.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/api/import_export/test_export_applications_views.py
  backend/tests/baserow/contrib/database/export/test_export_applications.py
  enterprise/backend/tests/baserow_enterprise_tests/api/secure_file_serve/test_secure_file_serve_views.py
Due: backend-lint

Fix
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/ws/signals.py
  backend/tests/baserow/contrib/dashboard/test_dashboard_action_types.py
  web-frontend/modules/dashboard/components/DashboardHeader.vue
  web-frontend/modules/dashboard/components/DashboardHeaderMenuItems.vue
  web-frontend/modules/dashboard/store/dashboardApplication.js
Due: frontend-lint, backend-lint

Add missing type hint
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

Test fix
  enterprise/backend/tests/baserow_enterprise_tests/audit_log/test_audit_log_export_job.py
Due: none

fix button loading state
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
Due: frontend-lint

make the modal stretches to max width
  web-frontend/modules/core/assets/scss/components/modalv2.scss
Due: frontend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
