Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

frontend-lint:
  name: frontend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
  pass_filenames: false

backend-lint:
  name: backend lint
  language: system
  entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
  pass_filenames: false

replaced password inputs with password input component
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/components/settings/PasswordSettings.vue
  web-frontend/modules/core/pages/resetPassword.vue
Due: frontend-lint

removed prettierrc
  premium/web-frontend/.prettierrc
Due: none

made changes to isFormValid
  web-frontend/modules/core/components/helpers/PasswordInput.vue
Due: frontend-lint

reenabled loading while changing password
  web-frontend/modules/core/components/settings/PasswordSettings.vue
Due: frontend-lint

Fix not being able to delete a row with a blank single select field
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
Due: backend-lint

Initial fix for deleting fields and rows in the same perm delete batch
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  changelog.md
Due: backend-lint

Fix typo
  backend/src/baserow/contrib/database/trash/trash_types.py
Due: backend-lint

Nicer way of invalidating the cache inside the perm delete method instead of oddly doing it during a lookup
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registries.py
  backend/src/baserow/core/trash/trash_types.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
Due: backend-lint

Improve comment
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/core/trash/registries.py
Due: backend-lint

Add test for all human readable values getting a blank value
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/performance/test_trash_performance.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

copy already checked out data from filesystem
  heroku.Dockerfile
  heroku.yml
Due: none

changed docs
  README.md
  deploy/heroku/README.md
  docs/guides/installation/install-on-heroku.md
Due: none

fixed entrypoint
  heroku.yml
Due: none

updated docs
  docs/guides/installation/install-on-heroku.md
Due: none

fixed source
  heroku.yml
Due: none

Initial changes to ensure internal baserow containers are not insecurely exposed on the internet.
  docker-compose.dev.yml
  docker-compose.yml
  docs/development/dev_sh.md
  docs/guides/baserow-docker-how-to.md
  docs/guides/running-baserow-locally.md
  docs/reference/baserow-docker-api.md
Due: none

Fix typo in port
  docker-compose.yml
Due: none

Add changelog for fix
  changelog.md
Due: none

Fix doc typos
  docs/guides/baserow-docker-how-to.md
Due: none

Fix doc typos
  docs/guides/running-baserow-locally.md
  docs/reference/baserow-docker-api.md
Due: none

Update changelog to be clearer that these are breaking changes to docker-compose.yml
  changelog.md
Due: none

Prepare for 1.4.2
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/README.md
  docs/guides/installation/install-on-cloudron.md
  web-frontend/package.json
Due: frontend-lint, backend-lint

Update changelog.md
  changelog.md
Due: none

Missing whitespace...
  changelog.md
Due: none

Further update the docs explaining the issues with docker-compose.yml
  README.md
  docs/guides/baserow-docker-how-to.md
  docs/guides/running-baserow-locally.md
Due: none

Further update the docs explaining the issues with docker-compose.yml
  README.md
Due: none

Fix typo
  README.md
Due: none

Fix typo
  docs/guides/running-baserow-locally.md
Due: none

Fix typo
  docs/guides/baserow-docker-how-to.md
  docs/guides/running-baserow-locally.md
Due: none

changed how the value to set scrollTop of dropdown window to gets calculated
  web-frontend/modules/core/mixins/dropdown.js
Due: frontend-lint

Remove user table database and add management command to copy tables from one django database to another
  backend/Dockerfile
  backend/docker/Dockerfile.dev
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/database_routers.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
  backend/src/baserow/contrib/database/migrations/0011_link_row_column_name_fix.py
  backend/src/baserow/contrib/database/migrations/0020_fix_primary_link_row.py
  backend/src/baserow/contrib/database/migrations/0021_auto_20201215_2047.py
  backend/src/baserow/contrib/database/migrations/0022_row_order.py
  backend/src/baserow/contrib/database/migrations/0023_convert_int_to_bigint.py
  backend/src/baserow/contrib/database/migrations/0028_fix_negative_date.py
  backend/src/baserow/contrib/database/migrations/0031_fix_url_field_max_length.py
  backend/src/baserow/contrib/database/migrations/0032_trash.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/tests/baserow/contrib/database/field/test_file_field_type.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/migrations/test_database_migrations.py
  backend/tests/baserow/contrib/database/table/test_table_models.py
  backend/tests/baserow/contrib/database/test_database_application_type.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/conftest.py
  backend/tests/fixtures/field.py
  backend/tests/fixtures/table.py
Due: backend-lint

Fix uh, semi-correct but misleading command help text
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
Due: backend-lint

Make copy tables run as dry-run by default add more logging.
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
Due: backend-lint

Commit missing removal of db routers
  backend/src/baserow/config/settings/base.py
Due: backend-lint

changed comments
  web-frontend/modules/core/mixins/dropdown.js
Due: frontend-lint

added changelog entry
  changelog.md
Due: none

Fix name collision occurring when updating a link row field
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
Due: backend-lint

Fix duplicate names being possible when changing which table a link field points at
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
Due: backend-lint

Fix lint
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
Due: backend-lint

Path conditions:
  frontend-lint: any of: ^web-frontend/
  backend-lint: any of: ^backend/
