Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

diable multiple control
  web-frontend/stories/Dropdown.stories.mdx
Due: frontend-lint

continue
  web-frontend/stories/Dropdown.stories.mdx
Due: frontend-lint

update snapshot
  web-frontend/test/unit/core/components/__snapshots__/dropdown.spec.js.snap
Due: frontend-lint

handle error with a prop
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/core/components/ai/SelectAIModelForm.vue
  web-frontend/modules/core/components/onboarding/MoreStep.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/field/FieldCollaboratorDropdown.vue
  web-frontend/modules/database/components/field/FieldDateSubForm.vue
  web-frontend/modules/database/components/field/FieldDurationSubForm.vue
  web-frontend/modules/database/components/field/FieldLinkRowSubForm.vue
  web-frontend/modules/database/components/field/FieldNumberSubForm.vue
  web-frontend/modules/database/components/field/FieldRatingSubForm.vue
  web-frontend/modules/database/components/field/FieldRollupSubForm.vue
  web-frontend/modules/database/components/field/FieldSelectOptionsDropdown.vue
  web-frontend/modules/database/components/field/FieldSelectTargetFieldSubForm.vue
  web-frontend/modules/database/components/field/FieldSelectThroughFieldSubForm.vue
  web-frontend/modules/database/components/row/RowEditFieldMultipleCollaborators.vue
  web-frontend/modules/database/components/row/RowEditFieldMultipleSelect.vue
  web-frontend/modules/database/components/row/RowEditFieldSingleSelect.vue
  web-frontend/modules/database/components/view/form/FormViewFieldLinkRow.vue
  web-frontend/modules/database/components/view/form/FormViewFieldMultipleLinkRow.vue
  web-frontend/stories/Dropdown.stories.mdx
Due: frontend-lint

add story
  web-frontend/stories/Dropdown.stories.mdx
Due: frontend-lint

fix button type
  web-frontend/modules/core/pages/styleGuide.vue
Due: frontend-lint

fix dropdown height
  enterprise/web-frontend/modules/baserow_enterprise/builder/components/elements/AuthFormElementForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/teams/ManageTeamForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/TableElementForm.vue
  web-frontend/modules/builder/components/page/settings/PageSettingsPathParamsFormElement.vue
  web-frontend/modules/builder/components/theme/ImageThemeConfigBlock.vue
  web-frontend/modules/core/assets/scss/components/dropdown.scss
  web-frontend/modules/core/components/ColorPickerContext.vue
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/core/components/ai/SelectAIModelForm.vue
  web-frontend/modules/core/components/integrations/IntegrationDropdown.vue
  web-frontend/modules/core/components/workflowActions/WorkflowActionSelector.vue
  web-frontend/modules/core/components/workspace/WorkspaceInviteForm.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/core/pages/styleGuide.vue
  web-frontend/modules/database/components/docs/APIDocsExample.vue
  web-frontend/modules/database/components/field/FieldDateSubForm.vue
  web-frontend/modules/database/components/field/FieldDurationSubForm.vue
  web-frontend/modules/database/components/field/FieldLinkRowSubForm.vue
  web-frontend/modules/database/components/field/FieldNumberSubForm.vue
  web-frontend/modules/database/components/field/FieldRatingSubForm.vue
  web-frontend/modules/database/components/field/FieldRollupSubForm.vue
  web-frontend/modules/database/components/field/FieldSelectTargetFieldSubForm.vue
  web-frontend/modules/database/components/field/FieldSelectThroughFieldSubForm.vue
  web-frontend/modules/database/components/view/ViewFieldConditionItem.vue
  web-frontend/modules/database/components/view/ViewFilterFormOperator.vue
  web-frontend/modules/database/components/view/ViewFilterTypeFileTypeDropdown.vue
  web-frontend/modules/database/components/view/ViewFilterTypeMultiStepDate.vue
  web-frontend/modules/database/components/view/ViewGroupByContext.vue
  web-frontend/modules/database/components/view/ViewSortContext.vue
  web-frontend/modules/integrations/localBaserow/components/services/LocalBaserowTableServiceSortForm.vue
  web-frontend/stories/Dropdown.stories.mdx
  web-frontend/stories/FormGroup.stories.mdx
  web-frontend/stories/FormInput.stories.mdx
  web-frontend/stories/FormTextarea.stories.mdx
  web-frontend/stories/SwitchInput.stories.mdx
  web-frontend/test/unit/database/components/view/__snapshots__/viewFilterForm.spec.js.snap
Due: frontend-lint

removed some not needed small properties
  web-frontend/modules/builder/components/FontFamilySelector.vue
  web-frontend/modules/builder/components/dataSource/DataSourceDropdown.vue
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/builder/components/elements/components/forms/VisibilityForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/ColumnElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/HeadingElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/InputTextElementForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/LinkNavigationSelectionForm.vue
  web-frontend/modules/builder/components/elements/components/forms/style/DefaultStyleForm.vue
  web-frontend/modules/builder/components/workflowAction/RefreshDataSourceWorkflowActionForm.vue
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/core/components/Picker.vue
  web-frontend/modules/core/components/ai/SelectAIModelForm.vue
  web-frontend/modules/core/components/services/ServiceSchemaPropertySelector.vue
  web-frontend/modules/database/components/field/FieldDateSubForm.vue
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/components/field/FieldLinkRowSubForm.vue
  web-frontend/modules/database/components/table/ImportFileModal.vue
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
  web-frontend/modules/database/components/view/ViewFilterTypeMultipleSelectOptions.vue
  web-frontend/modules/database/components/view/ViewFilterTypeSelectOptions.vue
  web-frontend/modules/database/components/view/form/FormViewFieldMultipleLinkRow.vue
  web-frontend/modules/database/components/webhook/WebhookForm.vue
  web-frontend/modules/integrations/localBaserow/components/services/LocalBaserowTableSelector.vue
  web-frontend/test/unit/database/components/view/__snapshots__/viewDecoratorContext.spec.js.snap
Due: frontend-lint

continue
  web-frontend/modules/core/components/onboarding/MoreStep.vue
  web-frontend/modules/database/components/field/FieldCollaboratorDropdown.vue
  web-frontend/modules/database/components/field/FieldSelectOptionsDropdown.vue
  web-frontend/modules/database/components/row/RowEditFieldSingleSelect.vue
Due: frontend-lint

removed not needed error prop
  web-frontend/modules/database/components/field/FieldSelectOptionsDropdown.vue
Due: frontend-lint

continue
  enterprise/web-frontend/modules/baserow_enterprise/integrations/localBaserow/components/userSources/LocalBaserowUserSourceForm.vue
  web-frontend/modules/builder/components/elements/components/forms/general/RepeatElementForm.vue
  web-frontend/modules/builder/components/userSource/CreateUserSourceForm.vue
  web-frontend/modules/builder/components/userSource/UpdateUserSourceForm.vue
  web-frontend/modules/core/components/ai/SelectAIModelForm.vue
  web-frontend/modules/core/components/integrations/IntegrationDropdown.vue
  web-frontend/modules/integrations/localBaserow/components/services/LocalBaserowTableSelector.vue
Due: frontend-lint

use error prop
  premium/web-frontend/modules/baserow_premium/components/field/FieldAISubForm.vue
  web-frontend/modules/database/components/field/FieldForm.vue
Due: frontend-lint

fix slot name
  web-frontend/modules/database/components/view/ViewFilterTypeMultiStepDate.vue
Due: frontend-lint

fix dropdown variants in styleguide
  web-frontend/modules/core/pages/styleGuide.vue
Due: frontend-lint

few more fixing
  web-frontend/modules/builder/components/dataSource/DataSourceForm.vue
  web-frontend/modules/core/components/settings/AccountForm.vue
  web-frontend/modules/database/components/field/FieldCollaboratorDropdown.vue
  web-frontend/modules/database/components/field/FieldSelectOptionsDropdown.vue
  web-frontend/modules/database/components/row/RowEditFieldSingleSelect.vue
  web-frontend/modules/database/components/view/ViewFilterTypeCollaborators.vue
  web-frontend/modules/database/components/view/ViewFilterTypeMultiStepDate.vue
Due: frontend-lint

handle dashboard app type
  web-frontend/modules/dashboard/applicationTypes.js
  web-frontend/modules/dashboard/components/form/DashboardForm.vue
  web-frontend/modules/dashboard/components/form/DashboardFormFooter.vue
Due: frontend-lint

set wrapper width
  web-frontend/modules/core/assets/scss/components/modalv2.scss
Due: frontend-lint

fix loading container width
  web-frontend/modules/core/assets/scss/components/row_edit_modal.scss
  web-frontend/modules/database/components/row/RowEditModal.vue
Due: frontend-lint

adhoc filter serializer - do not add artificial default for a value field
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/tests/baserow/contrib/database/view/test_adhoc_filters.py
Due: backend-lint

removed comment
  backend/tests/baserow/contrib/database/view/test_adhoc_filters.py
Due: backend-lint

Refactor UI for workspace applications export
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/src/baserow/core/import_export_handler.py
  backend/src/baserow/core/job_types.py
  backend/tests/baserow/api/import_export/test_export_applications_views.py
  backend/tests/baserow/contrib/database/export/test_export_applications.py
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/exports_modal.scss
  web-frontend/modules/core/components/export/ExportWorkspaceForm.vue
  web-frontend/modules/core/components/export/ExportWorkspaceListItem.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/components/snapshots/SnapshotListItem.vue
  web-frontend/modules/core/components/snapshots/SnapshotsModal.vue
  web-frontend/modules/core/jobTypes.js
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/mixins/timeAgo.js
  web-frontend/modules/core/plugin.js
  web-frontend/modules/core/services/workspace.js
Due: frontend-lint, backend-lint

Use proper action types instead of the row handler in local_baserow service_types
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
  backend/tests/baserow/contrib/integrations/local_baserow/test_integration_signals.py
Due: backend-lint

Add changelog entry
  changelog/entries/unreleased/refactor/builder_create_update_and_delete_workflow_actions_will_now_a.json
Due: none

Address feedback
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/integrations/local_baserow/service_types.py
Due: backend-lint

added tests
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
  enterprise/backend/tests/baserow_enterprise_tests/data_sync/test_jira_issues_data_sync.py
  enterprise/backend/tests/baserow_enterprise_tests/data_sync/test_local_baserow_table_data_sync_type.py
Due: none

removed print
  enterprise/backend/src/baserow_enterprise/data_sync/data_sync_types.py
Due: none

cleanup
  backend/src/baserow/contrib/database/data_sync/handler.py
  enterprise/backend/tests/baserow_enterprise_tests/data_sync/test_jira_issues_data_sync.py
Due: backend-lint

Review fixes
  backend/src/baserow/api/workspaces/urls.py
  backend/src/baserow/api/workspaces/views.py
  backend/tests/baserow/api/import_export/test_export_applications_views.py
  web-frontend/modules/core/components/export/ExportWorkspaceListItem.vue
  web-frontend/modules/core/components/export/ExportWorkspaceModal.vue
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/mixins/timeAgo.js
  web-frontend/modules/core/services/workspace.js
Due: frontend-lint, backend-lint

Create database/application modal
  changelog/entries/unreleased/refactor/1918_refactor_create_application_modal.json
  web-frontend/modules/builder/applicationTypes.js
  web-frontend/modules/builder/components/form/BuilderForm.vue
  web-frontend/modules/builder/components/form/BuilderFormFooter.vue
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/dashboard/applicationTypes.js
  web-frontend/modules/dashboard/components/form/DashboardForm.vue
  web-frontend/modules/dashboard/components/form/DashboardFormFooter.vue
  web-frontend/modules/database/applicationTypes.js
  web-frontend/modules/database/components/airtable/AirtableImportForm.vue
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/form/BlankDatabaseForm.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
  web-frontend/modules/database/components/form/DatabaseFormFooter.vue
  web-frontend/modules/database/components/onboarding/DatabaseStep.vue
Due: frontend-lint

Fix AI form and validation
  changelog/entries/unreleased/bug/fix_ai_form_and_validation.json
  premium/web-frontend/modules/baserow_premium/components/field/AIFormulaForm.vue
  premium/web-frontend/modules/baserow_premium/components/field/FieldAISubForm.vue
  web-frontend/modules/core/components/ai/SelectAIModelForm.vue
Due: frontend-lint

pleased linter
  premium/web-frontend/modules/baserow_premium/components/field/AIFormulaForm.vue
Due: none

Update serializer
  backend/src/baserow/api/workspaces/views.py
Due: backend-lint

Update snapshots modal
  backend/src/baserow/api/workspaces/views.py
  web-frontend/modules/core/components/snapshots/SnapshotListItem.vue
  web-frontend/modules/core/components/snapshots/SnapshotsModal.vue
Due: frontend-lint, backend-lint

Include field description in export/import
  backend/src/baserow/contrib/database/fields/registries.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/field/test_created_by_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_last_modified_by_field_type.py
  changelog/entries/unreleased/bug/3022_include_field_description_export_import.json
Due: backend-lint

Fix AI field references when table is duplicated
  changelog/entries/unreleased/bug/2747_keep_ai_field_reference_on_table_duplication.json
  premium/backend/src/baserow_premium/fields/field_types.py
  premium/backend/src/baserow_premium/fields/visitors.py
  premium/backend/tests/baserow_premium_tests/fields/test_ai_field_type.py
  premium/backend/tests/baserow_premium_tests/fields/test_ai_field_visitors.py
Due: none

fix test
  backend/src/baserow/contrib/database/fields/field_helpers.py
Due: backend-lint

address feedback
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_comments.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/row_edit_modal_comments_notification_mode.scss
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowEditModalCommentNotificationMode.vue
  web-frontend/modules/core/assets/scss/components/modalv2.scss
  web-frontend/modules/core/assets/scss/components/row_history.scss
  web-frontend/modules/core/assets/scss/components/tabs.scss
  web-frontend/modules/core/components/ModalV2.vue
  web-frontend/modules/core/components/Tab.vue
  web-frontend/modules/database/components/row/RowEditFieldMultipleCollaborators.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/row/RowEditModalSidebar.vue
  web-frontend/modules/database/components/row/RowHistorySidebar.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/stories/ModalV2.stories.mdx
Due: frontend-lint

add new login page
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/auth_provider_buttons.scss
  enterprise/web-frontend/modules/baserow_enterprise/assets/scss/components/auth_provider_icon.scss
  enterprise/web-frontend/modules/baserow_enterprise/components/admin/login/LoginButton.vue
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/auth.scss
  web-frontend/modules/core/assets/scss/components/button.scss
  web-frontend/modules/core/assets/scss/components/form.scss
  web-frontend/modules/core/assets/scss/components/password_login.scss
  web-frontend/modules/core/assets/scss/helpers.scss
  web-frontend/modules/core/components/FormGroup.vue
  web-frontend/modules/core/components/auth/Login.vue
  web-frontend/modules/core/components/auth/LoginButtons.vue
  web-frontend/modules/core/components/auth/PasswordLogin.vue
  web-frontend/modules/core/locales/en.json
  web-frontend/stories/FormGroup.stories.mdx
Due: frontend-lint

add new spacing helpers classes
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/password_login.scss
  web-frontend/modules/core/assets/scss/helpers.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/auth/Login.vue
  web-frontend/modules/core/components/auth/PasswordLogin.vue
Due: frontend-lint

please linter
  web-frontend/modules/core/components/auth/LoginButtons.vue
Due: frontend-lint
