Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Use COMBINED_FILTER_VALUE_SEPARATOR
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Restore original behavior
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Update docstring
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Add test case for almost-correct filter values
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Fix lint errors
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Fix bug with duration field
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Fix linting errors
  backend/src/baserow/contrib/database/views/view_filters.py
Due: backend-lint

Add changelog entry
  changelog/entries/unreleased/feature/1989_number_range_filter_type.json
Due: none

#2773 allow to limit concurrency for uvicron worker
  Makefile
  backend/docker/docker-entrypoint.sh
  backend/src/baserow/config/gunicorn_worker.py
  changelog/entries/unreleased/bug/2773_gunicorn_asgi_limit_concurrency.json
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/docker-compose.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
Due: backend-lint

updated var name, docs
  backend/src/baserow/config/gunicorn_worker.py
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/docker-compose.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docs/installation/configuration.md
Due: backend-lint

naming fix
  backend/src/baserow/config/gunicorn_worker.py
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/docker-compose.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docs/installation/configuration.md
Due: backend-lint

upgrade example
  enterprise/web-frontend/modules/baserow_enterprise/components/admin/forms/GitLabSettingsForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/admin/forms/OAuth2SettingsForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/admin/forms/OpenIdConnectSettingsForm.vue
  enterprise/web-frontend/modules/baserow_enterprise/components/admin/forms/SamlSettingsForm.vue
  web-frontend/config/nuxt.config.base.js
  web-frontend/config/nuxt.config.dev.js
  web-frontend/modules/core/mixins/form.js
  web-frontend/modules/core/module.js
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/plugins/vuelidate.js
  web-frontend/modules/core/validators.js
  web-frontend/package.json
  web-frontend/test/helpers/components.js
  web-frontend/test/helpers/testApp.js
  web-frontend/test/unit/core/components/passwordInput.spec.js
  web-frontend/test/unit/core/pages/__snapshots__/forgotPassword.spec.js.snap
  web-frontend/test/unit/core/pages/forgotPassword.spec.js
  web-frontend/test/unit/database/components/export/__snapshots__/exportTableModal.spec.js.snap
  web-frontend/yarn.lock
Due: frontend-lint

Skip optimization
  backend/src/baserow/contrib/database/fields/dependencies/update_collector.py
  backend/tests/baserow/contrib/database/field/dependencies/test_update_collector.py
Due: backend-lint

Extend group deprecation to Sep 2024
  backend/src/baserow/compat/api/conf.py
Due: backend-lint

#2846 plugin boilerplate deps updated
  changelog/entries/unreleased/bug/2846_plugin_boilerplate_deps.json
  plugin-boilerplate/{{ cookiecutter.project_slug }}/plugins/{{ cookiecutter.project_module }}/backend/requirements/base.in
  plugin-boilerplate/{{ cookiecutter.project_slug }}/plugins/{{ cookiecutter.project_module }}/backend/requirements/base.txt
  plugin-boilerplate/{{ cookiecutter.project_slug }}/plugins/{{ cookiecutter.project_module }}/backend/requirements/dev.in
  plugin-boilerplate/{{ cookiecutter.project_slug }}/plugins/{{ cookiecutter.project_module }}/backend/requirements/dev.txt
Due: none

#2846 plugin boilerplate deps updated
  plugin-boilerplate/{{ cookiecutter.project_slug }}/plugins/{{ cookiecutter.project_module }}/backend/requirements/base.in
  plugin-boilerplate/{{ cookiecutter.project_slug }}/plugins/{{ cookiecutter.project_module }}/backend/requirements/dev.txt
Due: none

Initial version of onboarding field step
  web-frontend/modules/core/assets/scss/components/onboarding_tool_preview.scss
  web-frontend/modules/core/components/onboarding/AppLayoutPreview.vue
  web-frontend/modules/core/pages/onboarding.vue
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseTablePreview.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/onboardingTypes.js
  web-frontend/modules/database/plugin.js
Due: frontend-lint

Fields support upgrade + own field + fixes
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
  web-frontend/modules/database/components/onboarding/DatabaseTablePreview.vue
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

Update file posthog.js
  web-frontend/modules/core/plugins/posthog.js
Due: frontend-lint

Update posthog.js
  web-frontend/modules/core/plugins/posthog.js
Due: frontend-lint

Show fields for customized table
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

Fix issue with choosing own field
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
Due: frontend-lint

Add custom field form styling
  web-frontend/modules/core/assets/scss/components/onboarding.scss
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

Own field name validation
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
Due: frontend-lint

Make descriptions consistent
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

canSkip
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/onboardingTypes.js
Due: frontend-lint

Initial version of backend integration
  web-frontend/modules/database/onboardingTypes.js
Due: frontend-lint

Update rows on backend including single_select field
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
  web-frontend/modules/database/onboardingTypes.js
Due: frontend-lint

Fix for teams.roles field
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
Due: frontend-lint

Fixes
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
  web-frontend/modules/database/components/onboarding/DatabaseTablePreview.vue
Due: frontend-lint

Review fixes
  web-frontend/modules/core/registry.js
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStepDataMixin.js
  web-frontend/modules/database/databaseScratchTrackFieldsStepType.js
  web-frontend/modules/database/plugin.js
Due: frontend-lint

use afterFieldCreated logic
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/databaseScratchTrackFieldsStepType.js
  web-frontend/modules/database/onboardingTypes.js
Due: frontend-lint

refactor icons
  web-frontend/modules/database/databaseScratchTrackFieldsStepType.js
Due: frontend-lint

Initial logic for view step
  web-frontend/modules/database/components/onboarding/DatabaseAppLayoutPreview.vue
  web-frontend/modules/database/components/onboarding/DatabaseGalleryPreview.vue
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseViewStep.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/onboardingTypes.js
  web-frontend/modules/database/plugin.js
Due: frontend-lint

Activate PostHog autocapture for onboarding and some elements in panel
  web-frontend/modules/core/components/NotificationPanel.vue
  web-frontend/modules/core/components/sidebar/SidebarMenu.vue
  web-frontend/modules/core/components/workspace/WorkspaceContext.vue
  web-frontend/modules/core/pages/onboarding.vue
  web-frontend/modules/core/pages/workspace.vue
Due: frontend-lint

Review fixes
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/onboarding_tool_preview.scss
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/databaseScratchTrackFieldsStepType.js
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/locales/en.json
Due: frontend-lint

Fix hidden fields
  web-frontend/locales/en.json
  web-frontend/modules/database/components/onboarding/DatabaseScratchTrackFieldsStep.vue
  web-frontend/modules/database/components/onboarding/DatabaseTablePreview.vue
Due: frontend-lint
