Repository lightpoichich/baserow: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, backend-lint

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:
            -   id: frontend-lint
                name: frontend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps web-frontend lint'
                pass_filenames: false
                files: ^web-frontend/
    -   repo: local
        hooks:
            -   id: backend-lint
                name: backend lint
                language: system
                entry: bash -c 'docker-compose -f docker-compose.yml -f docker-compose.dev.yml run --no-deps backend lint'
                pass_filenames: false
                files: ^backend/

Add changelog
  changelog.md
Due: none

Update changelog.md
  changelog.md
Due: none

Fix and make frontend and backend tests the same
  backend/tests/baserow/contrib/database/field/test_field_types.py
  web-frontend/test/unit/core/utils/string.spec.js
Due: frontend-lint, backend-lint

Revert accidental debug commit
  backend/src/baserow/contrib/database/db/schema.py
Due: backend-lint

Fix missing dep + make frontend regex easier to understand and compare with backend
  backend/requirements/base.txt
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  web-frontend/modules/core/utils/string.js
  web-frontend/test/unit/core/utils/string.spec.js
Due: frontend-lint, backend-lint

Flip ordering of frontend macro to make it easier to compare
  web-frontend/modules/core/utils/string.js
Due: frontend-lint

Add attribute names optional flag to list_rows api endpoint
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/table/test_table_models.py
Due: backend-lint

Add attribute names optional flag to row api endpoint
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
Due: backend-lint

created initial html and css code
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/choice_items.scss
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/core/assets/scss/helpers.scss
  web-frontend/modules/database/components/table/Table.vue
  web-frontend/modules/database/components/view/ViewsContextItem.vue
  web-frontend/modules/database/components/view/form/FormView.vue
  web-frontend/modules/database/components/view/form/FormViewHeader.vue
  web-frontend/modules/database/pages/form.vue
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/routes.js
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint

Add attribute names to grid list rows endpoint
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
Due: backend-lint

Move mapping from internal id's to usernames entirely into serializer drf layer so we can have json keys exactly matching the user defined names
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/test_utils.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint

Fix bad auto intellij import
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
Due: backend-lint

Fix lint and tests
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
Due: backend-lint

made it possible to add and remove field to the form
  backend/src/baserow/contrib/database/migrations/0032_auto_20210622_1631.py
  backend/src/baserow/contrib/database/views/models.py
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/components/view/form/FormView.vue
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewMeta.vue
  web-frontend/modules/database/components/view/form/FormViewPreview.vue
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/mixins/formViewHelpers.js
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/services/view.js
  web-frontend/modules/database/store/view/form.js
  web-frontend/modules/database/viewTypes.js
Due: frontend-lint, backend-lint

made it possible to rotate the form slug
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/views/form/urls.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/migrations/0032_auto_20210628_2151.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/contrib/database/view/test_view_models.py
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/components/view/form/FormViewHeader.vue
  web-frontend/modules/database/routes.js
  web-frontend/modules/database/services/view/form.js
Due: frontend-lint, backend-lint

wip
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  backend/tests/baserow/contrib/database/table/test_table_models.py
Due: backend-lint

show form input in preview
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/database/components/view/form/FormView.vue
  web-frontend/modules/database/components/view/form/FormViewField.vue
Due: frontend-lint

made it possible to unselect field by clicking outside
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewPreview.vue
Due: frontend-lint

Enforce unique field names on the server side
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
Due: backend-lint

Make the create table endpoint also validate field names are unique if data is provided
  backend/src/baserow/contrib/database/api/tables/errors.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/table/test_table_handler.py
Due: backend-lint

Appease linter
  backend/src/baserow/contrib/database/api/tables/errors.py
Due: backend-lint

Force name uniqueness and non reserved clashing using vuelidate on the frontend
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/store/field.js
Due: frontend-lint

Fix the frontend not matching the backends trimming beahviour
  web-frontend/modules/database/components/field/FieldForm.vue
Due: frontend-lint

made it possible to upload the cover and logo image
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/core/directives/userFileUpload.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/components/view/form/FormViewImageUpload.vue
  web-frontend/modules/database/components/view/form/FormViewPreview.vue
Due: frontend-lint

Add validation to table importer to check field names are unique and not reserved
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TableJSONImporter.vue
  web-frontend/modules/database/components/table/TablePasteImporter.vue
  web-frontend/modules/database/components/table/TableXMLImporter.vue
  web-frontend/modules/database/mixins/importer.js
Due: frontend-lint

Fix frontend test fixing bug with new getter
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/store/field.js
Due: frontend-lint

made it possible to order the fields in the form view
  backend/src/baserow/contrib/database/api/views/form/serializers.py
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/core/components/group/GroupsContext.vue
  web-frontend/modules/core/components/sidebar/Sidebar.vue
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/core/utils/dom.js
  web-frontend/modules/database/components/sidebar/Sidebar.vue
  web-frontend/modules/database/components/view/ViewsContext.vue
  web-frontend/modules/database/components/view/form/FormView.vue
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewPreview.vue
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
  web-frontend/modules/database/store/view/form.js
Due: frontend-lint, backend-lint

Add migration with test
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0032_unique_field_names.py
  backend/tests/baserow/contrib/database/migrations/test_database_migrations.py
Due: backend-lint

Add missing requirement
  backend/requirements/dev.txt
Due: backend-lint

added compatibility with the read only mode
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/database/components/view/form/FormView.vue
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewHeader.vue
  web-frontend/modules/database/components/view/form/FormViewMeta.vue
  web-frontend/modules/database/components/view/form/FormViewPreview.vue
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
Due: frontend-lint

fixed bug where the context menu would dissappear
  web-frontend/modules/database/components/view/form/FormViewField.vue
  web-frontend/modules/database/components/view/form/FormViewHeader.vue
Due: frontend-lint

Small cleanups + fix tests by just doing the migration ourselves instead of using the pytest plugin as it does not work well at all with our user tables setup
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/migrations/test_database_migrations.py
  backend/tests/conftest.py
  changelog.md
Due: backend-lint

Fix lint remove dep
  backend/requirements/dev.txt
  backend/tests/conftest.py
Due: backend-lint

Cleanup migration script
  backend/src/baserow/contrib/database/migrations/0032_unique_field_names.py
Due: backend-lint

Fix end of line
  backend/requirements/dev.txt
Due: backend-lint

Move validate header func out
  backend/src/baserow/contrib/database/fields/handler.py
  web-frontend/modules/database/mixins/importer.js
Due: frontend-lint, backend-lint

Change link row related field name to include the field it is coming from
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
Due: backend-lint

Fix template and slightly change link field naming convention again to behave the same way as before intially, then to try to use the field name, and then to start trying numbers
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/templates/project-management.json
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
Due: backend-lint
